@use '../../../common/scss/global.scss';
@use '../../../common/scss/mixins.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: inline-block;
}

.badge {
  @include typography.type-ui-03;
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 4px;

  background-color: aqua;

  &-heavy {
    &-success {
      background-color: var();
      color: var();

      svg {
        fill: var();
      }
    }

    &-critical {
      background-color: var();
      color: var();

      svg {
        fill: var();
      }
    }

    &-error {
      background-color: var();
      color: var();

      svg {
        fill: var();
      }
    }

    &-warning {
      background-color: var();
      color: var();

      svg {
        fill: var();
      }
    }

    &-information {
      background-color: var();
      color: var();

      svg {
        fill: var();
      }
    }

    &-others {
      background-color: var();
      color: var();

      ::slotted(span) {
        color: var();
      }
    }
  }

  &-medium {
    &-success {
      border: 0.5px solid;
    }

    &-critical {
      border: 0.5px solid;
    }

    &-error {
      border: 0.5px solid;
    }

    &-warning {
      border: 0.5px solid;
    }

    &-information {
      border: 0.5px solid;
    }

    &-others {
      border: 0.5px solid;
    }
  }

  &-light {
    &-success {
      background-color: lightgray;
    }

    &-critical {
      background-color: lightgray;
    }

    &-error {
      background-color: lightgray;
    }

    &-warning {
      background-color: lightgray;
    }

    &-information {
      background-color: lightgray;
    }

    &-others {
      background-color: lightgray;
    }
  }
}

.badge-medium {
}

.badge-small {
}

.badge-icon {
  span {
    display: flex;
    margin-right: 4px;
  }

  ::slotted(span) {
    display: flex;
    margin-right: 4px;
  }

  &.icon-only {
    span {
      margin-right: 0px;
    }

    ::slotted(span) {
      margin-right: 0px;
    }
  }
}

.badge-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 161px;

  &.no-truncation {
    max-width: none;
  }
}
