@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: inline-block;
}

.badge {
  @include typography.type-ui-03;
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 4px;
  gap: 4px;

  &-heavy {
    &-success {
      background-color: var(--kd-color-badge-heavy-background-success);
      color: var(--kd-color-badge-heavy-text-success);

      svg {
        fill: var(--kd-color-badge-heavy-icon-success);
      }
    }

    &-critical {
      background-color: var(--kd-color-badge-heavy-background-critical);
      color: var(--kd-color-badge-heavy-text-critical);

      svg {
        fill: var(--kd-color-badge-heavy-icon-critical);
      }
    }

    &-error {
      background-color: var(--kd-color-badge-heavy-background-error);
      color: var(--kd-color-badge-heavy-text-error);

      svg {
        fill: var(--kd-color-badge-heavy-icon-error);
      }
    }

    &-warning {
      background-color: var(--kd-color-badge-heavy-background-warning);
      color: var(--kd-color-badge-heavy-text-warning);

      svg {
        fill: var(--kd-color-badge-heavy-icon-warning);
      }
    }

    &-information {
      background-color: var(--kd-color-badge-heavy-background-information);
      color: var(--kd-color-badge-heavy-text-information);

      svg {
        fill: var(--kd-color-badge-heavy-icon-information);
      }
    }

    &-others {
      background-color: var(--kd-color-badge-heavy-background-others);
      color: var(--kd-color-badge-heavy-text-others);

      svg {
        fill: var(--kd-color-badge-heavy-icon-others);
      }
    }
  }

  &-medium {
    &-success {
      background-color: var(--kd-color-badge-medium-background-success);
      color: var(--kd-color-badge-medium-text-success);
      border: 0.5px solid var(--kd-color-badge-medium-border-success);

      svg {
        fill: var(--kd-color-badge-medium-icon-success);
      }
    }

    &-critical {
      background-color: var(--kd-color-badge-medium-background-critical);
      color: var(--kd-color-badge-medium-text-critical);
      border: 0.5px solid var(--kd-color-badge-medium-border-critical);

      svg {
        fill: var(--kd-color-badge-medium-icon-critical);
      }
    }

    &-error {
      background-color: var(--kd-color-badge-medium-background-error);
      color: var(--kd-color-badge-medium-text-error);
      border: 0.5px solid var(--kd-color-badge-medium-border-error);

      svg {
        fill: var(--kd-color-badge-medium-icon-error);
      }
    }

    &-warning {
      background-color: var(--kd-color-badge-medium-background-warning);
      color: var(--kd-color-badge-medium-text-warning);
      border: 0.5px solid var(--kd-color-badge-medium-border-warning);

      svg {
        fill: var(--kd-color-badge-medium-icon-warning);
      }
    }

    &-information {
      background-color: var(--kd-color-badge-medium-background-information);
      color: var(--kd-color-badge-medium-text-information);
      border: 0.5px solid var(--kd-color-badge-medium-border-information);

      svg {
        fill: var(--kd-color-badge-medium-icon-information);
      }
    }

    &-others {
      background-color: var(--kd-color-badge-medium-background-others);
      color: var(--kd-color-badge-medium-text-others);
      border: 0.5px solid var(--kd-color-badge-medium-border-others);

      svg {
        fill: var(--kd-color-badge-medium-icon-others);
      }
    }
  }

  &-light {
    &-success {
      background-color: var(--kd-color-badge-light-background-success);
      color: var(--kd-color-badge-light-text-success);

      svg {
        fill: var(--kd-color-badge-light-icon-success);
      }
    }

    &-critical {
      background-color: var(--kd-color-badge-light-background-critical);
      color: var(--kd-color-badge-light-text-critical);

      svg {
        fill: var(--kd-color-badge-light-icon-critical);
      }
    }

    &-error {
      background-color: var(--kd-color-badge-light-background-error);
      color: var(--kd-color-badge-light-text-error);

      svg {
        fill: var(--kd-color-badge-light-icon-error);
      }
    }

    &-warning {
      background-color: var(--kd-color-badge-light-background-warning);
      color: var(--kd-color-badge-light-text-warning);

      svg {
        fill: var(--kd-color-badge-light-icon-warning);
      }
    }

    &-information {
      background-color: var(--kd-color-badge-light-background-information);
      color: var(--kd-color-badge-light-text-information);

      svg {
        fill: var(--kd-color-badge-light-icon-information);
      }
    }

    &-others {
      background-color: var(--kd-color-badge-light-background-others);
      color: var(--kd-color-badge-light-text-others);

      svg {
        fill: var(--kd-color-badge-light-icon-others);
      }
    }
  }
}

.badge-medium {
  height: 24px;
}

.badge-small {
  height: 20px;
}

.badge-icon {
  span,
  ::slotted(span) {
    display: flex;
  }
}

.badge-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 161px;

  &.no-truncation {
    max-width: none;
  }
}
