.interactive {
  border: none;
  cursor: pointer;
  transition: background-color 150ms ease-out, color 150ms ease-out;

  &:hover,
  &:focus {
    color: var(--color-primary-hover);
  }
}

.menu {
  position: relative;

  .interactive {
    position: relative;
    border: 0;
    cursor: pointer;
    transition: background-color 150ms ease-out, color 150ms ease-out;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 2px;
      transition: background-color 150ms ease-out;
    }
  }

  &__content {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 16px;
    background: var(--color-background);
    box-shadow: var(--shadow-menu);
    transition: visibility 0.15s, opacity 0.15s ease-in-out,
      transform 0.15s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0px, -10%, 0px);
    z-index: -1;

    strong {
      font-weight: 500;
    }

    &--left {
      right: auto;
      left: 0;
    }
  }

  &:focus-within,
  &:hover {
    .interactive {
      color: var(--color-primary-focus);
      background: var(--color-background-focus);
      border-top-color: var(--color-primary);

      &::after {
        background-color: var(--color-primary-focus);
      }
    }

    .menu__content {
      visibility: visible;
      opacity: 1;
      transform: translate3d(0px, 0px, 0px);
      z-index: initial;
    }
  }
}
