@import '../../../common/scss/global.scss';
@import './header-interactive.scss';

:host {
  display: block;
  position: relative;
}

::slotted(kyn-header-link) {
  flex-grow: 1;
  padding-left: 16px;
}

.nav-link {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 16px;
  font-size: 0.875rem;
  text-decoration: none;
  color: var(--color-text);
  white-space: nowrap;
  outline: none;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    transition: background-color 150ms ease-out;
  }

  &.active {
    color: var(--color-primary-focus);
    background: var(--color-background-focus);

    &::before {
      background-color: var(--color-primary-focus);
    }
  }

  .breakpoint-hit & {
    justify-content: flex-end;

    &::before {
      top: 0;
      left: 0;
      right: 0;
      height: 2px;
      width: auto;
      transition: background-color 150ms ease-out;
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: calc(100% - 32px);
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    right: 16px;
    top: auto;
    background-color: var(--color-brand);
    transform-origin: bottom left;
    transition: transform 0.15s ease-out;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
}

.level {
  &--1 {
    height: 38px;

    .breakpoint-hit & {
      padding: 0 5px;

      &::after {
        content: none;
      }
    }

    &.interactive {
      height: var(--header-height);
    }
  }

  &--2 {
    height: 38px;

    &:hover {
      color: var(--color-text);
    }
  }
}

slot {
  display: flex;
}

.menu__content {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 0;
}

kyn-icon {
  margin-left: 4px;
}

.static {
  flex-direction: column;
}
