@use '../../../common/scss/global.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
  min-width: 0; // Allow host to shrink in grid/flex containers
}

.category {
  display: flex;
  flex-direction: column;
  gap: 2px;

  &.divider::after {
    content: '';
    display: block;
    background: none;
    border: none;
    margin: 6px 8px;
    height: 1px;
    background: var(--kd-color-border-level-tertiary);
  }
}

.category__links {
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-width: 0; // Allow flex container to shrink for text truncation

  &.left-padding {
    padding-left: 24px;
  }
}

.heading {
  @include typography.type-ui-03;

  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content; // Don't stretch to fill parent column
  color: var(--kd-color-text-variant-brand);
  font-weight: var(--kd-font-weight-medium);
  text-transform: uppercase;
  padding: 7px 6px 0 8px;

  &.left-padding {
    padding-left: 36px;
  }

  // Hide heading when empty (no text and no icon)
  &.empty {
    display: none;
  }
}

slot[name='icon']::slotted(*) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  color: var(--kd-color-icon-primary);
}
