@import '../../../common/scss/global.scss';
@import './header-interactive.scss';

:host {
  display: inline-block;
  position: relative;
}

.nav-link {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 16px;
  font-size: 0.875rem;
  text-decoration: none;
  color: var(--color-text);
  white-space: nowrap;
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: background-color 150ms ease-out, color 150ms ease-out,
    outline-color 150ms ease-out;

  &:focus {
    outline-color: var(--color-primary-hover);
  }
}

.level {
  &--1 {
    height: 38px;

    &:hover {
      color: var(--color-text-hover);
      background: var(--color-background-hover);
    }

    &.interactive {
      height: 48px;

      &:hover {
        color: var(--color-text);
        background: none;
      }

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--color-brand);
        transform-origin: bottom left;
        transition: transform 0.15s ease-out;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
  }

  &--2 {
    height: 38px;

    &:hover {
      color: var(--color-text-hover);
      background: var(--color-background-hover);
    }

    padding-left: 24px;

    &.interactive {
      padding-left: 16px;
    }
  }
}

slot {
  display: flex;
}

.menu__content {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  right: auto;
  left: 0;
}

kyn-icon {
  margin-left: 4px;
}

.static {
  flex-direction: column;
}
