@use '../../../common/scss/global.scss';
@use './header-interactive.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--kd-header-height);
  background: var(--kd-color-background-ui-default);
  padding: 4px 8px;
  z-index: var(--kd-z-header);

  &.divider {
    box-shadow: 0 1px 0 var(--kd-color-border-light);
  }

  @media screen and (min-width: 42rem) {
    padding: 4px 24px;
  }

  &.left-slotted {
    padding-left: 4px;
  }

  &__right {
    display: flex;
    margin-left: auto;
  }
}

.logo-link {
  display: flex;
  align-items: center;
  padding: 0 8px;
  // margin: 0 3px;
  color: var(--kd-color-text-link);
  text-decoration: none;

  &:hover {
    color: var(--kd-color-text-link-hover);
    background: none;
  }

  &:active {
    color: var(--kd-color-text-pressed);
    background: none;
  }

  svg {
    width: auto;
    height: 20px;
  }
}

.title {
  @include typography.type-ui-01;
  display: none;
  margin-top: -3px;
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px solid var(--kd-color-border-primary);

  .breakpoint-hit & {
    display: inline;
  }
}

.menu-button {
  height: 100%;
  background: none;
  padding: 0 8px;
  margin: 0 2px;
}
