@use '../../../common/scss/global.scss';
@use './header-interactive.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: inline-flex;
}

.btn {
  @include typography.type-ui-05;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  color: var(--kd-color-icon-primary);
  padding: 12px 12px 12px 8px;
  height: 48px;
  text-decoration: none;
  white-space: nowrap;

  ::slotted(span.arrow),
  ::slotted(svg) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
  }

  ::slotted([slot='button']) {
    display: flex;
  }

  @media (min-width: 42rem) {
    justify-content: center;
    padding: 6px;
    height: auto;
  }
}

.menu-label {
  @include typography.type-ui-03;
  color: var(--kd-color-text-title-secondary);
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px 12px 0px 12px;
}

.menu {
  &.open {
    .interactive {
      outline-color: var(--kd-color-border-variants-focus);
      background: var(--kd-color-background-menu-state-focused);
      color: var(--kd-color-text-level-primary);

      &:hover {
        background-color: var(--kd-color-background-menu-state-hover);
        color: var(--kd-color-text-button-dark-primary);
      }

      &:active {
        background: var(--kd-color-background-menu-state-pressed);
        color: var(--kd-color-text-button-dark-primary);
      }
    }
  }
}

// slot[name='button'] {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 6px;
// }

.arrow {
  margin-left: auto;
  display: flex;

  svg {
    display: block;
  }
}

@media (max-width: calc(42rem - 0.001px)) {
  .menu {
    width: 100%;

    &.open {
      .menu__content {
        transform: none;
        z-index: 2;
      }
    }
  }

  .interactive {
    width: 100%;
  }

  .menu__content {
    top: var(--kd-header-height);
    transform: translateX(100%);
  }
}

@media (min-width: 42rem) {
  .arrow {
    display: none;
  }

  .label {
    display: none;
  }
}
