@use '../../../common/scss/global.scss';

:host {
  display: block;
}

hr {
  background: none;
  border: none;
  margin: 6px 8px;
  height: 1px;
  background: var(--kd-color-border-level-tertiary);
}
