@use '../../../common/scss/global.scss';

:host {
  display: block;
}

.header-categories {
  // column-count: 8;
  // column-gap: 32px;
  display: flex;
  flex-wrap: wrap;
  // width: calc(100% + 2px);
  gap: 16px;
}

// ::slotted(*) {
//   break-inside: avoid;
//   margin-bottom: 16px;
// }
