@use '../../../common/scss/global.scss';

:host {
  display: block;
}

.header-categories {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 2px);
  gap: 16px;
}

::slotted(div) {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
