@use '../../../common/scss/global.scss';
@use './header-interactive.scss';

:host {
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  span {
    display: flex;
  }
}

.menu__content {
  background: var(--kd-color-background-menu-state-default);
  padding: 8px;
  min-width: 320px;

  @media (min-width: 42rem) {
    top: calc(100% + 12px);
  }
}
