@use '../../../common/scss/global.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  @include typography.type-ui-05;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: var(--kd-color-text-brand);
  background: var(--kd-color-background-ui-default);
  border: 1px solid var(--kd-color-border-brand);
  transition: color 150ms ease-out, background-color 150ms ease-out,
    border-color 150ms ease-out;
}
