@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/elevation.scss';

.interactive {
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font: inherit;
  transition: background-color 150ms ease-out, color 150ms ease-out,
    outline-color 150ms ease-out;
  background: transparent;
  color: inherit;
  outline: 2px solid transparent;
  outline-offset: -2px;

  &:focus-visible {
    outline-color: var(--kd-color-border-variants-focus);
  }

  &:hover {
    background: var(--kd-color-background-menu-state-hover);
    color: var(--kd-color-text-button-dark-primary);
  }

  &:active {
    background: var(--kd-color-background-menu-state-pressed);
    color: var(--kd-color-text-button-dark-primary);
  }

  &[disabled] {
    background-color: var(--kd-color-background-menu-state-disabled) !important;
    color: var(--kd-color-text-link-level-disabled) !important;
    cursor: not-allowed !important;
  }
}

@media (min-width: 42rem) {
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: calc(var(--kd-z-header) - 1);
    transition: background-color 300ms ease-out, visibility 300ms ease-out;
    background: transparent;
    visibility: hidden;

    .open + &,
    .child-open + & {
      background: var(--kd-color-background-opacity-inverse-backdrop);
      visibility: visible;
    }
  }
}

.divider {
  box-shadow: 0 1px 0 var(--kd-color-border-variants-light);
  margin-bottom: 1px;
}

.menu {
  position: relative;

  .interactive {
    position: relative;
    cursor: pointer;
  }

  &__content {
    position: fixed;
    top: var(--kd-header-height);
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--kd-color-background-container-default);
    transition: visibility 120ms ease-out, opacity 120ms ease-out;
    transform: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    gap: 2px;

    &.slotted {
      padding: 8px 12px;
    }

    @media (min-width: 42rem) {
      position: absolute;
      top: calc(100% + 12px + 8px);
      right: -20px;
      bottom: auto;
      left: auto;
      border-top: none;
      border-radius: 8px;
      background: var(--kd-color-background-container-default);
      max-height: calc(100vh - var(--kd-header-reserved-space) - 16px);

      &.left {
        left: -12px;
        right: auto;
      }

      &.categories-open {
        box-shadow: none;
      }

      @include elevation.shadow(1);
    }

    strong {
      font-weight: var(--kd-font-weight-medium);
    }

    &--left {
      right: auto;
      left: 0;
    }
  }

  &.open {
    .interactive {
      color: var(--kd-color-text-level-primary);

      &:hover {
        background: var(--kd-color-background-menu-state-hover);
        color: var(--kd-color-text-button-dark-primary);
      }

      &:active {
        background: var(--kd-color-background-menu-state-pressed);
        color: var(--kd-color-text-button-dark-primary);
      }
    }
  }

  &.open {
    .menu__content {
      visibility: visible;
      opacity: 1;
      transform: none;
      z-index: initial;
    }
  }
}

.go-back {
  @include typography.type-ui-02;
  display: flex;
  position: relative;
  align-items: center;
  gap: 8px;
  padding: 6px 12px 6px 8px;
  height: 30px;
  cursor: pointer;
  background: none;
  border: none;
  margin: 0;
  border-radius: 4px;
  width: 100%;
  transition: background-color 150ms ease-out, color 150ms ease-out,
    outline-color 150ms ease-out;
  outline: 2px solid transparent;
  outline-offset: -2px;
  color: var(--kd-color-text-level-primary);

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
  }

  &:hover {
    background: var(--kd-color-background-menu-state-hover);
    color: var(--kd-color-text-button-dark-primary);
  }

  &:active {
    background: var(--kd-color-background-menu-state-pressed);
    color: var(--kd-color-text-button-dark-primary);
  }

  &:focus-visible {
    outline-color: var(--kd-color-border-variants-focus);
  }

  @media (min-width: 42rem) {
    display: none;
  }
}
