@use '../../../common/scss/global.scss';
@use './header-interactive.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: inline-flex;
  height: 100%;
}

.btn {
  height: 100%;
  padding: 0 5px;
  background: none;
}

.menu {
  .interactive {
    ::slotted(div[slot='button']),
    ::slotted(span[slot='button']) {
      @include typography.type-ui-05;
      color: var(--kd-color-text-primary);
    }
  }

  &:focus-within,
  &:hover {
    .interactive {
      ::slotted(div[slot='button']),
      ::slotted(span[slot='button']) {
        color: var(--kd-color-text-tertiary);
      }

      ::slotted(kyn-header-avatar) {
        background: none;
        border-color: var(--kd-color-border-brand);
      }
    }
  }
}
