@import '../../../common/scss/global.scss';
@import './header-interactive.scss';

:host {
  display: block;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 64px;
  background: var(--color-background);
  box-shadow: 0px 1px 0px var(--color-border);
}

.menu-button {
  width: 64px;
  background: none;
}

.logo-link {
  display: flex;
  align-items: center;
  padding: 0 16px;
  color: var(--color-text);
  text-decoration: none;
}

.logo {
  flex-shrink: 0;
  height: 24px;
  margin-right: 8px;

  path {
    fill: var(--color-brand);
  }
}

.logo-small {
  flex-shrink: 0;
  height: 24px;
  margin-right: 4px;
}

.title {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.1px;
  margin-top: -1px;

  &__main {
    display: none;
    font-size: var(--breakpoint-sm);

    @media screen and (min-width: 42rem) {
      display: inline;
    }
  }
}
