@import '../../../common/scss/global.scss';

:host {
  display: block;
}

.header-nav {
  position: fixed;
  top: 48px;
  left: 0;
  bottom: 0;
  width: 265px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-menu);

  &--inline {
    position: static;
    flex-direction: row;
    box-shadow: none;
  }

  &--flyout {
    transition: transform 150ms ease-out;
    transform: translate3d(-100%, 0, 0);
    overflow-y: auto;
  }

  &--open {
    transform: translate3d(0, 0, 0);
  }
}
