@import '../../../common/scss/global.scss';

:host {
  display: block;
}

.header-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-family: var(--font-heading);
  color: var(--color-brand-text);
  background: #f0f0f4;
  border: 1px solid transparent;

  &:hover,
  &:focus {
    background: none;
    border-color: var(--color-brand-text);
  }
}
