@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

.category {
}

.heading {
  @include typography.type-ui-03;
  color: var(--kd-color-text-tertiary-bold);
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 16px 8px 8px;
}
