@use '../../../common/scss/global.scss';
@use './header-interactive.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: inline-flex;
}

.btn {
  @include typography.type-ui-05;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  color: var(--kd-color-text-primary);
  padding: 16px 12px 16px 8px;
  height: 56px;
  text-decoration: none;
  white-space: nowrap;

  ::slotted(kd-icon),
  ::slotted(svg) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }

  @media (min-width: 42rem) {
    justify-content: center;
    padding: 6px;
    height: auto;
  }
}

.menu-label {
  @include typography.type-ui-03;
  color: var(--kd-color-text-tertiary-bold);
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px;
  border-bottom: 1px solid var(--kd-color-border-light);
}

.menu {
  &:hover {
    .interactive {
      ::slotted(kyn-header-avatar) {
        background: none;
        border-color: var(--kd-color-border-inverse);
        color: var(--kd-color-text-inversed);
      }
    }
  }

  &.open {
    .interactive {
      ::slotted(kyn-header-avatar) {
        color: var(--kd-color-text-inversed);
        background: var(--kd-color-background-primary);
        border: 1px solid var(--kd-color-border-brand);
      }

      &:hover {
        background-color: var(--kd-color-background-primary-hover);

        ::slotted(kyn-header-avatar) {
          background: none;
          border-color: var(--kd-color-border-inverse);
          color: var(--kd-color-text-inversed);
        }
      }

      &:active {
        background-color: var(--kd-color-background-primary-pressed);
      }
    }
  }

  .interactive:focus {
    ::slotted(kyn-header-avatar) {
      background: var(--kd-color-background-primary);
      border-color: var(--kd-color-border-inverse);
      color: var(--kd-color-text-inversed);
    }
  }
}

// slot[name='button'] {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 6px;
// }

.arrow {
  margin-left: auto;
}

@media (max-width: 42rem) {
  .menu {
    width: 100%;

    &.open {
      .menu__content {
        transform: none;
        z-index: 2;
      }
    }
  }

  .interactive {
    width: 100%;
  }

  .menu__content {
    top: var(--kd-header-height);
    transform: translateX(100%);
  }
}

@media (min-width: 42rem) {
  .arrow {
    display: none;
  }

  .label {
    display: none;
  }
}
