.interactive {
  border: none;
  cursor: pointer;
  transition: background-color 150ms ease-out, color 150ms ease-out;
  outline: none;

  &:hover,
  &:focus {
    color: var(--color-primary-hover);
  }

  &:active {
    color: var(--color-primary-active);
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 2px;
    transition: background-color 150ms ease-out;
  }

  &.active {
    color: var(--color-primary-focus);
    background: var(--color-background-focus);

    &::before {
      background-color: var(--color-primary-focus);
    }
  }
}

.divider {
  box-shadow: 0 1px 0 var(--color-divider-light);
  margin-bottom: 1px;
}

.menu {
  position: relative;

  .interactive {
    position: relative;
    border: 0;
    cursor: pointer;
    transition: background-color 150ms ease-out, color 150ms ease-out;
  }

  &__content {
    position: fixed;
    top: var(--header-height);
    right: 0;
    left: 0;
    bottom: 0;
    padding: 8px 0;
    overflow-y: auto;
    background: var(--color-background-focus);
    transition: visibility 0.15s, opacity 0.15s ease-in-out,
      transform 0.15s ease-in-out;
    transform: translate3d(0px, -10%, 0px);
    visibility: hidden;
    opacity: 0;
    z-index: -1;

    .breakpoint-hit & {
      position: absolute;
      top: 100%;
      right: 0;
      bottom: auto;
      left: auto;
      box-shadow: var(--shadow-menu);
    }

    strong {
      font-weight: 500;
    }

    &--left {
      right: auto;
      left: 0;
    }
  }

  &:focus-within,
  &:hover {
    .interactive {
      color: var(--color-primary-focus);
      background: var(--color-background-focus);

      &::before {
        background-color: var(--color-primary-focus);
      }
    }

    .menu__content {
      visibility: visible;
      opacity: 1;
      transform: translate3d(0px, 0px, 0px);
      z-index: initial;
    }
  }
}
