@use '../../../common/scss/global.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 2px;
  // margin-bottom: 16px;
}

.heading {
  @include typography.type-ui-03;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--kd-color-text-variant-brand);
  font-weight: var(--kd-font-weight-medium);
  text-transform: uppercase;
  padding: 6px 12px 6px 8px;

  &.left-padding {
    padding-left: 36px;
  }
}

slot[name='icon']::slotted(*) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}
