@use '../../../common/scss/global.scss';
@use './header-interactive.scss';

:host {
  display: flex;
  align-items: center;
}

// truncate-links cascades truncate=true to nested kyn-header-link components

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 6px;

  span {
    display: flex;
  }
}

.menu__content {
  padding: 12px;

  @media (min-width: 42rem) {
    width: 230px;
  }
}
