@use '../../../common/scss/global.scss';
@use './header-interactive.scss';

:host {
  display: flex;
  align-items: center;
}

// Note: truncate-links attribute triggers JS inheritance to nested kyn-header-link components
// Each link gets truncate=true set automatically in connectedCallback

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 6px;

  span {
    display: flex;
  }
}

.menu__content {
  padding: 16px 12px 8px 12px;

  @media (min-width: 42rem) {
    width: 230px;
  }
}
