@use '../../../common/scss/global.scss';
@use './header-interactive.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--kd-header-height);
  background: var(--kd-color-background-ui-default);
  padding: 0 8px;
  z-index: var(--kd-z-header);

  &.divider {
    box-shadow: 0 1px 0 var(--kd-color-border-secondary);
  }

  @media screen and (min-width: 42rem) {
    padding: 0 24px;
  }

  &__right {
    display: flex;
    margin-left: auto;
  }
}

.logo-link {
  display: flex;
  align-items: center;
  padding: 0 5px;
  margin: 0 3px;
  color: var(--kd-color-text-primary);
  text-decoration: none;

  svg {
    width: 96px;

    @media screen and (min-width: 42rem) {
      width: 137px;
    }
  }
}

.title {
  @include typography.type-ui-05;
  display: none;
  margin-top: -1px;
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px solid var(--kd-color-border-primary);

  .breakpoint-hit & {
    display: inline;
  }
}

.menu-button {
  height: 100%;
  background: none;
  padding: 0 5px;
  margin: 0 3px;
}
