@use '../../../common/scss/global.scss';
@use './header-interactive.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
  position: relative;
}

.nav-link {
  display: flex;
  position: relative;
  align-items: center;
  break-inside: avoid;
  gap: 8px;
  // padding: 12px;
  text-decoration: none;
  color: var(--kd-color-text-level-primary);
  white-space: nowrap;
  border-radius: 4px;
  transition: background-color 150ms ease-out, color 150ms ease-out,
    outline-color 150ms ease-out;
  outline: 2px solid transparent;
  outline-offset: -2px;
  height: 30px;
  padding: 6px 12px 6px 8px;

  &.left-padding {
    padding-left: 36px;
  }

  &:focus-visible {
    outline-color: var(--kd-color-border-variants-focus);
  }

  &:hover {
    background: var(--kd-color-background-menu-state-hover);
    color: var(--kd-color-text-button-dark-primary);
  }

  &:active {
    background: var(--kd-color-background-menu-state-pressed);
    color: var(--kd-color-text-button-dark-primary);
  }

  &.active {
    color: var(--kd-color-text-link-level-default);
    // font-weight: var(--kd-font-weight-medium);

    &:hover {
      background: var(--kd-color-background-menu-state-hover);
      color: var(--kd-color-text-button-dark-primary);
    }
  }

  .open & {
    font-weight: var(--kd-font-weight-medium);
    color: var(--kd-color-text-level-primary);
    background-color: var(--kd-color-background-menu-state-open);

    &:hover {
      background: var(--kd-color-background-menu-state-hover);
      color: var(--kd-color-text-button-dark-primary);
    }
  }

  ::slotted(span),
  ::slotted(svg) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
  }

  @include typography.type-ui-02;
}

.search-icon {
  display: flex;
}

.level {
  &--1 {
    .nav-link {
      // height: 48px;
    }
  }

  &--2,
  &--3 {
    // @include typography.type-ui-02;
  }

  &--2 {
    .nav-link {
      // padding: 8px 12px;
      // height: 40px;
    }
  }

  &--3 {
    .nav-link {
      // padding: 6px 12px;
      // height: 30px;
      // @include typography.type-ui-02;
    }
  }
}

.arrow {
  margin-left: auto;

  svg {
    display: block;
  }
}

.menu {
  &.open {
    .menu__content {
      z-index: -1;

      @media (min-width: 42rem) {
        transform: none;
      }
    }

    &.level--2 .menu__content {
      z-index: 1;
    }

    &.level--3 .menu__content {
      z-index: 1;
    }

    .interactive {
      font-weight: var(--kd-font-weight-medium);
      color: var(--kd-color-text-level-primary);
      background-color: var(--kd-color-background-menu-state-open);

      &:hover {
        background-color: var(--kd-color-background-menu-state-hover);
        color: var(--kd-color-text-button-dark-primary);
      }

      &:active {
        background: var(--kd-color-background-menu-state-pressed);
        color: var(--kd-color-text-button-dark-primary);
      }
    }
  }

  @media (min-width: 42rem) {
    &.level--1 .wrapper {
      padding: 16px;
      background-color: var(--kd-color-background-opacity-1);
      border-radius: 8px;
    }
  }

  &__content {
    display: none;
    background: var(--kd-color-background-menu-state-default);

    &.slotted {
      display: flex;
      max-width: 100%;

      @media (min-width: 42rem) {
        padding: 8px 8px 8px 230px;
      }
    }

    @media (min-width: 42rem) {
      // transform: translateX(-20px);
      transform: translateX(0);
      position: fixed;
      left: auto;
      right: auto;
      top: auto;
    }
  }
}

@media (min-width: 42rem) {
  .level--2 .menu__content.slotted {
    padding-left: 8px;
  }
}

// @media (min-width: 42rem) {
//   .menu__content.slotted {
//     padding-left: 246px;
//   }
// }

kyn-text-input {
  margin-bottom: 6px;
}

@media (max-width: calc(42rem - 0.001px)) {
  .menu {
    width: 100%;

    &.open {
      .menu__content {
        transform: none;
        z-index: 2;
      }
    }
  }

  .interactive {
    width: 100%;
  }

  .menu__content {
    top: var(--kd-header-height) !important;
    left: 0 !important;
    transform: scaleX(0);
    transform-origin: right;
  }
}
