@use '../../../common/scss/global.scss';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-family: var(--kd-font-family-primary);
  color: var(--kd-color-text-featured);
  background: #f0f0f4;
  border: 1px solid transparent;
}
