@use '~gridstack/dist/src/gridstack.scss';
@use '~gridstack/dist/src/gridstack-extra.scss';

:host {
  display: block;
}

.grid-wrapper {
  margin: 0 -16px;
}

.grid-stack {
  max-width: calc(1584px + 32px);
  margin: 0 auto;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
  overflow: initial;
}
