@use '~gridstack/dist/src/gridstack.scss';
@use '~gridstack/dist/src/gridstack-extra.scss';

:host {
  display: block;
}

/* alignment to offset grid to account for 16px widget margin */
.grid-wrapper {
  margin: 0 -16px;
}

/* set a max width on the grid and center align it */
.grid-stack {
  max-width: calc(1584px + 32px);
  margin: 0 auto;
}

/* remove .grid-stack-item-content overflow */
.grid-stack > .grid-stack-item > .grid-stack-item-content {
  overflow: initial;
}
