@use '../../../common/scss/global.scss';
@use '../../../common/scss/mixins.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/elevation.scss';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.widget {
  @include elevation.shadow(1);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 8px;
  background: var(--kd-color-background-container-default);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: box-shadow 100ms ease-out, outline-color 150ms ease-out;

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &:focus-within {
    outline-color: var(--kd-color-border-variants-focus);
  }

  &.drag-active {
    @include elevation.shadow(4);
  }
}

.widget-header {
  display: flex;
  align-items: center;
  margin: 8px 16px 0 16px;
  height: 40px;

  .has-chart & {
    display: none;
  }

  .title {
    @include typography.type-ui-02;
    font-weight: 500;
    color: var(--kd-color-text-level-primary);
  }

  .description {
    @include typography.type-ui-03;
    color: var(--kd-color-text-level-secondary);
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
  }
}

.widget-content {
  padding: 8px 16px 16px 16px;
  overflow: auto;
  flex-grow: 1;
}
