@use '../../../common/scss/global.scss';

:host {
  display: inline-block;
}

.drag-handle {
  cursor: move;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--kd-color-icon-secondary);
}
