@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

.widget-header {
  display: flex;
  align-items: center;
  background: var(--kd-color-background-ui-soft);
  margin: -16px -16px 16px -16px;
  padding: 16px;
  border-radius: 8px 8px 0 0;

  &.pill {
    background: none;
    margin-bottom: 0;

    &:not(.slotted):not(.has-drag-handle) {
      padding: 0;
      margin: 0;
    }
  }
}

.title-desc {
  .pill & {
    display: none;
  }
}

.drag-handle {
  cursor: move;
  // width: 24px;
  // height: 24px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  @include typography.type-ui-02;
  font-weight: 500;
}

.description {
  @include typography.type-ui-03;
  color: var(--kd-color-text-secondary);
}

.actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}
