@use '../../../common/scss/global.scss';

:host {
  display: inline-block;
}

.drag-handle {
  cursor: move;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--kd-color-icon-secondary);
}

svg {
  display: block;
}
