@use '../../../common/scss/global.scss';

:host {
  display: block;
}

.grid-wrapper {
  margin: -8px;

  @media (min-width: 42rem) {
    margin: -16px;

    &.compact {
      margin: -8px;
    }
  }
}
