@use '../../../common/scss/global.scss';
@use '../../../common/scss/mixins.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/elevation.scss';

:host {
  display: inline-block;
}

.close-drawer-label {
  @include mixins.visually-hidden;
}

#close-drawer {

  span.close-icon {
    display: flex;
    color: var(--kd-color-icon-primary);
  }

  &:hover {

    span.close-icon {
      color: var(--kd-color-text-button-dark-primary);
    }
  }
}

dialog {
  @include elevation.shadow(4);
  margin: 0;
  padding: 0;
  color: inherit;
  background: var(--kd-color-background-container-default);
  border: none;
  top: 0;
  right: 0;
  left: auto;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  &[open] {
    animation: dialog-in 400ms forwards;
  }

  &.size--sm {
    width: 384px;
  }

  &.size--standard {
    width: 560px;
  }

  &.size--md {
    width: 800px;
  }
}

button {
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
  border-radius: 4px;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease-out, color 150ms ease-out;
}

.anchor {
  display: inline-block;
  width: 100%;
  color: var(--kd-color-text-level-primary);
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body {
  margin: 0 32px;
  padding: 0;
  flex-grow: 1;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.header-label-title {
  margin-right: 32px;
}

.label {
  @include typography.type-ui-02;
  color: var(--kd-color-text-level-secondary);
}

h1 {
  @include typography.type-body-01;
  color: var(--kd-color-text-level-primary);
  margin: 0;
  order: 1;
}

.dialog-footer {
  position: sticky;
  bottom: 0px;
  z-index: 1;
  margin-top: 32px;
  background-color: var(--kd-color-background-accent-subtle);
  padding: 24px 32px 24px 32px;
  border-top: 1px solid var(--kd-color-border-variants-light);
}

.actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;

  @media (max-width: calc(42rem - 1px)) {
    kyn-button {
      width: 100%;
      flex-grow: 1;
    }
  }
}

.size--sm kyn-button {
  width: 100%;
  flex-grow: 1;
}

.custom-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;
}

.action-button:nth-child(3) {
  margin-left: auto;
}

@supports (transition-behavior: allow-discrete) {
  dialog {
    transition: right 400ms ease, transform 400ms ease,
      overlay 400ms ease allow-discrete, display 400ms ease allow-discrete;
    transform: translateX(100%);

    &::backdrop {
      background: var(--kd-color-neutral-dark-opacity-50);
      transition: display 400ms allow-discrete, overlay 400ms allow-discrete,
        background-color 400ms;
    }

    &[open] {
      animation: none;
      transform: none;

      &::backdrop {
        backdrop-filter: var(--kd-background-blur-medium);
      }
    }
  }
}

@keyframes dialog-in {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: none;
  }
}
