@use '../../../common/scss/global.scss';
@use '../../../common/scss/form-input.scss';

:host {
    display: inline-block;
    width: 100%;
    max-width: 500px;
}

.date-range-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14px 8px;
    font-weight: 300;
    font-size: 25px;
    height: 48px;
    color: var(--kd-color-text-secondary);
}

.date-range-picker {
    width: inherit;

    .date-inputs {
        display: flex;
        gap: 8px;

        .date-input {
            display: flex;
            flex-direction: column;
            flex: 1;

            label.label-text {
                margin-bottom: 4px;
                font-weight: 500;
            }

            .input-container {
                position: relative;

                input {
                    width: 100%;
                    box-sizing: border-box;
                    -webkit-appearance: none;
                    appearance: none;
                    border: 1px solid var(--kd-color-border-ui);
                    border-radius: 4px;
                    height: 48px;
                    padding: 10px 32px 10px 16px;
                    min-width: 180px;

                    &[disabled] {
                        opacity: 1;
                        border: 1px solid var(--kd-color-border-ui);
                        color: var(--kd-color-text-primary);
                    }
                }

                .icon {
                    position: absolute;
                    right: 20px;
                    top: 55%;
                    transform: translateY(-50%);
                    pointer-events: none;
                }
            }
        }
    }

    &__size--sm {
        height: 32px;
        padding: 2px 16px;

        .date-inputs {
            .date-input {
                input {
                    height: 32px;
                    padding: 6px 12px;
                    min-width: 150px;
                }
            }
        }
    }

    &__size--lg {
        height: 56px;
        padding: 14px 16px;

        .date-inputs {
            .date-input {
                input {
                    height: 56px;
                    padding: 14px 16px;
                    min-width: 300px;
                }
            }
        }
    }
}
