@use '../../../common/scss/global.scss';
@use '../../../common/scss/mixins.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/elevation.scss';

:host {
  display: block;
}

.panel-wrapper {
  position: static;
  display: flex;
  flex-direction: column;
  width: 480px; // min-width: 320px for mobile
  max-height: 720px; // min-height: 100% / auto;
  // max-height: 720px;
  padding: 0 8px;
  background-color: var(--kd-color-background-ui-soft);
  border-bottom: 4px solid var(--kd-color-border-accent-spruce-light);
  @include elevation.shadow(3);
  overflow-y: scroll;
}
.panel-header-wrapper {
  position: sticky;
  top: 0;
  background-color: var(--kd-color-background-ui-soft);
  padding-top: 8px;
}
.panel-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.panel-left {
  padding: 12px 16px 12px 8px;
}
.panel-left-slot {
  display: inline-flex;
  align-items: center;
}
.panel-header-text {
  @include typography.type-ui-02;
  font-weight: 500;
  color: var(--kd-color-background-ui-strong);
  margin: 0;
}
.panel-divider {
  margin: 0;
  height: 0px;
  border: 1px solid transparent;
  border-bottom-color: var(--kd-color-background-ui-subtle);
  padding-top: 8px;
}
.panel-body {
  flex-grow: 1;
  padding-bottom: 8px;
  padding-top: 8px;
}
.panel-footer {
  position: sticky;
  bottom: 0px;
  text-align: center;
  padding: 12px 16px;
  background-color: var(--kd-color-background-ui-soft);
}
