@use '../../../common/scss/global.scss';
@use '../../../common/scss/mixins.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/elevation.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/visibility.scss';

:host {
  display: block;
  width: 100%;

  kyn-card {
    width: 100%;
  }
}

// change card backgound and outline as per types
kyn-card.notification-inline::part(card-wrapper) {
  outline: none;
  border: none;
}

kyn-card.notification-toast::part(card-wrapper) {
  @include elevation.shadow(3);
  outline: none;
  border: none;

  &:hover {
    @include elevation.shadow(2);
    transition: box-shadow 300ms ease-out;
  }
}

kyn-card.notification-error::part(card-wrapper) {
  background-color: var(--kd-color-status-error-accent);
}

kyn-card.notification-success::part(card-wrapper) {
  background-color: var(--kd-color-status-success-accent);
}

kyn-card.notification-warning::part(card-wrapper) {
  background-color: var(--kd-color-status-warning-accent);
}

kyn-card.notification-info::part(card-wrapper) {
  background-color: var(--kd-color-status-informational-accent);
}

kyn-card.notification-default::part(card-wrapper) {
  background-color: var(--kd-color-status-neutral-light);
}

kyn-card.notification-normal::part(card-wrapper) {
  background-color: var(--kd-color-background-card-background);
}

.notification-warning {
  .notification-wrapper {
    .notification-head .notification-title {
      color: var(--kd-color-text-level-dark);
    }

    .notification-description {
      color: var(--kd-color-text-level-dark);

      kyn-link {
        color: var(--kd-color-text-level-dark) !important;
      }
    }

    .notification-inline.notification-default .notification-description,
    .notification-toast.notification-default .notification-description {
      color: var(--kd-color-text-level-dark);
    }
    .notification-inline.notification-default .notification-title,
    .notification-toast.notification-default .notification-title {
      color: var(--kd-color-text-level-dark);
    }
    .notification-inline.notification-default .timestamp-text,
    .notification-toast.notification-default .notification-title,
    .notification-toast.notification-default .timestamp-text {
      color: var(--kd-color-text-level-dark);
    }
  }
}

.notification {
  &-title-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-title {
    @include typography.type-ui-02;
    font-weight: 500;
    color: var(--kd-color-text-level-primary);
    margin: 0;
  }

  &-subtitle {
    @include typography.type-ui-02;
    color: var(--kd-color-text-level-primary);
  }

  &-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }

  &-state-icon {
    padding-right: 8px;
  }

  &-toast {
    z-index: 999999;
    animation: fadeIn 600ms ease-in-out forwards;

    &-close-btn {
      span {
        color: var(--kd-color-icon-primary); // Close icon color
      }
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
}

.notification-inline.notification-default,
.notification-toast.notification-default {
  .notification-toast-close-btn {
    span {
      color: var(--kd-color-icon-primary); // Close icon color
    }
  }
}

.notification-inline .notification-head,
.notification-toast .notification-head {
  display: flex;
  align-items: flex-start;
}

.notification-inline .notification-state-icon {
  align-self: flex-start;
}

.notification-toast .notification-title-wrap {
  align-items: flex-start;
}

.notification-toast .notification-title {
  padding-right: 20px;
}

.notification-toast .notification-state-icon {
  padding-right: 8px;
  align-self: flex-start;
}

.notification-inline .notification-content-wrapper,
.notification-toast .notification-content-wrapper {
  padding: 0;
}

.notification-description {
  @include typography.type-ui-02;
  color: var(--kd-color-text-level-primary);
  padding-top: 10px;
  font-weight: 400;
}

.notification-inline .notification-description,
.notification-toast .notification-description {
  padding-top: 0px;
  padding-left: 24px;
}

.notification-inline.notification-default .notification-description,
.notification-toast.notification-default .notification-description {
  padding-top: 0px;
  padding-left: 0px;
  color: var(--kd-color-text-level-primary);
}

.notification-inline.notification-default .notification-title,
.notification-toast.notification-default .notification-title {
  color: var(--kd-color-text-level-primary);
}

.notification-inline.notification-default .timestamp-text,
.notification-toast.notification-default .notification-title,
.notification-toast.notification-default .timestamp-text {
  color: var(--kd-color-text-level-primary);
}

.notification-normal,
.notification-clickable {
  .notification-title,
  .notification-description,
  .timestamp-text {
    color: var(--kd-color-text-level-primary);
  }
}

.timestamp {
  &-wrapper {
    display: inline-flex;
    justify-content: flex-end;
    flex: 1;
    margin-left: 8px;
  }

  &-text {
    @include typography.type-ui-02;
    color: var(--kd-color-text-level-primary);
    font-weight: 500;
  }
}

// fadeIn animation
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// optional slidein right animation
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: none;
  }
}

.status-tag {
  #statusLabel {
    @include visibility.sr-only;
  }
}

#notificationType {
  @include visibility.sr-only;
}

.info svg {
  fill: var(--kd-color-status-informational-foreground);
  display: flex;
}

.success svg {
  fill: var(--kd-color-status-success-foreground);
  display: flex;
}

.default svg {
  fill: var(--kd-color-status-neutral-foreground);
  display: flex;
}

.warning svg {
  fill: var(--kd-color-status-warning-foreground---dark);
  display: flex;
}

.error svg {
  fill: var(--kd-color-status-error-foreground);
  display: flex;
}
