@use '../../../common/scss/global.scss';
@use '../../../common/scss/mixins.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
  width: 100%;
  kyn-card {
    width: 100%;
    margin-top: 8px;
  }
}

.notification {
  &-title-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &-title {
    @include typography.type-body-02;
    font-weight: 500;
    color: var(--kd-color-text-primary);
    margin: 0;
  }
  &-subtitle {
    @include typography.type-ui-02;
    color: var(--kd-color-text-secondary);
  }
  &-description {
    @include typography.type-ui-02;
    color: var(--kd-color-text-primary);
    padding-top: 8px;
    display: -moz-box;
    display: -webkit-box;
    line-clamp: 2;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
  }
}

.timestamp-wrapper {
  display: inline-flex;
  justify-content: flex-end;
  flex: 1;
  margin-left: 8px;
}
.timestamp-text {
  @include typography.type-ui-03;
  color: var(--kd-color-text-primary);
  font-weight: 500;
}
