@use '../../../common/scss/global.scss';
:host {
  display: block;
}
.notification-container {
  position: fixed;
  top: calc(var(--kd-header-height) + 10);
  right: 10px;
  width: auto;
  overflow-y: auto;
  max-height: 90vh;
  z-index: 999999;
  padding: 15px;
}
.notification-container ::slotted(kyn-notification) {
  padding-bottom: 20px;
}
