@use '../../../common/scss/global.scss';

:host {
  display: inline-block;
}

// base class
.kyn-link-text {
  display: flex;
  position: relative;
  font-weight: 500;
  outline: 1px solid transparent;
  outline-offset: 2px;
  border-radius: 1px;
  transition: color 150ms ease-in-out, outline 150ms ease-out;

  &:hover {
    slot[name='icon']::slotted(*) {
      transform: translate(4px, 0);
    }
  }

  &.icon-left:hover {
    slot[name='icon']::slotted(*) {
      transform: translate(-4px, 0);
    }
  }

  // Primary (app)
  &-primary {
    color: var(--kd-color-text-link-level-default);

    &:hover {
      color: var(--kd-color-text-link-level-hover);
    }

    &:focus-visible {
      outline-color: var(--kd-color-border-variants-focus);
    }

    &:active {
      color: var(--kd-color-text-link-level-pressed);
    }
  }

  // Secondary (web)
  &-secondary {
    color: var(--kd-color-text-level-primary);

    &:hover {
      color: var(--kd-color-text-link-level-hover);
    }

    &:focus-visible {
      outline-color: var(--kd-color-border-variants-focus);
    }

    &:active {
      color: var(--kd-color-text-link-level-pressed);
    }
  }

  // lighter font-weight (used in breadcrumbs)
  &-font-lighter {
    font-weight: 400;
    color: var(--kd-color-text-link-level-default);

    &:hover {
      color: var(--kd-color-text-link-level-hover);
    }

    &:focus-visible {
      outline-color: var(--kd-color-border-variants-focus);
    }

    &:active {
      color: var(--kd-color-text-link-level-pressed);
    }
  }

  // Link disable class
  &-disabled {
    cursor: not-allowed;
    color: var(--kd-color-text-link-level-disabled);
    pointer-events: none;
  }

  // Link Inline - standalone classes
  &-inline {
    text-decoration: underline;
  }

  &-standalone {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &-span-flex {
    display: flex;
    align-items: center;
    gap: 8px;

    .icon-left & slot[name='icon']::slotted(*) {
      order: -1;
      margin-right: 8px;
    }

    slot[name='icon']::slotted(*) {
      display: inline-flex;
      align-self: center;
      margin-left: 0px;
      transition: 300ms ease-in-out;
    }
  }

  &-ai {
    color: var(--kd-color-background-link-ai-default);

    &:hover {
      color: var(--kd-color-background-link-ai-hover);
    }

    &:focus-visible {
      outline-color: var(--kd-color-border-button-ai-state-focused);
    }

    &:active {
      color: var(--kd-color-background-link-ai-pressed);
    }

    &.kyn-link-text-disabled {
      color: var(--kd-color-background-link-ai-disabled);
    }
  }

  &-secondary-ai {
    color: var(--kd-color-background-link-ai-secondary);

    &:hover {
      color: var(--kd-color-background-link-ai-hover);
    }

    &:focus-visible {
      outline-color: var(--kd-color-border-button-ai-state-focused);
    }

    &:active {
      color: var(--kd-color-background-link-ai-pressed);
      text-decoration: underline;
      outline: none;
    }

    &.kyn-link-text-disabled {
      color: var(--kd-color-background-link-ai-disabled);
    }
  }
}
