@use '../../../common/scss/global.scss';
@use '../../../common/scss/mixins.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: inline-block;
}

.label-text {
  @include typography.type-ui-03;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin-bottom: 8px;

  &.sr-only {
    @include mixins.visually-hidden;
  }

  [disabled] & {
    color: var(--kd-color-text-disabled);
  }
}

.required {
  color: var(--kd-color-text-error);

  [disabled] & {
    color: var(--kd-color-text-disabled);
  }
}

.input-wrapper {
  position: relative;
  display: flex;

  .context-icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  }

  &.icon--right .context-icon {
    left: auto;
    right: 16px;
  }

  &.icon--left input {
    padding-left: 48px;
  }
}

slot[name='icon']::slotted(*) {
  display: block;
}

input {
  @include typography.type-body-02;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  border: 1px solid var(--kd-color-border-ui);
  border-radius: 4px;
  height: 48px;
  padding: 0 48px 0 16px;
  color: var(--kd-color-text-primary);
  transition: background-color 150ms ease-out, border-color 150ms ease-out,
    outline-color 150ms ease-out;
  background: var(--kd-color-background-inverse);
  outline: 2px solid transparent;
  outline-offset: 2px;

  &.size--sm {
    height: 32px;
  }

  &.size--lg {
    height: 56px;
  }

  &[invalid] {
    border-color: var(--kd-color-border-error);
  }

  &[disabled] {
    color: var(--kd-color-text-disabled);
    border-color: var(--kd-color-border-ui-disabled);
  }

  &:hover {
    border-color: var(--kd-color-border-ui-hover);
  }

  &:focus {
    outline-color: var(--kd-color-border-focus);
  }

  &.icon--left {
    padding-left: 48px;
  }
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  appearance: none;
}

.error {
  @include typography.type-ui-03;
  display: flex;
  align-items: center;
  color: var(--kd-color-text-error);
  margin-top: 8px;

  [disabled] & {
    color: var(--kd-color-text-disabled);
  }
}

.error-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  left: auto;
  transform: translateY(-50%);
  color: var(--kd-color-text-error);

  [disabled] & {
    color: var(--kd-color-text-disabled);
  }
}

.clear {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--kd-color-text-primary);
  background: var(--kd-color-background-inverse);
  display: block;

  &[disabled] {
    color: var(--kd-color-text-disabled);
    cursor: not-allowed;
  }

  kd-icon {
    display: block;
  }
}

.caption {
  @include typography.type-ui-03;
  margin-top: 8px;
  color: var(--kd-color-text-secondary);

  [disabled] & {
    color: var(--kd-color-text-disabled);
    border-color: var(--kd-color-border-ui-disabled);
  }
}
