@use '../../../common/scss/global.scss';
@use '../../../common/scss/form-input.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: inline-block;
}

.input-wrapper {
  .context-icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  }

  &.icon--right .context-icon {
    left: auto;
    right: 16px;
  }

  &.icon--right .clear-button {
    right: 45px;
  }

  &.icon--right input {
    padding-right: 72px;
  }

  &.icon--left input {
    padding-left: 48px;
  }
}

slot[name='icon']::slotted(*) {
  display: block;

  [disabled] & {
    color: var(--kd-color-icon-disabled);
  }
}

input {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  height: 48px;
  padding: 0 48px 0 16px;

  &.size--sm {
    height: 32px;
  }

  &.size--lg {
    height: 56px;
  }

  &.icon--left {
    padding-left: 48px;
  }
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  appearance: none;
}
