@use '../../../common/scss/global.scss';
@use '../../../common/scss/form-input.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: inline-block;
}

.input-wrapper {
  .context-icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  }

  &.icon--right .context-icon {
    left: auto;
    right: 16px;
  }

  &.icon--left input {
    padding-left: 48px;
  }
}

slot[name='icon']::slotted(*) {
  display: block;
}

input {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  border: 1px solid var(--kd-color-border-ui-default);
  border-radius: 4px;
  height: 48px;
  padding: 0 48px 0 16px;

  &.size--sm {
    height: 32px;
  }

  &.size--lg {
    height: 56px;
  }

  &.icon--left {
    padding-left: 48px;
  }
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  appearance: none;
}

.clear {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--kd-color-text-link-level-disabled);
  display: block;

  &[disabled] {
    color: var(--kd-color-text-disabled);
    cursor: not-allowed;
  }
}

.caption-error-count {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1rem;

  .count {
    @include typography.type-ui-02;
    color: var(--kd-color-text-level-secondary);
    margin-top: 13px;
  }
}
