@use '../../../common/scss/global.scss';

:host {
  display: block;
}

.prompt-group {
  display: flex;
  flex-direction: column;

  &--horizontal {
    flex-direction: row;
    gap: 8px;
  }

  &--vertical {
    gap: 8px;
    flex-direction: column;
  }
}
