@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: table-cell;
  vertical-align: middle;
  @include typography.type-body-02;
  padding: var(--kd-spacing-16);
  color: var(--kd-color-text-level-primary);
  border-bottom: 1px solid var(--kd-color-border-variants-light);
  max-width: var(--kyn-td-max-width, none);
  width: var(--kyn-td-width, auto);
  min-width: var(--kyn-td-min-width, auto);
}

.slot-wrapper {
  display: inline-block;
  max-width: 100%;
}

.slot-wrapper::slotted(*) {
  display: flex;
  min-width: 0;
  flex-shrink: 1;
}

:host([align='left']) {
  text-align: left;

  .slot-wrapper::slotted(*) {
    justify-content: flex-start;
  }
}

:host([align='center']) {
  text-align: center;

  .slot-wrapper::slotted(*) {
    justify-content: center;
  }
}

:host([align='right']) {
  text-align: right;

  .slot-wrapper::slotted(*) {
    justify-content: flex-end;
  }
}

:host([dense]) {
  padding: var(--kd-spacing-4);
}

:host([disabled]) {
  color: var(--kd-color-text-level-disabled);
}

:host([dimmed]) {
  color: var(--kd-color-text-level-disabled);
}
