@use '../../../common/scss/global.scss';
@use '../../../common/scss/mixins.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: table-cell;
  vertical-align: middle;
  @include typography.type-ui-02;
  color: var(--kd-color-text-level-primary);
  font-weight: var(--kd-font-weight-medium);
  background: var(--kd-color-background-container-soft);
  border-right: 1px solid var(--kd-color-border-variants-inverse);
  border-left: 1px solid var(--kd-color-border-variants-inverse);
  min-width: var(--kyn-th-min-width, auto);
  width: var(--kyn-th-width, auto);
  max-width: var(--kyn-th-max-width, none);

  .container {
    display: flex;
    align-items: center;
    padding: var(--kd-spacing-16);
    outline: 2px solid transparent;
    outline-offset: -2px;
    border-radius: 4px;
    transition: outline-color 0.2s ease-in-out;

    &:hover,
    &:focus {
      .sort-icon {
        transition: background-color 0.3s;
        color: var(--kd-color-text-tertiary);
        cursor: pointer;
      }
    }

    &:focus {
      outline-color: var(--kd-color-border-variants-focus);
    }
  }
}

.sr-only {
  @include mixins.visually-hidden;
}

.sort-icon {
  color: transparent;
  transition: transform 0.3s ease;
  margin-left: var(--kd-spacing-8);

  &--sorting {
    color: var(--kd-color-icon-primary);
  }

  &--sorting-asc {
    transform: rotate(0deg);
  }

  &--sorting-desc {
    transform: rotate(180deg);
  }
}

:host([sortable]:hover) {
  transition: background-color 0.3s;
  color: var(--kd-color-text-level-tertiary);
  cursor: pointer;

  .sort-icon {
    color: var(--kd-color-text-level-tertiary);
  }
}

:host([align='left']) {
  text-align: left;

  .container {
    justify-content: flex-start;
  }
}

:host([align='center']) {
  text-align: center;

  .container {
    justify-content: center;
  }
}

:host([align='right']) {
  text-align: right;

  .container {
    justify-content: flex-end;
  }
}

:host([dense]) .container {
  padding: var(--kd-spacing-12) var(--kd-spacing-4);
}

.assistive-text {
  @include mixins.visually-hidden;
}
