@use '../../../common/scss/global.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  @include typography.type-body-02;
  display: table-cell;
  vertical-align: middle;
  padding: var(--kd-spacing-16);
  color: var(--kd-color-text-level-primary);
  border-bottom: 1px solid var(--kd-color-border-variants-light);
  max-width: var(--kyn-td-max-width, none);
  width: var(--kyn-td-width, auto);
  min-width: var(--kyn-td-min-width, auto);
  font-weight: var(--kyn-td-font-weight);
}

.slot-wrapper {
  display: inline-block;
  max-width: 100%;
}

.slot-wrapper::slotted(*) {
  display: flex;
  min-width: 0;
  flex-shrink: 1;
}

:host([align='left']) {
  text-align: left;

  .slot-wrapper::slotted(*) {
    justify-content: flex-start;
  }
}

:host([align='center']) {
  text-align: center;

  .slot-wrapper::slotted(*) {
    justify-content: center;
  }
}

:host([align='right']) {
  text-align: right;

  .slot-wrapper::slotted(*) {
    justify-content: flex-end;
  }
}

:host([dense]) {
  padding: var(--kd-spacing-4);
}

:host([disabled]) {
  color: var(--kd-color-text-level-disabled);
}

:host([dimmed]) {
  color: var(--kd-color-text-level-disabled);
}

// Apply radius only to first and last cells, applicable for footer column
:host(:first-child) {
  border-bottom-left-radius: var(--kyn-td-border-radius-bl);
}
:host(:last-child) {
  border-bottom-right-radius: var(--kyn-td-border-radius-br);
}
