@use '../../../common/scss/global.scss';

:host {
  display: table;
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
}

:host([fixedLayout]) {
  table-layout: fixed;
}

kyn-tr.selected {
  background-color: var(--kd-color-background-table-row-active);
}
