@use '../../../common/scss/global.scss';

:host {
  display: table-footer-group;
}

:host([stickyfooter]) {
  position: sticky;
  bottom: 0;
  z-index: 2;
  background-color: var(--kd-color-background-menu-state-category);
}
