@use '../../../common/scss/global.scss';

:host {
  display: table-row;
  vertical-align: middle;
}

:host([selected]),
:host([checkboxselection]:hover) {
  background-color: var(--kd-color-background-inverse-hover) !important;
}
