@use '../../../common/scss/global.scss';

:host {
  display: table-row;
  vertical-align: middle;
}

::slotted(kyn-th:first-child) {
  border-top-left-radius: 4px;
}
::slotted(kyn-th:last-child) {
  border-top-right-radius: 4px;
}
