@use '../../../common/scss/global.scss';
@use '../../../common/scss/mixins.scss';

:host {
  display: table-row;
  vertical-align: middle;
}

:host(:hover) {
  background-color: var(--kd-color-background-table-row-active) !important;
  transition: background-color 200ms ease-out;
}

:host([selected]:not([disabled]):not([preventHighlight])),
:host([checkboxselection]:hover:not([disabled])) {
  background-color: var(--kd-color-background-table-alt-row) !important;
}

.kyn--table-expand__button {
  --kd-color-text-tertiary: var(--kd-color-text-primary);
  background: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    background: transparent;
  }
}

.kyn--table-expand__button span[slot='icon'] {
  transition: transform 200ms ease-in-out;
  transform: translateY(15%);
}

:host([expanded]) .kyn--table-expand__button span[slot='icon'] {
  transform: translateY(-10%) rotate(-180deg);
}

:host([disabled]) {
  pointer-events: none;
}

:host([locked]) {

  kyn-td,
  ::slotted(kyn-td) {
    border-bottom: 1px solid var(--kd-color-border-variants-light);
  }
}

:host([unread]) {
  box-shadow: 4px 0 0 0 var(--kd-color-utility-dropshadow-1) inset;
}

.assistive-text {
  @include mixins.visually-hidden;
}
