@use '../../../common/scss/global.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: table-footer-group;
  pointer-events: none;

  // Custom properties for nested kyn-td
  --kyn-td-border-radius-bl: 8px;
  --kyn-td-border-radius-br: 8px;
  --kyn-td-font-weight: var(--kd-font-weight-medium);
}

:host([stickyfooter]) {
  position: sticky;
  bottom: 0;
  z-index: 2;
  --kyn-td-box-shadow: 0 8px 0 0 var(--kd-color-background-page-default);
}

::slotted(kyn-tr) {
  background: var(--kd-color-background-menu-state-category);
}
