@use '../../../common/scss/global.scss';

:host {
  display: table-row;
  vertical-align: middle;
}

::slotted(kyn-th:first-child) {
  border-top-left-radius: 8px;
}
::slotted(kyn-th:last-child) {
  border-top-right-radius: 8px;
}

:host([disabled]) {
  pointer-events: none;
}

:host([checkboxselection]) {
  ::slotted(kyn-th:first-child) {
    border-top-left-radius: 0px;
  }
}

.checkbox-header-column {
  border-top-left-radius: 8px;
  margin-right: 80px;
}
