@use '../../../common/scss/global.scss';

:host {
  display: table-row;
  vertical-align: middle;
}

::slotted(kyn-th:first-child) {
  border-top-left-radius: 8px;
  box-shadow: 0 -8px 0 0 var(--kd-color-background-page-default);
}
::slotted(kyn-th:last-child) {
  border-top-right-radius: 8px;
  box-shadow: 0 -8px 0 0 var(--kd-color-background-page-default);
}

:host([disabled]) {
  pointer-events: none;
}

:host([checkboxselection]) {
  ::slotted(kyn-th:first-child) {
    border-top-left-radius: 0px;
  }
}

:host([expandable]) {
  ::slotted(kyn-th:first-child) {
    border-top-left-radius: 0px;
    box-shadow: none;
  }
}

.expandable-header-column {
  border-top-left-radius: 8px;
}

.checkbox-header-column {
  border-top-left-radius: 8px;
  padding: 0 14px 0 10px;

  &:after {
    content: '';
    width: 6px;
  }
}

:host([expandable]) .checkbox-header-column {
  border-top-left-radius: 0px;
}
