@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--kd-spacing-8) var(--kd-spacing-0) var(--kd-spacing-16);
}

.title-wrapper {
  margin-right: var(--kd-spacing-16);
}

.title {
  @include typography.type-body-01;
  font-weight: var(--kd-font-weight-bold);
  color: var(--kd-color-text-level-primary);
}

.subtitle {
  color: var(--kd-color-text-level-primary);
}

.slot-wrapper {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
