# dependencies
node_modules

# build outputs
dist
build
storybook-static
deployment/artifacts
coverage

# logs
.eslintcache
build-storybook.log
debug-storybook.log

**/.DS_Store

# PR documentation -- notes for tracking and sharing information about pull requests. These are not intended to be committed to the repository.
PR_*.md
