# dependencies
node_modules

# build outputs
dist
build
storybook-static
deployment/artifacts
coverage

# logs
.eslintcache
build-storybook.log
debug-storybook.log

**/.DS_Store

# PR documentation
PR_*.md
