/**
 * Shidoka Dark Theme -- syntax highlighting for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Hsu Ka An
 */

$default-dark-bg: #272727;
$default-dark-font-color: #FFFFFF;


.shidoka-dark-syntax-theme {

    background: $default-dark-bg;

    code[class*="language-"],
    pre[class*="language-"] {
        background: $default-dark-bg;
    }

    pre[class*="language-"]::selection,
    pre[class*="language-"] ::selection,
    code[class*="language-"]::selection,
    code[class*="language-"] ::selection {
        background: $default-dark-bg;
    }

    code[class*="language-"],
    pre[class*="language-"] {
        color: $default-dark-font-color;
        font-family: var(--kd-font-family-code-view);

        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;

        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }

    pre[class*="language-"]::-moz-selection,
    pre[class*="language-"] ::-moz-selection,
    code[class*="language-"]::-moz-selection,
    code[class*="language-"] ::-moz-selection {
        text-shadow: none;
        background: inherit;
    }

    .code-view__copy-button .copy-text,
    .code-view__copy-button .copy-icon,
    .code-view__expand-button .expand-icon {
        fill: $default-dark-font-color;
        color: $default-dark-font-color;
    }

    .code-view__copy-button:hover .copy-text,
    .code-view__copy-button:hover .copy-icon,
    .code-view__expand-button:hover .expand-icon {
        fill: #163d43;
        color: #163d43;
    }

    .code-view__copy-button:disabled:hover .copy-text,
    .code-view__copy-button:disabled:hover .copy-icon {
        fill: $default-dark-font-color;
        color: $default-dark-font-color;
    }



    pre[class*="language-"]::selection,
    pre[class*="language-"] ::selection,
    code[class*="language-"]::selection,
    code[class*="language-"] ::selection {
        text-shadow: none;
    }

    @media print {

        code[class*="language-"],
        pre[class*="language-"] {
            text-shadow: none;
        }
    }

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
        color: #C1BEBE;
    }

    .token.punctuation {
        color: #D9D7D7;
    }

    .token.namespace {
        opacity: .7;
    }

    .token.boolean,
    .token.constant,
    .token.symbol,
    .token.tag,
    .token.deleted,
    .token.number,
    .token.property {
        color: #FEDEDA;
    }

    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.builtin,
    .token.inserted,
    .token.entity,
    .language-css .token.string,
    .style .token.string {
        color: #81E1B5;
    }

    .token.url,
    .token.operator {
        color: #FFBC48;
    }

    .token.atrule,
    .token.attr-value,
    .token.keyword {
        color: #ACE1F8;
    }

    .token.function,
    .token.class-name {
        color: #F3ACD6;
    }

    .token.regex,
    .token.important,
    .token.variable {
        color: #FFD46A;
    }

    .token.important,
    .token.bold {
        font-weight: bold;
    }

    .token.italic {
        font-style: italic;
    }

    .token.entity {
        cursor: help;
    }

    /// dark-mode scrollbar styles
    pre {
        &::-webkit-scrollbar-track {
            background: rgba(255, 255, 255, 0.1);
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.5);
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgba(255, 255, 255, 0.7);
        }

        scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.1);
    }

    &.multi-line .code-snippet-wrapper {
        pre {
            &::-webkit-scrollbar-track {
                background: rgba(255, 255, 255, 0.1);
                border-radius: 4px;
            }

            &::-webkit-scrollbar-thumb {
                background: rgba(255, 255, 255, 0.5);
                border-radius: 4px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: rgba(255, 255, 255, 0.7);
            }

            scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.1);
        }
    }

    ///
}
