@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/elevation.scss';
@use '../../../common/scss/global.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '../../../common/scss/gradients.scss' as gradient;

:host {
  display: inline-block;
  width: 264px;
}

:host([aiConnected]:hover) {
  --_title-color: var(--kd-color-text-title-ai-secondary);
  --_subtitle-color: var(--kd-color-text-level-primary);
  --_description-color: var(--kd-color-text-level-primary);
}

.card {
  &-wrapper {
    position: relative;
    padding: 16px;
    background-color: var(--kd-color-background-container-default);
    border: 1px solid var(--kd-color-border-card-default);
    border-radius: 8px;
    height: 100%;

    &.ai-connected {
      background-color: var(--kd-color-background-ui-hollow-default);
      border: 1px solid var(--kd-color-border-variants-light);
    }

    &.ai-highlight {
      border: 1px solid var(--kd-color-border-button-ai-state-highlight);
      background: var(--kd-color-background-container-ai-default);
      color: var(--kd-color-text-level-primary);
    }
  }

  &-wrapper-clickable {
    position: relative;
    display: inline-block;
    color: unset;
    width: inherit;
    text-decoration: none;
    background-color: var(--kd-color-background-container-default);
    border-radius: 8px;
    height: 100%;
    padding: 16px;
    border: 1px solid transparent;
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition: border-color 150ms ease-out, box-shadow 150ms ease-out,
      outline-color 150ms ease-out;

    &:hover {
      border-color: var(--kd-color-border-ui-hover);
      @include elevation.shadow(2);
    }

    &:focus-visible {
      outline-color: var(--kd-color-border-variants-focus);
    }

    &.ai-connected {
      background-color: var(--kd-color-background-ui-hollow-default);

      &:hover {
        @include gradient.border-gradient-ai(
          $gradient:
            var(
              --kd-gradient-border-ai-default,
              linear-gradient(
                to bottom,
                light-dark(
                  var(
                    --kd-color-border-ai-default-gradient-start-light,
                    #ff6b57
                  ),
                  var(--kd-color-border-ai-default-gradient-start-dark, #ff6b57)
                ),
                light-dark(
                  var(--kd-color-border-ai-default-gradient-end-light, #79d2df),
                  var(--kd-color-border-ai-default-gradient-end-dark, #79d2df)
                )
              )
            ),
          $radius: 8px,
          $width: 1px,
          $surface: var(--kd-color-background-button-primary-ai-hover)
        );

        box-shadow: none;

        ::slotted(.card-title) {
          color: var(--_title-color);
        }
        ::slotted(.card-subtitle) {
          color: var(--_subtitle-color);
        }
        ::slotted(.card-description) {
          color: var(--_description-color);
        }
      }

      &:focus-visible {
        border-color: var(--kd-color-border-button-ai-state-hover);
      }
    }

    &.ai-highlight {
      @include gradient.border-gradient-ai(
        $gradient:
          var(
            --kd-gradient-border-ai-default,
            linear-gradient(
              to bottom,
              light-dark(
                var(--kd-color-border-ai-default-gradient-start-light, #ff6b57),
                var(--kd-color-border-ai-default-gradient-start-dark, #ff6b57)
              ),
              light-dark(
                var(--kd-color-border-ai-default-gradient-end-light, #79d2df),
                var(--kd-color-border-ai-default-gradient-end-dark, #79d2df)
              )
            )
          ),
        $radius: 8px,
        $width: 1px,
        $surface: var(--kd-color-background-button-primary-ai-hover)
      );

      border-color: transparent;
      background: var(--kd-color-background-container-ai-default);
      box-shadow: 0 2px 12px 0 var(--kd-color-utility-elevation-ai-l3);

      &:hover,
      &:focus-visible {
        border-color: transparent;
        border-image-source: inherit;
        border-image-slice: inherit;
      }

      &.card-border {
        border-color: transparent;
      }
    }
  }

  &-border {
    border: 1px solid var(--kd-color-border-card-clickable);

    &-highlight {
      border: 1px solid var(--kd-color-background-highlight-border);
    }

    &.ai-connected {
      border: 1px solid var(--kd-color-border-button-ai-state-default);
    }

    @include elevation.shadow(1);
  }

  &-highlight {
    background: var(--kd-color-background-highlight-fill);
    color: var(--kd-color-text-level-primary);
  }
}
