@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

.card {
  &-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-logo {
    width: 32px;
    height: 32px;
  }
  &-logo-img {
    min-width: 32px;
    min-height: 32px;
    border-radius: 50%;
  }
  &-title {
    @include typography.type-ui-01;
    color: var(--kd-color-text-level-primary);
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 500;
  }
  &-subtitle {
    @include typography.type-ui-03;
    color: var(--kd-color-text-level-primary);
    margin-bottom: 16px;
  }
  &-description {
    @include typography.type-ui-02;
    color: var(--kd-color-text-level-primary);
    margin-bottom: 16px;
  }
  &-actions {
    display: inline-flex;
  }
  &-action-btn-class {
    display: flex;
    align-items: center;
  }
  &-thumbnail-img {
    margin-top: 16px;
    border-radius: 8px;
  }
  &-link {
    text-align: center;
  }
  &-link-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.tags {
  margin-bottom: 16px;
}
