@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/elevation.scss';
@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: inline-block;
  width: 264px;
}

.card {
  &-wrapper {
    position: relative;
    padding: 16px;
    background-color: var(--kd-color-background-container-default);
    border: 1px solid var(--kd-color-border-card-default);
    border-radius: 8px;
    height: 100%;

    &.ai-Connected {
      background-color: var(--kd-color-background-ui-hollow-default);
      border: 1px solid var(--kd-color-border-variants-light);
    }

    &.ai-highlight {
      border: 1px solid var(--kd-color-border-button-ai-state-highlight);
      background: var(--kd-color-background-container-ai-default);
      color: var(--kd-color-text-level-primary);
    }
  }

  &-wrapper-clickable {
    position: relative;
    display: inline-block;
    color: unset;
    width: inherit;
    text-decoration: none;
    background-color: var(--kd-color-background-container-default);
    border-radius: 8px;
    height: 100%;
    padding: 16px;
    border: 1px solid transparent;
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition: border-color 150ms ease-out, box-shadow 150ms ease-out,
      outline-color 150ms ease-out;

    &:hover {
      border-color: var(--kd-color-border-ui-hover);
      @include elevation.shadow(2);
    }

    &:focus-visible {
      outline-color: var(--kd-color-border-variants-focus);
    }

    &.ai-Connected {
      background-color: var(--kd-color-background-ui-hollow-default);

      &:hover {
        border-color: var(--kd-color-border-button-ai-state-hover);
        @include elevation.shadow(2, true);
      }

      &:focus-visible {
        border-color: var(--kd-color-border-button-ai-state-hover);
      }
    }

    &.ai-highlight {
      background: var(--kd-color-background-container-ai-default);

      &:hover {
        border-color: var(--kd-color-border-button-ai-state-hover);
        @include elevation.shadow(2, true);
      }

      &:focus-visible {
        border-color: var(--kd-color-border-button-ai-state-hover);
      }
    }
  }

  &-border {
    border: 1px solid var(--kd-color-border-card-clickable);
    @include elevation.shadow(1);

    &-highlight {
      border: 1px solid var(--kd-color-background-highlight-border);
    }

    &.ai-Connected {
      border: 1px solid var(--kd-color-border-button-ai-state-default);
    }
  }

  &-highlight {
    background: var(--kd-color-background-highlight-fill);
    color: var(--kd-color-text-level-primary);
  }
}
