@use '../../../common/scss/global.scss';
@use '../../../common/scss/mixins.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/visibility.scss';

.vital-card {
  &-title-label {
    @include typography.type-body-02;
    color: var(--kd-color-text-level-secondary);
    margin-bottom: 8px;
  }

  &-title {
    @include typography.type-body-02;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--kd-color-text-level-primary);

    // for large device after md size
    @media (min-width: 42rem) {
      @include typography.type-headline-07;
      font-weight: 400;
      margin-bottom: 4px;
    }
  }

  &-title-div {
    padding-right: 4px;
  }

  &-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 42rem) {
      align-items: initial;
      flex-direction: column;
    }
  }

  &-mobile-wrapper-subdiv {
    display: flex;
    align-items: center;

    @media (min-width: 42rem) {
      display: block;
    }
  }

  &-category-text {
    @include typography.type-ui-02;
    color: var(--kd-color-text-level-primary);
    margin-top: 0px;
    margin-bottom: 0px;
  }

  &-subcategory-text {
    @include typography.type-ui-03;
    color: var(--kd-color-text-level-secondary);
    margin-top: 0;
    margin-bottom: 4px;
  }

  &-cat-subcat-text {
    padding: 0px 8px;

    @media (min-width: 42rem) {
      padding: 0;
    }
  }

  &-link {
    margin-top: 0px;

    @media (min-width: 42rem) {
      margin-top: 10px;
    }

    &-text {
      @media (max-width: calc(42rem - 1px)) {
        @include visibility.sr-only;
      }
    }
  }
}
