@use '../../../common/scss/global.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

.menu-item {
  @include typography.type-ui-02;

  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 150ms ease-out, color 150ms ease-out,
    outline-color 150ms ease-out;
  outline: 2px solid transparent;
  outline-offset: -2px;

  &:focus-visible {
    outline-color: var(--kd-color-border-variants-focus);
  }

  &__name {
    flex: 1;
    color: var(--kd-color-text-level-primary);
  }

  &__count {
    color: var(--kd-color-text-level-secondary);
  }

  &__chevron {
    display: flex;
    align-items: center;
    color: var(--kd-color-text-level-secondary);

    svg {
      width: 16px;
      height: 16px;
    }
  }

  // Workspace variant styles
  &--workspace {
    &:hover:not(.menu-item--selected) {
      background: var(--kd-color-background-menu-state-hover);

      .menu-item__name,
      .menu-item__count,
      .menu-item__chevron {
        color: var(--kd-color-text-level-light);
      }
    }

    &:active:not(.menu-item--selected) {
      background: var(--kd-color-background-menu-state-pressed);

      .menu-item__name,
      .menu-item__count,
      .menu-item__chevron {
        color: var(--kd-color-text-level-light);
      }
    }

    &.menu-item--selected {
      background: var(--kd-color-background-menu-state-hover);

      .menu-item__name,
      .menu-item__count,
      .menu-item__chevron {
        color: var(--kd-color-text-level-light);
      }
    }
  }

  // Item variant styles
  &--item {
    &:hover:not(.menu-item--selected) {
      --kyn-icon-selector-hover-opacity: 1;
      background: var(--kd-color-background-menu-state-hover);

      .menu-item__name,
      .menu-item__favorite {
        color: var(--kd-color-text-level-light);
      }
    }

    &:active:not(.menu-item--selected) {
      background: var(--kd-color-background-menu-state-pressed);

      .menu-item__name,
      .menu-item__favorite {
        color: var(--kd-color-text-level-light);
      }
    }

    &.menu-item--selected {
      background: var(--kd-color-background-menu-state-open);

      .menu-item__name {
        color: var(--kd-color-text-level-primary);
        font-weight: 500;
      }
    }

    // Favorite icon selector
    .menu-item__favorite {
      color: var(--kd-color-text-level-secondary);
    }
  }
}
