@use '../mixins/typography.scss';

.kyn-font--weight-ultralight {
  font-weight: 200;
}

.kyn-font--weight-light {
  font-weight: 300;
}

.kyn-font--weight-regular {
  font-weight: 400;
}

.kyn-font--weight-medium {
  font-weight: 500;
}

.kyn-font--weight-bold {
  font-weight: 700;
}

.kyn-type--hero-01 {
  @include typography.type-hero--01;
}

.kyn-type--hero-02 {
  @include typography.type-hero--02;
}

.kyn-type--hero-03 {
  @include typography.type-hero--03;
}

.kyn-type--hero-04 {
  @include typography.type-hero--04;
}

.kyn-type--display-01 {
  @include typography.type-display--01;
}

.kyn-type--display-02 {
  @include typography.type-display--02;
}

.kyn-type--display-03 {
  @include typography.type-display--03;
}

.kyn-type--headline-01 {
  @include typography.type-headline--01;
}

.kyn-type--headline-02 {
  @include typography.type-headline--02;
}

.kyn-type--headline-03 {
  @include typography.type-headline--03;
}

.kyn-type--headline-04 {
  @include typography.type-headline--04;
}

.kyn-type--headline-05 {
  @include typography.type-headline--05;
}

.kyn-type--headline-06 {
  @include typography.type-headline--06;
}

.kyn-type--headline-07 {
  @include typography.type-headline--07;
}

.kyn-type--headline-08 {
  @include typography.type-headline--08;
}

.kyn-type--body-01 {
  @include typography.type-body--01;
}

.kyn-type--body-02 {
  @include typography.type-body--02;
}

.kyn-type--ui-01 {
  @include typography.type-ui--01;
}

.kyn-type--ui-02 {
  @include typography.type-ui--02;
}

.kyn-type--ui-03 {
  @include typography.type-ui--03;
}

.kyn-type--ui-04 {
  @include typography.type-ui--04;
}
