@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

.action-bar {
  display: flex;
  justify-content: space-between;
}

.left-div,
.right-div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

slot[name='sources']::slotted(*) {
  padding: 1rem;
}

.kyn-sources,
.kyn-pos-feedback,
.kyn-neg-feedback {
  padding: 0px 0px;
  display: block;
  background-color: var(--kd-color-background-page-default);
  border-radius: inherit;

  & [class*='kyn-pos-feedback-body'],
  [class*='kyn-neg-feedback-body'],
  [class*='kyn-sources-body'] {
    display: none;
  }

  &.opened [class*='kyn-pos-feedback-body'],
  &.opened [class*='kyn-neg-feedback-body'],
  &.opened [class*='kyn-sources-body'] {
    display: block;
    visibility: visible;
    position: absolute;
    left: 0;
    right: 0;
    top: 6rem;
    width: 95%;
    margin-left: 2rem;
    z-index: 100;
  }
  &.opened .kyn-sources-body {
    background: var(--kd-color-background-container-ai-default);
    padding: 24px 16px;
  }
  &.opened [class*='kyn-pos-feedback-body'],
  &.opened [class*='kyn-neg-feedback-body'] {
    background: var(--kd-color-background-container-secondary);
    border: 1px solid var(--kd-color-border-variants-light);
    border-radius: 8px;
    padding: 16px;
  }

  &.disabled svg {
    fill: var(--kd-color-icon-disabled);
  }
}

.expand-icon {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  transition: transform 150ms ease-out;
  margin-left: 0.5rem;

  .opened & {
    transform: rotate(-180deg);
  }
}

.reveal-toggle {
  margin-top: 1rem;
  margin-left: -1rem;
}
