@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

.action-bar {
  display: flex;
  justify-content: space-between;
}

.left-div,
.right-div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.card-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  slot[name='sources']::slotted(kyn-card) {
    width: 100%;
  }
  .reveal-toggle {
    align-self: flex-start;
  }
  @media (min-width: 42rem) {
    flex-direction: row;
    flex-wrap: wrap;
    slot[name='sources']::slotted(kyn-card) {
      width: auto;
      flex: 0 1 auto;
    }
  }
}

[class*='kyn-feedback-body'],
[class*='kyn-sources-body'] {
  display: none;
}

.opened.kyn-feedback-body {
  display: block;
  position: relative;
  background: var(--kd-color-background-container-ai-default);
  border-radius: 8px;
  padding: 16px;
  margin-top: 1rem;
}
.opened.kyn-sources-body {
  display: block;
  position: relative;
  background: var(--kd-color-background-container-ai-default);
  border-radius: 8px;
  padding: 16px;
  margin-top: 1rem;
}

.expand-icon {
  transition: transform 150ms ease-out;
  .opened & {
    transform: rotate(-180deg);
  }
}

.reveal-toggle {
  justify-self: start;
  margin-top: 0.5rem;
}

.close-container,
.close {
  background: inherit;
  position: absolute;
  right: 8px;
  top: 8px;
}
