@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

.action-bar {
  display: flex;
  justify-content: space-between;
}

.left-div,
.right-div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.card-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;
  margin-top: 1rem;

  @media (min-width: 42rem) {
    grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
  }
}

[class*='kyn-feedback-body'],
[class*='kyn-sources-body'] {
  display: none;
}

.opened.kyn-feedback-body {
  display: block;
  position: relative;
  background: var(--kd-color-background-container-ai-default);
  border-radius: 8px;
  padding: 16px;
  margin-top: 1rem;
}
.opened.kyn-sources-body {
  display: block;
  position: relative;
  background: var(--kd-color-background-container-ai-default);
  border-radius: 8px;
  padding: 16px;
  margin-top: 1rem;
}

.expand-icon {
  transition: transform 150ms ease-out;
  .opened & {
    transform: rotate(-180deg);
  }
}

.reveal-toggle {
  justify-self: start;
  margin-top: 0.5rem;
}

.close-container,
.close {
  background: inherit;
  position: absolute;
  right: 8px;
  top: 8px;
}
