@use '../../../common/scss/global.scss';

:host(:not([vertical])) {
  display: block;
  height: 1px;
  width: 100%;
  background: var(--kd-color-border-level-secondary);
}

:host([vertical]) {
  display: inline-block;
  height: 100%;
  width: 1px;
  background: var(--kd-color-border-level-secondary);
}
