@use '../../../common/scss/global.scss';

:host(:not([vertical])) {
  display: block;
}

:host([vertical]) {
  display: inline-flex;
  height: 100%;
}

.divider {
  background-color: var(--kd-color-border-level-secondary);
  height: 1px;
  :host([vertical]) & {
    width: 1px;
    height: auto;
  }
}
