@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
    width: 100%;
    display: inline-block;
}

#linked-div {
    max-width: 560px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px rgba(110, 109, 109, 0.1);
    border-radius: 5px;
    background-color: white;
}

#linked-div::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--kd-color-background-primary, #000);
    transition: left 0.3s ease-in-out;
    z-index: 0;
}

#linked-div:hover::before {
    left: 0;
}

kd-link {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: inherit;
}

kd-link::after {
    content: none;
}

kd-link:hover {
    text-decoration: none;
    color: white;
}

kd-link:hover::after {
    content: none;
}

#linked-div-content {
    padding: 32px 80px 48px 32px;
    position: relative;
    z-index: 1;
}

#secondary-header {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    color: var(--kd-color-background-primary, #000);
    font-weight: 500;
    text-transform: uppercase;
}

#main-header {
    font-size: 20px;
    line-height: 28px;
    margin: 24px 0 32px;
    color: black;
}

#body-slot-wrapper {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: black;
    margin: 0 0 16px 0;
    padding: 0;
}

#linked-div:hover #body-slot-wrapper,
#linked-div:hover #main-header {
    color: white;
    transition: color 0.3s ease-in-out;
}

#linked-div:hover #secondary-header {
    color: var(--kd-color-background-ui-subtle, #ccc);
    transition: color 0.3s ease-in-out;
}

::slotted(*) {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
