@mixin type-head-1 {
  font-family: var(--kyn-type-head-1-family);
  font-size: var(--kyn-type-head-1-size);
  line-height: var(--kyn-type-head-1-height);
  font-weight: var(--kyn-type-head-1-weight);
}

@mixin type-body-1 {
  font-family: var(--kyn-type-body-1-family);
  font-size: var(--kyn-type-body-1-size);
  line-height: var(--kyn-type-body-1-height);
  font-weight: var(--kyn-type-body-1-weight);
}
