@use '../../../common/scss/global.scss';
@use '../../../common/scss/menu-item.scss';

:host {
  display: block;
}

.menu-item {
  cursor: pointer;
  padding: 16px;

  .menu-item-inner-el {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
