@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

.avatar-wrapper {
  @include typography.type-ui-03;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  border-radius: 18px;
  color: var(--kd-color-text-level-secondary);
  background: var(--kd-color-background-accent-light);
  transition: color 150ms ease-out, background-color 150ms ease-out,
    border-color 150ms ease-out;
  white-space: nowrap;
  overflow: hidden;
}
