@use '../../../common/scss/global.scss';

:host {
  display: inline-flex;
}

.icon-selector-group {
  display: flex;
  gap: 4px;

  &--vertical {
    flex-direction: column;
  }

  &--horizontal {
    flex-direction: row;
  }
}
