@use '../../../common/scss/global.scss';
@use '../../../common/scss/form-input.scss';

:host {
  display: inline-block;
  width: 224px;
  max-width: 100%;
}

.input-wrapper {
  gap: 8px;
}

input {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  flex-grow: 1;
  min-width: 170px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  height: 48px;
  padding: 0 16px;

  &:focus {
    outline-color: transparent;
  }

  &.size--sm {
    height: 32px;
  }

  &.size--lg {
    height: 56px;
  }

  &.icon--left {
    padding-left: 48px;
  }

  &:not([disabled])[invalid] {
    border-color: var(--kd-color-border-variants-destructive);
  }

  &:not([disabled]) {
    &:active {
      outline: 2px solid var(--kd-color-border-ui-pressed);
    }
  }
}

/* Hide native arrow controls */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  /* Firefox */
}

span[slot='icon'] {
  display: flex;
}
