@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/visibility.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: inline-block;
  // width: 160px;
}

.label-text {
  @include typography.type-ui-02;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin-bottom: 8px;

  &.sr-only {
    @include visibility.sr-only;
  }

  [disabled] & {
    color: var(--kd-color-text-disabled);
  }
}

.required {
  color: var(--kd-color-text-error);

  [disabled] & {
    color: var(--kd-color-text-disabled);
  }
}

.input-wrapper {
  position: relative;
  display: flex;
  gap: 8px;
}

input {
  @include typography.type-body-02;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  flex-grow: 1;
  // flex-shrink: 1;
  min-width: 48px;
  border: 1px solid var(--kd-color-border-ui);
  border-radius: 4px;
  height: 48px;
  padding: 0 16px;
  color: var(--kd-color-text-primary);
  transition: background-color 150ms ease-out, border-color 150ms ease-out,
    outline-color 150ms ease-out;
  background: var(--kd-color-background-inverse);
  outline: 2px solid transparent;
  outline-offset: 2px;

  &.size--sm {
    height: 32px;
  }

  &.size--lg {
    height: 56px;
  }

  &[invalid] {
    border-color: var(--kd-color-border-error);
  }

  &[disabled] {
    color: var(--kd-color-text-disabled);
    border-color: var(--kd-color-border-ui-disabled);
  }

  &:hover {
    border-color: var(--kd-color-border-ui-hover);
  }

  &:focus {
    outline-color: var(--kd-color-border-focus);
  }

  &.icon--left {
    padding-left: 48px;
  }
}

.error {
  @include typography.type-ui-03;
  display: flex;
  align-items: center;
  color: var(--kd-color-text-error);
  margin-top: 8px;

  [disabled] & {
    color: var(--kd-color-text-disabled);
  }
}

.caption {
  @include typography.type-ui-03;
  margin-top: 8px;
  color: var(--kd-color-text-secondary);

  [disabled] & {
    color: var(--kd-color-text-disabled);
    border-color: var(--kd-color-border-ui-disabled);
  }
}

/* Hide native arrow controls */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}
