@use '../../../common/scss/global.scss';

:host {
  display: block;
}

.node,
.edgeLabel,
.actor {
  // filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(var(--kd-elevation-level-1));
}

#kyn-mermaid-svg[aria-roledescription='kanban'] .label {
  color: var(--kd-color-text-level-dark);
}

#kyn-mermaid-svg .packetByte.start,
#kyn-mermaid-svg .packetByte.end,
#kyn-mermaid-svg .packetTitle {
  fill: var(--kd-color-text-level-primary);
}

#kyn-mermaid-svg[aria-roledescription='xychart'] text {
  fill: var(--kd-color-text-level-primary);
}
