@use '../../../common/scss/global.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/elevation.scss';

:host {
  display: block;

  @media (max-width: calc(42rem - 0.001px)) {
    position: sticky;
    top: 0;
    z-index: var(--kd-z-header);
  }
}

nav {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  padding: 8px;
  width: 100%;
  background-color: var(--kd-color-background-container-default);
  overflow: hidden;

  @media (min-width: 42rem) {
    position: fixed;
    z-index: var(--kd-z-local-nav);
    top: var(--kd-local-nav-offset-top);
    left: 8px;
    bottom: 8px;
    padding-top: 8px;
    border-radius: 8px;
    transition: width 300ms ease-in-out, border-color 300ms ease-out,
      inset 150ms ease-out;
    width: var(--kd-local-nav-width);

    &.scrolled {
      top: calc(var(--kd-local-nav-offset-top) - 8px);
    }

    &.pinned {
      box-shadow: none;
    }
  }

  &.nav--expanded-mobile {
    height: 100%;
  }

  &.nav--expanded {
    @media (min-width: 42rem) {
      width: var(--kd-local-nav-width-expanded);
    }
  }

  @include typography.type-ui-02;
  @include elevation.shadow(1);
}

@media (min-width: 42rem) {
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: calc(var(--kd-z-local-nav) - 1);
    transition: background-color 300ms ease-out, visibility 300ms ease-out;
    background-color: transparent;
    visibility: hidden;

    .nav--expanded + & {
      background-color: var(--kd-color-background-opacity-inverse-backdrop);
      visibility: visible;

      &.pinned {
        background-color: transparent;
        visibility: hidden;
      }
    }
  }
}

.search {
  display: none;

  .nav--expanded &,
  .nav--expanded-mobile & {
    display: block;
  }
}

slot[name='search'] {
  &::slotted(*) {
    display: block;
    margin: 2px 2px 4px;
  }
}

.links {
  visibility: hidden;
  flex-direction: column;
  gap: 2px;
  list-style: none;
  padding: 0 8px;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--kd-color-background-menu-state-default);
  padding-top: 4px;
  transition: height 250ms ease-out, visibility 250ms ease-out;
  height: 0;

  .nav--expanded-mobile & {
    display: flex;
    height: calc(100vh - 56px);
    visibility: visible;
  }

  .nav--expanded & {
    overflow-y: auto;

    @media (min-width: 42rem) {
      height: 100%;
    }
  }

  @media (min-width: 42rem) {
    position: static;
    display: flex;
    visibility: visible;
    height: 100%;
    padding: 0;
    background: none;
  }
}

.mobile-toggle {
  background: none;
  border: none;
  border-radius: 4px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  font: inherit;
  color: var(--kd-color-text-level-primary);
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  transition: background-color 150ms ease-out, color 150ms ease-out,
    outline-color 150ms ease-out;

  &:hover {
    background: var(--kd-color-background-menu-state-hover);
    color: var(--kd-color-text-button-dark-primary);
  }

  &:focus-visible {
    outline-color: var(--kd-color-border-variants-focus);
  }

  &:active {
    background-color: var(--kd-color-background-menu-state-pressed);
    color: var(--kd-color-text-button-dark-primary);
  }

  svg {
    display: block;
    transition: transform 150ms ease-out;

    .nav--expanded-mobile & {
      transform: rotate(-180deg);
    }
  }

  @media (min-width: 42rem) {
    display: none;
  }
}

.toggle-container {
  display: none;
  padding: 8px 4px 4px;
  border-top: 1px solid var(--kd-color-border-variants-light);

  @media (min-width: 42rem) {
    display: flex;
  }
}

.pin-icon {
  transition: transform 150ms ease-out;

  .pinned & {
    transform: rotate(180deg);
  }
}
