@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

.divider {
  display: none;
  border-bottom: 1px solid var(--kd-color-border-variants-light);
  margin: 4px 0;

  &.nav-expanded {
    display: block;
  }
}

.heading {
  @include typography.type-ui-03;
  color: var(--kd-color-text-level-tertiary-bold);
  font-weight: 500;
  text-transform: uppercase;
  margin: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
