@use '../../../common/scss/global.scss';
@use '../../../common/scss/mixins.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/elevation.scss';

:host {
  display: block;
}

a {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 40px;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  outline: 2px solid transparent;
  outline-offset: -2px;
  color: var(--kd-color-text-level-primary);
  transition: background-color 150ms ease-out, color 150ms ease-out,
    outline-color 150ms ease-out;

  ::slotted(*) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
  }

  .link-active & {
    background-color: var(--kd-color-background-menu-state-active);
    color: var(--kd-color-text-button-dark-primary);
    font-weight: 500;
  }

  .link-expanded.nav-expanded & {
    background: var(--kd-color-background-menu-state-open);
    color: var(--kd-color-text-button-dark-primary);
    font-weight: 500;

    &:hover {
      background: var(--kd-color-background-menu-state-hover);
    }
  }

  &:hover {
    background: var(--kd-color-background-menu-state-hover);
    color: var(--kd-color-text-button-dark-primary);
  }

  &:focus {
    outline-color: var(--kd-color-border-variants-focus);
  }

  &:active {
    background-color: var(--kd-color-background-menu-state-pressed);
    color: var(--kd-color-text-button-dark-primary);
  }

  .link-disabled &,
  .nav-expanded.link-active.link-disabled & {
    color: var(--kd-color-text-link-level-disabled);

    &:hover {
      background-color: transparent;
    }
  }
}

.sub-menu {
  display: flex;
  flex-direction: column;
  gap: 2px;
  visibility: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--kd-color-background-menu-state-default);

  transition: transform 300ms ease-out, opacity 300ms ease-out,
    visibility 300ms ease-out;
  transform: scaleX(0);
  opacity: 0;
  transform-origin: right;

  @media (min-width: 42rem) {
    background: none;
  }

  .has-links & {
    padding: 4px 8px 8px;

    @media (min-width: 42rem) {
      padding-left: 28px;
      padding-top: 2px;
      padding-right: 0;
      padding-bottom: 0;
    }
  }

  @media (max-width: calc(42rem - 1px)) {
    top: 0 !important;
    left: 0 !important;
  }

  @media (min-width: 42rem) {
    // @include elevation.shadow(2);
    display: none;
    position: static;
    bottom: auto;
    width: auto;
    transform: none;
    visibility: visible;
    opacity: 1;
  }

  .link-expanded.nav-expanded & {
    visibility: visible;
    opacity: 1;
    transform: none;

    @media (min-width: 42rem) {
      display: flex;
    }
  }
}

@media (min-width: 42rem) {
  .link-expanded {
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 42px;
      bottom: 19px;
      left: 20px;
      width: 1px;
      background: var(--kd-color-border-variants-light);
    }
  }

  .sub-level a {
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: -7px;
      width: 10px;
      height: 1px;
      background: var(--kd-color-border-variants-light);
      z-index: -1;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - 2px);
      left: 0px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: var(--kd-color-border-variants-light);
      z-index: -1;
    }
  }
}

.go-back {
  @include typography.type-ui-02;
  display: flex;
  position: relative;
  align-items: center;
  padding: 8px 16px 8px 8px;
  cursor: pointer;
  background: none;
  border: none;
  margin: 0;
  border-radius: 4px;
  width: 100%;
  transition: background-color 150ms ease-out, color 150ms ease-out,
    outline-color 150ms ease-out;
  outline: 2px solid transparent;
  outline-offset: -2px;
  color: var(--kd-color-text-level-primary);

  svg {
    margin-right: 16px;
  }

  &:hover {
    background: var(--kd-color-background-menu-state-hover);
    color: var(--kd-color-text-button-dark-primary);
  }

  &:active {
    background-color: var(--kd-color-background-menu-state-pressed);
    color: var(--kd-color-text-button-dark-primary);
  }

  &:focus {
    outline-color: var(--kd-color-border-variants-focus);
  }

  @media (min-width: 42rem) {
    display: none;
  }
}

.category {
  @include typography.type-ui-03;
  font-weight: 500;
  color: var(--kd-color-text-level-tertiary-bold);
  text-transform: uppercase;
  padding: 8px;
  border-bottom: 1px solid var(--kd-color-border-variants-light);

  @media (min-width: 42rem) {
    display: none;
  }
}

.text {
  min-width: 120px;

  @media (min-width: 42rem) {
    margin-left: 4px;

    // .link:not(.has-icon):not(.has-links) & {
    //   margin-left: 8px;
    // }
  }

  .nav-expanded & {
    display: block;
  }

  .top-level:not(.nav-expanded) & {
    @include mixins.visually-hidden;
  }
}

.expand-icon {
  display: none;

  .nav-expanded & {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
  }

  svg {
    display: block;
  }
}
