@use '../../../common/scss/global.scss';
@use '../../../common/scss/mixins.scss';

:host {
  display: block;
}

label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  position: relative;

  &[disabled] {
    color: var(--kd-color-text-level-primary);
  }
}

span {
  order: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type='checkbox']:not([disabled]):indeterminate {
  background: var(--kd-color-background-button-primary-default);
  border-color: var(--kd-color-border-button-primary-default);

  &::before {
    content: '';
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTMuNSA1Ljg1NTQ3TDkgLTIuMDMwNjNlLTA2TDEwIDEuMDY0NjNMMy40ODU2NiA4TDAgNC4yODkwNkwxLjAxNDM0IDMuMjA5MTZMMy41IDUuODU1NDdaIiBmaWxsPSIjMjIyNTI3Ii8+DQo8L3N2Zz4g');
    display: block;
    width: 10px;
    height: 8px;
    transition: 150ms transform ease-out;
    transform: scale(0);
  }

  &:hover {
    background-color: var(--kd-color-background-button-primary-hover);
    border-color: var(--kd-color-border-button-primary-hover);

    @media (prefers-color-scheme: light) {
      &::before {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTMuNSA1Ljg1NTQ3TDkgLTIuMDMwNjNlLTA2TDEwIDEuMDY0NjNMMy40ODU2NiA4TDAgNC4yODkwNkwxLjAxNDM0IDMuMjA5MTZMMy41IDUuODU1NDdaIiBmaWxsPSIjZGRmMGYzIi8+DQo8L3N2Zz4g');
      }
    }

    @media (prefers-color-scheme: dark) {
      background-color: #205961;
      border-color: #205961;

      &::before {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTMuNSA1Ljg1NTQ3TDkgLTIuMDMwNjNlLTA2TDEwIDEuMDY0NjNMMy40ODU2NiA4TDAgNC4yODkwNkwxLjAxNDM0IDMuMjA5MTZMMy41IDUuODU1NDdaIiBmaWxsPSJ3aGl0ZSIvPg0KPC9zdmc+IA==');
      }
    }
  }

  &:active {
    background-color: var(--kd-color-border-button-primary-pressed);
    border-color: var(--kd-color-border-button-primary-pressed);

    @media (prefers-color-scheme: light) {
      &::before {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTMuNSA1Ljg1NTQ3TDkgLTIuMDMwNjNlLTA2TDEwIDEuMDY0NjNMMy40ODU2NiA4TDAgNC4yODkwNkwxLjAxNDM0IDMuMjA5MTZMMy41IDUuODU1NDdaIiBmaWxsPSIjYWFkY2QzIi8+DQo8L3N2Zz4g');
      }
    }

    @media (prefers-color-scheme: dark) {
      &::before {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTMuNSA1Ljg1NTQ3TDkgLTIuMDMwNjNlLTA2TDEwIDEuMDY0NjNMMy40ODU2NiA4TDAgNC4yODkwNkwxLjAxNDM0IDMuMjA5MTZMMy41IDUuODU1NDdaIiBmaWxsPSIjYWFkY2QzIi8+DQo8L3N2Zz4g');
      }
    }
  }
}

input[type='checkbox'][disabled]:indeterminate {
  background-color: var(--kd-color-background-ui-default-disabled);
  border-color: var(--kd-color-background-ui-default-disabled);
}

input {
  order: 0;
  -webkit-appearance: none;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  border: 2px solid var(--kd-color-border-ui-default);
  border-radius: 2px;
  background: var(--kd-color-background-ui-hollow-default);
  outline: 2px solid transparent;
  transition: background-color 150ms ease-out, border-color 150ms ease-out,
    outline-color 150ms ease-out;

  &::before {
    content: '';
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTMuNSA1Ljg1NTQ3TDkgLTIuMDMwNjNlLTA2TDEwIDEuMDY0NjNMMy40ODU2NiA4TDAgNC4yODkwNkwxLjAxNDM0IDMuMjA5MTZMMy41IDUuODU1NDdaIiBmaWxsPSIjMjIyNTI3Ii8+DQo8L3N2Zz4g');
    display: block;
    width: 10px;
    height: 8px;
    transition: 150ms transform ease-out;
    transform: scale(0);
  }

  &:not([disabled]) {
    &:active {
      background-color: var(--kd-color-background-button-primary-pressed);
      border-color: var(--kd-color-background-ui-hollow-pressed);
    }

    &:hover {
      background-color: var(--kd-color-background-ui-hollow-hover);
      border-color: var(--kd-color-border-ui-hover);
    }

    &:focus {
      outline-color: var(--kd-color-border-variants-focus);
      outline-offset: 2px;
    }

    &:active {
      background-color: var(--kd-color-background-ui-hollow-pressed);
      border-color: var(--kd-color-border-ui-hover);
      outline-color: transparent;
    }
  }

  &:not([disabled]):checked {
    background: var(--kd-color-background-ui-hollow-pressed);
    border-color: transparent;


    &::before {
      transform: scale(1);
    }

    &:hover {
      background: var(--kd-color-background-button-primary-state-hover);
      outline-color: transparent;

      @media (prefers-color-scheme: light) {
        &::before {
          background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTMuNSA1Ljg1NTQ3TDkgLTIuMDMwNjNlLTA2TDEwIDEuMDY0NjNMMy40ODU2NiA4TDAgNC4yODkwNkwxLjAxNDM0IDMuMjA5MTZMMy41IDUuODU1NDdaIiBmaWxsPSIjZGRmMGYzIi8+DQo8L3N2Zz4g');
        }
      }

      @media (prefers-color-scheme: dark) {
        &::before {
          &::before {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+ICAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0zLjUgNS44NTU0N0w5IC0yLjAzMDYzZS0wNkwxMCAxLjA2NDYzTDMuNDg1NjYgOEwwIDQuMjg5MDZMMS4wMTQzNCAzLjIwOTE2TDMuNSA1Ljg1NTQ3WiIgZmlsbD0iIzIwNTk2MSIvPg0KPC9zdmc+');
          }
        }
      }
    }

    &:focus {
      background: var(--kd-color-background-button-primary-state-default);
      border-color: transparent;
    }

    &:active {
      background-color: var(--kd-color-background-button-primary-state-pressed);
      border-color: transparent;

      @media (prefers-color-scheme: light) {
        &::before {
          background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTMuNSA1Ljg1NTQ3TDkgLTIuMDMwNjNlLTA2TDEwIDEuMDY0NjNMMy40ODU2NiA4TDAgNC4yODkwNkwxLjAxNDM0IDMuMjA5MTZMMy41IDUuODU1NDdaIiBmaWxsPSIjYWFkY2QzIi8+DQo8L3N2Zz4g');
        }
      }

      @media (prefers-color-scheme: dark) {
        &::before {
          background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTMuNSA1Ljg1NTQ3TDkgMEwxMCAxLjA2NDYzTDMuNDg1NjYgOEwwIDQuMjg5MDZMMS4wMTQzNCAzLjIwOTE2TDMuNSA1Ljg1NTQ3WiIgZmlsbD0iIzIwNTk2MSIvPg0KPC9zdmc+');
        }
      }
    }
  }

  &[disabled] {
    background-color: var(--kd-color-background-ui-hollow-default);
    border-color: var(--kd-color-border-ui-disabled);

    &:hover {
      &::before {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTMuNSA1Ljg1NTQ3TDkgLTIuMDMwNjNlLTA2TDEwIDEuMDY0NjNMMy40ODU2NiA4TDAgNC4yODkwNkwxLjAxNDM0IDMuMjA5MTZMMy41IDUuODU1NDdaIiBmaWxsPSIjMjIyNTI3Ii8+DQo8L3N2Zz4g');
      }
    }

    &:checked {
      background-color: var(--kd-color-background-ui-default-disabled);
      border-color: transparent;

      &::before {
        transform: scale(1);
      }
    }
  }
}

input[type='checkbox'][invalid] {
  border-color: var(--kd-color-border-button-descrutive-default);

  &[checked] {
    background-color: var(--kd-color-background-button-destructive-default);
    border-color: var(--kd-color-border-button-descrutive-default);

    &:hover {
      background-color: var(--kd-color-background-button-destructive-hover);
      border-color: var(--kd-color-border-button-descrutive-hover);
    }
  }

  &:hover {
    background-color: transparent;
    border-color: var(--kd-color-border-button-descrutive-hover) !important;
  }

  &:focus {
    border-color: var(--kd-color-border-button-descrutive-default);
    outline-color: transparent;

    &:hover {
      border-color: transparent;
    }
  }

  &:active {
    background-color: var(--kd-color-background-button-destructive-pressed) !important;
    border-color: var(--kd-color-border-button-descrutive-pressed) !important;
  }
}

.sr-only {
  @include mixins.visually-hidden;
}
