@use '../../../common/scss/global.scss';
@use '../../../common/scss/mixins.scss';

$checkbox-mask: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTMuNSA1Ljg1NTQ3TDkgLTIuMDMwNjNlLTA2TDEwIDEuMDY0NjNMMy40ODU2NiA4TDAgNC4yODkwNkwxLjAxNDM0IDMuMjA5MTZMMy41IDUuODU1NDdaIiBmaWxsPSIjMDAwIi8+DQo8L3N2Zz4=');

$main-checkbox-background: var(--kd-color-background-ui-default-secondary);
$invalid-checkbox-background: var(--kd-color-status-error-dark);

:host {
  display: block;
}

label {
  display: inline-flex;
  gap: 10px;
  width: 100%;
  position: relative;

  &.label-hidden {
    gap: 0;
  }

  &[disabled] {
    color: var(--kd-color-text-link-level-disabled);
  }
}

span {
  order: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

input {
  order: 0;
  -webkit-appearance: none;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0;
  margin-top: 4px;
  width: 16px;
  height: 16px;
  border: 2px solid var(--kd-color-border-forms-default);
  border-radius: 2px;
  background: var(--kd-color-background-ui-hollow-default);
  outline: 2px solid transparent;
  transition: background 150ms ease-out, border-color 150ms ease-out,
    outline-color 150ms ease-out;

  &::before {
    content: '';
    display: block;
    width: 10px;
    height: 8px;
    transition: 150ms transform ease-out;
    transform: scale(0);
  }

  &:not([disabled]) {
    &:active {
      background: var(--kd-color-background-button-primary-pressed);
      border-color: var(--kd-color-background-ui-hollow-pressed);
    }

    &:hover {
      background: var(--kd-color-background-ui-hollow-hover);
      border-color: var(--kd-color-border-ui-hover);
    }

    &:focus {
      border-color: var(--kd-color-border-forms-default);
      outline-color: var(--kd-color-border-variants-focus);
      background: var(--kd-color-background-ui-hollow-default);
      outline-offset: 2px;
    }

    &:active {
      background: var(--kd-color-background-ui-hollow-pressed);
      border-color: var(--kd-color-border-ui-pressed);
      outline-color: transparent;
    }
  }

  &:not([disabled]):checked {
    background: $main-checkbox-background;
    border-color: transparent;

    &::before {
      transform: scale(1);
      background: var(--kd-color-background-ui-hollow-default);
      mask: $checkbox-mask;
      -webkit-mask: $checkbox-mask;
      mask-size: contain;
      -webkit-mask-size: contain;
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-position: center;
    }

    &:hover {
      outline-color: transparent;

      &::before {
        background: var(--kd-color-background-ui-hollow-hover);
      }
    }

    &:focus {
      border-color: transparent;
      outline-color: var(--kd-color-border-variants-focus);
    }

    &:active {
      border-color: transparent;

      &::before {
        background: var(--kd-color-background-ui-hollow-pressed);
      }
    }
  }

  &[disabled] {
    background: var(--kd-color-background-ui-hollow-default);
    border-color: var(--kd-color-border-ui-disabled);

    &:checked {
      background: var(--kd-color-background-ui-default-disabled);
      border-color: transparent;

      &::before {
        transform: scale(1);
        background: var(--kd-color-background-ui-hollow-default);
        mask: $checkbox-mask;
        -webkit-mask: $checkbox-mask;
        mask-size: contain;
        -webkit-mask-size: contain;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
      }
    }
  }
}

input[type='checkbox']:indeterminate {
  &:not([disabled]) {
    background: $main-checkbox-background;
    border-color: transparent;

    &::before {
      content: '';
      display: block;
      width: 10px;
      height: 8px;
      transform: scale(1);
      background: var(--kd-color-background-ui-hollow-default);
      mask: linear-gradient(transparent 3px, #000 3px 5px, transparent 5px);
      -webkit-mask: linear-gradient(transparent 3px,
          #000 3px 5px,
          transparent 5px);
    }

    &:hover {
      background: $main-checkbox-background;
      border-color: transparent;

      &::before {
        background: var(--kd-color-background-ui-hollow-hover);
      }
    }

    &:active {
      background: $main-checkbox-background;
      border-color: transparent;

      &::before {
        background: var(--kd-color-background-ui-hollow-pressed);
      }
    }
  }
}

input[type='checkbox']:indeterminate:disabled {
  background: var(--kd-color-background-ui-default-disabled);
  border-color: transparent;

  &::before {
    content: '';
    display: block;
    width: 10px;
    height: 8px;
    transform: scale(1);
    background: var(--kd-color-background-ui-hollow-default);
    mask: linear-gradient(transparent 3px, #000 3px 5px, transparent 5px);
    -webkit-mask: linear-gradient(transparent 3px,
        #000 3px 5px,
        transparent 5px);
  }
}

input[type='checkbox'][invalid] {
  border-color: $invalid-checkbox-background;

  &:not([disabled]) {

    &:checked,
    &:indeterminate {
      background: $invalid-checkbox-background;
      border-color: transparent;

      &:hover {
        background: var(--kd-color-background-button-primary-destructive-hover);
        border-color: var(--kd-color-background-button-primary-destructive-hover);
      }

      &:active {
        background: var(--kd-color-background-button-primary-destructive-pressed);
        border-color: var(--kd-color-background-button-primary-destructive-pressed);
        outline-color: var(--kd-color-background-button-primary-destructive-pressed);
      }
    }
  }

  &[disabled] {
    border-color: var(--kd-color-border-ui-disabled);

    &:hover {
      border-color: var(--kd-color-border-ui-disabled);
    }

    &[checked] {
      border-color: transparent;

      &:hover {
        border-color: transparent;
        background: var(--kd-color-background-ui-default-disabled);
      }
    }

    &:active,
    &:focus {
      background-color: transparent;
      border-color: var(--kd-color-border-ui-disabled);
      outline-color: transparent;
    }
  }

  &:hover {
    background: transparent;
    border-color: var(--kd-color-background-button-primary-destructive-hover);
  }

  &:focus {
    border-color: $invalid-checkbox-background;
    outline-color: $invalid-checkbox-background;
  }

  &:active {
    background: var(--kd-color-background-button-primary-destructive-pressed);
    border-color: var(--kd-color-background-button-primary-destructive-pressed);
    outline-color: var(--kd-color-background-button-primary-destructive-pressed);
  }
}

.sr-only {
  @include mixins.visually-hidden;
}
