@use '../../../common/scss/global.scss';
@use '../../../common/scss/mixins.scss';
@use '../../../common/scss/form-input.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

.horizontal {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 12px;
}

.select-all {
  font-weight: 500;
}

.search {
  margin-bottom: 12px;
}

.reveal-toggle {
  margin-top: 10px;
  padding: 0;
  background: none;
  border: none;
  font: inherit;
  color: var(--kd-color-text-link);
  border-radius: 2px;
  cursor: pointer;
  outline: 2px solid transparent;

  [disabled] & {
    color: var(--kd-color-text-link-level-disabled);
    cursor: default;
  }

  &:hover {
    text-decoration: underline;
    color: var(--kd-color-text-link-hover);

    [disabled] & {
      text-decoration: none;
      color: var(--kd-color-text-link-level-disabled);
    }
  }

  &:active {
    color: var(--kd-color-text-pressed);
  }

  &:focus {
    outline-color: var(--kd-color-border-focus);
  }
}

.error {
  order: 1;
}
