@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

.page-title {
  margin: 0;

  &-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-primary {
    @include typography.type-headline-04;
    color: var(--kd-color-text-title-primary);
  }

  &-secondary {
    @include typography.type-headline-06;
    color: var(--kd-color-text-title-secondary);
  }
}
.page {
  &-headline {
    @include typography.type-body-01;
    font-weight: 300;
    margin-bottom: 4px;
  }

  &-subtitle {
    @include typography.type-body-02;
    color: var(--kd-color-text-level-secondary);
    margin-top: 2px;
    margin-bottom: 0;
  }
}

.icon-wrapper slot[name='icon']::slotted(*) {
  max-width: 56px;
  max-height: 56px;
  margin-right: 16px;
}
