@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

.page-title {
  &-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
  }
  &-text-wrapper {
    // max-width: 60ch;
    max-width: 600px;
    word-break: break-word;
  }
  &-primary {
    @include typography.type-headline-04;
  }
  &-secondary {
    @include typography.type-headline-06;
  }
}
.page {
  &-headline {
    @include typography.type-body-01;
    font-weight: 300;
    margin-bottom: 4px;
    // max-width: 20ch;
    max-width: 380px;
    word-break: break-word;
  }
  &-subtitle {
    @include typography.type-body-02;
    color: var(--kd-color-text-secondary);
    margin-top: 2px;
    max-width: 60ch;
    word-break: break-word;
  }
}

.icon-wrapper {
  width: 56px;
  height: 56px;
  margin-right: 16px;
}
