/**
 * Copyright Kyndryl, Inc. 2023
 */

@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: inline-block;
}

// Base Button Styles
.kd-btn {
  transition: outline-color 0.2s ease-in-out, color 0.2s ease-in-out,
    background-color 0.2s ease-in-out, border-color 0.2s ease-out;
  white-space: nowrap;
  background: none;
  border: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  min-width: 96px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include typography.type-body-02;

  &.icon-only {
    min-width: initial;
  }

  &--float {
    box-shadow: var(--kd-elevation-level-3);
  }

  &--hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
  }

  &--small {
    padding: 4px 16px;
    height: 32px;

    &.icon-only {
      width: 32px;
      padding: 6px;
    }
  }

  &--medium {
    padding: 12px 16px;
    height: 48px;

    &.icon-only {
      width: 48px;
      padding: 14px;
    }
  }

  &--large {
    padding: 16px 16px;
    height: 56px;

    &.icon-only {
      width: 56px;
      padding: 18px;
    }
  }

  &[disabled] {
    cursor: not-allowed;
  }

  & span {
    display: flex;
    align-items: center;
    z-index: 1;
  }

  &--solid-styles {
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: transparent;
      transition: transform 300ms ease-out, opacity 200ms ease-out,
        background-color 150ms ease-in-out;
      transform: scaleX(0);
      transform-origin: left;
      opacity: 0;
    }

    &:hover,
    &:active {
      &:before {
        transform: scaleX(1);
        opacity: 1;
      }
    }

    &[disabled] {
      background-color: var(--kd-color-background-ui-default-disabled);
      color: var(--kd-color-text-link-level-disabled);

      // hover
      &:before {
        background-color: transparent;
      }

      &:hover {
        color: var(--kd-color-text-link-level-disabled);
      }

      &:active {
        &:before {
          background-color: transparent;
        }
      }
    }
  }

  &--primary {
    background-color: var(--kd-color-background-button-primary-state-default);
    color: var(--kd-color-text-button-dark-primary);

    // hover
    &:before {
      background-color: var(--kd-color-background-button-primary-state-hover);
    }

    &:focus {
      outline-color: var(--kd-color-border-button-primary-state-focused);
    }

    &:active {
      &:before {
        background-color: var(
          --kd-color-background-button-primary-state-pressed
        );
      }
    }
  }

  &--primary-ai {
    background-color: var(--kd-color-background-button-primary-ai-default);
    color: var(--kd-color-text-button-dark-primary);

    // hover
    &:before {
      background-color: var(--kd-color-background-button-primary-ai-hover);
    }

    &:focus {
      outline-color: var(--kd-color-border-button-ai-state-focused);
    }

    &:active {
      &:before {
        background-color: var(--kd-color-background-button-primary-ai-pressed);
      }
    }
  }

  &--primary-destructive {
    background-color: var(
      --kd-color-background-button-primary-destructive-default
    );
    color: var(--kd-color-text-button-dark-destructive);

    // hover
    &:before {
      background-color: var(
        --kd-color-background-button-primary-destructive-hover
      );
    }

    &:focus {
      outline-color: var(--kd-color-border-button-primary-destructive-focused);
    }

    &:active {
      &:before {
        background-color: var(
          --kd-color-background-button-primary-destructive-pressed
        );
      }
    }
  }

  &--secondary {
    background-color: var(--kd-color-background-button-secondary-state-default);
    color: var(--kd-color-text-button-dark-primary);

    // hover
    &:before {
      background-color: var(--kd-color-background-button-secondary-state-hover);
    }

    &:focus {
      outline-color: var(--kd-color-border-button-secondary-state-focused);
    }

    &:active {
      &:before {
        background-color: var(
          --kd-color-background-button-secondary-state-pressed
        );
      }
    }
  }

  &--secondary-ai {
    background-color: var(--kd-color-background-button-secondary-ai-default);
    color: var(--kd-color-text-button-ai-default);

    // hover
    &:before {
      background-color: var(--kd-color-background-button-secondary-ai-hover);
    }

    &:focus {
      outline-color: var(--kd-color-border-button-ai-state-focused);
    }

    &:active {
      color: var(--kd-color-text-button-dark-primary);

      &:before {
        background-color: var(
          --kd-color-background-button-secondary-ai-pressed
        );
      }
    }
  }

  &--secondary-destructive {
    background-color: var(
      --kd-color-background-button-secondary-destructive-default
    );
    color: var(--kd-color-text-level-primary);

    // hover

    &:before {
      background-color: var(
        --kd-color-background-button-secondary-destructive-hover
      );
    }

    &:focus {
      outline-color: var(--kd-color-border-button-primary-destructive-default);
    }

    &:active {
      color: var(--kd-color-text-level-primary);

      &:before {
        background-color: var(
          --kd-color-background-button-secondary-destructive-pressed
        );
      }
    }
  }

  &--tertiary {
    background-color: var(--kd-color-background-button-tertiary-state-default);
    color: var(--kd-color-text-button-light-primary);

    // hover
    &:before {
      background-color: var(--kd-color-background-button-tertiary-state-hover);
    }

    &:hover {
      color: var(--kd-color-text-button-dark-primary);
    }

    &:focus {
      outline-color: var(--kd-color-border-button-tertiary-state-focused);
    }

    &:active {
      &:before {
        background-color: var(
          --kd-color-background-button-tertiary-state-pressed
        );
      }
    }
  }

  &--content {
    background-color: var(--kd-color-background-button-web-default);
    color: var(--kd-color-text-button-dark-primary);

    // hover
    &:before {
      background-color: var(--kd-color-background-button-web-hover);
    }

    &:focus {
      outline-color: var(--kd-color-border-variants-focus);
    }

    &:active {
      &:before {
        background-color: var(--kd-color-background-button-web-pressed);
      }
    }
  }

  &--outline-styles {
    border: 1px solid transparent;

    &[disabled] {
      border-color: var(--kd-color-border-ui-disabled);
      color: var(--kd-color-text-link-level-disabled);

      &:hover {
        border-color: var(--kd-color-border-ui-disabled);
        background-color: transparent;
      }

      &:active {
        color: var(--kd-color-text-link-level-disabled);
      }
    }
  }

  &--outline {
    color: var(--kd-color-text-button-light-primary);
    border-color: var(--kd-color-border-button-primary-state-default);

    &:hover {
      background-color: var(--kd-color-background-button-ghost-state-hover);
      border-color: var(--kd-color-border-button-primary-state-hover);
    }

    &:focus {
      border-color: var(--kd-color-border-button-primary-state-focused);
      outline-color: var(--kd-color-border-button-primary-state-focused);
    }

    &:active {
      background-color: var(--kd-color-background-button-ghost-state-pressed);
      border-color: var(--kd-color-border-button-primary-state-pressed);
      color: var(--kd-color-text-button-dark-primary);
    }
  }

  &--outline-ai {
    color: var(--kd-color-text-button-ai-default);
    border-color: var(--kd-color-border-button-ai-state-default);

    &:hover {
      background-color: var(--kd-color-background-button-primary-ai-hover);
      border-color: var(--kd-color-border-button-ai-state-hover);
      color: var(--kd-color-text-level-light);
    }

    &:focus {
      border-color: var(--kd-color-border-button-ai-state-focused);
      outline-color: var(--kd-color-border-button-ai-state-focused);
    }

    &:active {
      background-color: var(--kd-color-background-button-primary-ai-pressed);
      border-color: var(--kd-color-border-button-ai-state-pressed);
      color: var(--kd-color-text-level-light);
    }
  }

  &--outline-destructive {
    color: var(--kd-color-text-button-light-destructive);
    border-color: var(--kd-color-border-button-primary-destructive-default);

    &:hover {
      background-color: var(
        --kd-color-background-button-secondary-destructive-hover
      );
      border-color: var(--kd-color-border-button-primary-destructive-hover);
      color: var(--kd-color-text-level-primary);
    }

    &:focus {
      border-color: var(--kd-color-border-button-primary-destructive-focused);
      outline-color: var(--kd-color-border-button-primary-destructive-focused);
    }

    &:active {
      background-color: var(
        --kd-color-background-button-secondary-destructive-pressed
      );
      border-color: var(--kd-color-border-button-primary-destructive-pressed);
      color: var(--kd-color-text-level-primary);
    }
  }

  &--ghost {
    color: var(--kd-color-text-button-light-primary);

    &:hover {
      background-color: var(--kd-color-background-button-ghost-state-hover);
    }

    &:focus {
      outline-color: var(--kd-color-border-button-tertiary-state-focused);
    }

    &:active {
      background-color: var(--kd-color-background-button-ghost-state-pressed);
      color: var(--kd-color-text-button-dark-primary);
    }

    &[disabled] {
      color: var(--kd-color-text-link-level-disabled);

      &:hover {
        background-color: transparent;
      }
    }
  }
}

.kd-btn--icon {
  // Styles for buttons with icons on the left side
  &-left span {
    // Reverse the flex direction to place the icon to the left
    flex-direction: row-reverse;

    // Styling for the actual icon within the button
    slot[name='icon']::slotted(*) {
      // Add margin to the right to space the icon from the text
      margin-right: 8px;
    }
  }

  // Styles for buttons with icons on the right side
  &-right {
    // Styling for the actual icon within the button
    slot[name='icon']::slotted(*) {
      // Add margin to the left to space the icon from the text
      margin-left: 8px;
    }
  }

  &-align {
    slot[name='icon']::slotted(*) {
      display: flex;
    }
  }
}
