/**
 * Copyright Kyndryl, Inc. 2023
 */

@use '../../../common/scss/global.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/elevation.scss';
@use '../../../common/scss/gradients.scss' as gradient;

:host {
  display: inline-block;
  --btn-radius: 6px;
}

/* single button in a group */
:host(.kd-btn--group-single) .kd-btn {
  border-radius: var(--btn-radius);
}

/* first button in a group */
:host(.kd-btn--group-first) .kd-btn {
  border-radius: var(--btn-radius) 0 0 var(--btn-radius);
}

/* middle buttons in a group */
:host(.kd-btn--group-middle) .kd-btn {
  border-radius: 0;
}

/* last button in a group */
:host(.kd-btn--group-last) .kd-btn {
  border-radius: 0 var(--btn-radius) var(--btn-radius) 0;
}

:host([class*='kd-btn--group-']) .kd-btn {
  &:focus-visible {
    outline-offset: 0;
    position: relative;
    z-index: 1;
  }

  &--primary:focus-visible {
    outline-color: var(--kd-color-border-button-web-focused);
  }

  &--secondary:focus-visible {
    outline-color: var(--kd-color-border-button-web-focused);
  }

  &--tertiary:focus-visible {
    outline-color: var(--kd-color-border-variants-focus);
  }
}

// Base Button Styles
.kd-btn {
  @include typography.type-body-02;
  font-weight: var(--kd-font-weight-medium);
  transition: outline-color 0.2s ease-in-out, color 0.2s ease-in-out,
    background-color 0.2s ease-in-out, border-color 0.2s ease-out;
  white-space: nowrap;
  background: none;
  border: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.icon-only {
    min-width: initial;
  }

  &--float {
    box-shadow: var(--kd-elevation-level-3);
  }

  &--hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
  }

  &--extra-small {
    height: 26px;
    padding: 4px;
  }

  &--small {
    padding: 4px 16px;
    height: 32px;

    &.icon-only {
      width: 32px;
      padding: 6px;
    }
  }

  &--medium {
    padding: 12px 16px;
    height: 48px;

    &.icon-only {
      width: 48px;
      padding: 14px;
    }
  }

  &--large {
    padding: 16px 16px;
    height: 56px;

    &.icon-only {
      width: 56px;
      padding: 18px;
    }
  }

  &[disabled] {
    cursor: not-allowed;
  }

  & span {
    display: flex;
    align-items: center;
    z-index: 1;
  }

  &--solid-styles {
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: transparent;
      transition: transform 300ms ease-out, opacity 200ms ease-out,
        background-color 150ms ease-in-out;
      transform: scaleX(0);
      transform-origin: left;
      opacity: 0;
    }

    &:hover,
    &:active {
      &:before {
        transform: scaleX(1);
        opacity: 1;
      }
    }

    &[disabled] {
      background-color: var(--kd-color-background-ui-default-disabled);
      color: var(--kd-color-text-link-level-disabled);

      // hover
      &:before {
        background-color: transparent;
      }

      &:hover {
        color: var(--kd-color-text-link-level-disabled);
      }

      &:active {
        &:before {
          background-color: transparent;
        }
      }
    }
  }

  &--primary {
    background-color: var(--kd-color-background-button-primary-state-default);
    color: var(--kd-color-text-button-dark-primary);

    // hover
    &:before {
      background-color: var(--kd-color-background-button-primary-state-hover);
    }

    &:focus-visible {
      outline-color: var(--kd-color-border-button-primary-state-focused);
    }

    &:active {
      &:before {
        background-color: var(
          --kd-color-background-button-primary-state-pressed
        );
      }
    }

    &.selected {
      background-color: var(
        --kd-color-background-button-primary-state-selected
      );
      color: var(--kd-color-text-button-dark-primary);
    }
  }

  &--primary-ai,
  &--secondary-ai {
    background-color: var(--kd-color-background-button-primary-ai-default);
    color: var(--kd-color-text-button-ai-default);

    &:not([disabled]) {
      @include gradient.border-gradient-ai(
        $gradient: gradient.$ai-gradient-default,
        $radius: 6px,
        $width: 1px,
        $surface: var(--kd-color-background-container-ai-level-2)
      );

      &:hover {
        &:before {
          background-color: var(--kd-color-background-button-primary-ai-hover);
          color: var(--kd-color-text-button-ai-default);
        }
      }
    }

    &:focus-visible {
      outline-color: var(--kd-color-border-button-ai-state-focused);

      &:before {
        background-color: var(--kd-color-background-button-primary-ai-focused);
        color: var(--kd-color-text-button-ai-default);
      }
    }

    &:active {
      &:before {
        background-color: var(--kd-color-background-button-primary-ai-pressed);
        color: var(--kd-color-text-density-darker);
      }
      @include elevation.shadow(2, true);
    }

    &.selected {
      background-color: var(--kd-color-background-button-primary-ai-selected);
      color: var(--kd-color-text-button-dark-primary);
    }
  }

  &--primary-destructive {
    background-color: var(
      --kd-color-background-button-primary-destructive-default
    );
    color: var(--kd-color-text-button-dark-destructive);

    // hover
    &:before {
      background-color: var(
        --kd-color-background-button-primary-destructive-hover
      );
    }

    &:focus-visible {
      outline-color: var(--kd-color-border-button-primary-destructive-focused);
    }

    &:active {
      &:before {
        background-color: var(
          --kd-color-background-button-primary-destructive-pressed
        );
      }
    }

    &.selected {
      background-color: var(
        --kd-color-background-button-primary-destructive-selected
      );
      color: var(--kd-color-text-button-dark-destructive);
    }
  }

  &--secondary {
    background-color: var(--kd-color-background-button-secondary-state-default);
    color: var(--kd-color-text-button-light-primary);

    // hover
    &:before {
      background-color: var(--kd-color-background-button-secondary-state-hover);
    }

    &:focus-visible {
      outline-color: var(--kd-color-border-button-secondary-state-focused);
    }

    &:active {
      color: var(--kd-color-text-button-dark-secondary);

      &:before {
        background-color: var(
          --kd-color-background-button-secondary-state-pressed
        );
      }
    }

    &.selected {
      background-color: var(
        --kd-color-background-button-secondary-state-selected
      );
      color: var(--kd-color-text-button-dark-secondary);
    }
  }

  &--secondary-destructive {
    background-color: var(
      --kd-color-background-button-secondary-destructive-default
    );
    color: var(--kd-color-text-level-primary);

    // hover
    &:before {
      background-color: var(
        --kd-color-background-button-secondary-destructive-hover
      );
    }

    &:focus-visible {
      outline-color: var(--kd-color-border-button-primary-destructive-default);
    }

    &:active {
      &:before {
        background-color: var(
          --kd-color-background-button-secondary-destructive-pressed
        );
      }
    }

    &.selected {
      background-color: var(
        --kd-color-background-button-secondary-destructive-selected
      );
      color: var(--kd-color-text-level-primary);
    }
  }

  &--tertiary {
    background-color: var(--kd-color-background-button-tertiary-state-default);
    color: var(--kd-color-background-ui-default-dark);

    // hover
    &:hover {
      background-color: var(--kd-color-background-button-tertiary-state-hover);
      color: var(--kd-color-text-density-darker);
    }

    &:focus-visible {
      outline-color: var(--kd-color-border-button-tertiary-state-focused);
      background-color: var(
        --kd-color-background-button-tertiary-state-focused
      );
      color: var(--kd-color-text-button-dark-tertiary);
    }

    &:active {
      color: var(--kd-color-text-button-dark-primary);

      &:before {
        background-color: var(
          --kd-color-background-button-tertiary-state-pressed
        );
      }
    }

    &.selected {
      background-color: var(
        --kd-color-background-button-tertiary-state-selected
      );
      color: var(--kd-color-text-button-dark-tertiary);
    }
  }

  &--content {
    background-color: var(--kd-color-background-button-web-default);
    color: var(--kd-color-text-button-dark-primary);

    // hover
    &:before {
      background-color: var(--kd-color-background-button-web-hover);
    }

    &:focus-visible {
      outline-color: var(--kd-color-border-button-web-focused);
    }

    &:active {
      &:before {
        background-color: var(--kd-color-background-button-web-pressed);
      }
    }

    &.selected {
      background-color: var(--kd-color-background-button-web-selected);
      color: var(--kd-color-text-level-light);
    }
  }

  &--outline-styles {
    border: 1px solid transparent;

    &[disabled] {
      border-color: var(--kd-color-border-ui-disabled);
      color: var(--kd-color-text-link-level-disabled);
      cursor: not-allowed;

      &:hover {
        border-color: var(--kd-color-border-ui-disabled);
        background-color: transparent;
      }

      &:active {
        color: var(--kd-color-text-link-level-disabled);
      }
    }
  }

  &--outline,
  &--outline-ai {
    color: var(--kd-color-text-button-light-primary);
    border-color: var(--kd-color-border-button-primary-state-default);

    &:hover {
      background-color: var(
        --kd-color-background-button-secondary-state-default
      );
      border-color: var(--kd-color-border-button-primary-state-hover);
    }

    &:focus-visible {
      border-color: var(--kd-color-border-button-primary-state-focused);
      outline-color: var(--kd-color-border-button-primary-state-focused);
    }

    &:active {
      background-color: var(
        --kd-color-background-button-secondary-state-pressed
      );
      border-color: var(--kd-color-border-button-primary-state-pressed);
      color: var(--kd-color-text-button-dark-primary);
    }

    &.selected {
      background-color: var(--kd-color-background-secondary-state-selected);
      color: var(--kd-color-text-level-light);
    }
  }

  &--outline-destructive {
    color: var(--kd-color-text-button-light-destructive);
    border-color: var(--kd-color-border-button-primary-destructive-default);

    &:hover {
      background-color: var(
        --kd-color-background-button-secondary-destructive-hover
      );
      border-color: var(--kd-color-border-button-primary-destructive-hover);
      color: var(--kd-color-text-level-primary);
    }

    &:focus-visible {
      border-color: var(--kd-color-border-button-primary-destructive-focused);
      outline-color: var(--kd-color-border-button-primary-destructive-focused);
    }

    &:active {
      background-color: var(
        --kd-color-background-button-secondary-destructive-pressed
      );
      border-color: var(--kd-color-border-button-primary-destructive-pressed);
      color: var(--kd-color-text-level-primary);
    }

    &.selected {
      background-color: var(
        --kd-color-background-button-primary-destructive-selected
      );
      color: var(--kd-color-text-button-dark-destructive);
    }
  }

  &--ghost {
    color: var(--kd-color-text-link-level-default);

    &:hover {
      background-color: var(--kd-color-background-button-ghost-state-hover);
    }

    &:focus-visible {
      background-color: var(--kd-color-background-button-ghost-state-hover);
      outline-color: transparent;
      border: 1px solid
        var(--kd-color-background-page-dashboard-dashboard-default);
      color: var(--kd-color-text-button-light-primary);
      box-shadow: 0 0 0 1px
        var(--kd-color-button-tertiary-state-focused, #1d2125);
    }

    &:active {
      background-color: var(--kd-color-background-button-ghost-state-pressed);
      color: var(--kd-color-text-button-dark-primary);
    }

    &[disabled] {
      color: var(--kd-color-text-link-level-disabled);

      &:hover {
        background-color: transparent;
      }
    }

    &.selected {
      background-color: var(
        --kd-color-background-button-secondary-state-selected
      ) !important;
      color: var(--kd-color-text-level-light);
    }
  }

  &--ghost-ai {
    color: var(--kd-color-text-link-level-default);
    background: var(--kd-color-background-button-ghost-ai-default);

    &:hover {
      background-color: var(--kd-color-background-button-ghost-ai-hover);
      color: var(--kd-color-text-level-primary);
    }

    &:focus-visible {
      outline-color: var(--kd-color-border-button-ai-state-focused);
      background-color: var(--kd-color-background-button-ghost-ai-focused);
    }

    &:active {
      background-color: var(--kd-color-background-button-ghost-ai-pressed);
      color: var(--kd-color-text-level-primary);
      @include elevation.shadow(2, true);
    }

    &[disabled] {
      color: var(--kd-color-text-link-level-disabled);

      &:hover {
        background-color: transparent;
      }
    }

    &.selected {
      background-color: var(--kd-color-background-button-ghost-ai-selected);
      color: var(--kd-color-text-link-level-default);
    }
  }

  &--ghost-destructive {
    color: var(--kd-color-text-button-light-destructive);

    &:hover {
      background-color: var(
        --kd-color-background-button-secondary-destructive-hover
      );
    }

    &:focus-visible {
      outline-color: var(--kd-color-border-button-primary-destructive-focused);
    }

    &:active {
      background-color: var(
        --kd-color-background-button-secondary-destructive-pressed
      );
      color: var(--kd-color-text-button-light-destructive);
    }

    &[disabled] {
      color: var(--kd-color-text-link-level-disabled);

      &:hover {
        background-color: transparent;
      }
    }

    &.selected {
      background-color: var(--kd-color-background-primary-destructive-selected);
      color: var(--kd-color-text-button-dark-destructive);
    }
  }
}

.kd-btn--icon {
  // Styles for buttons with icons on the left side
  &-left span {
    // Reverse the flex direction to place the icon to the left
    flex-direction: row-reverse;

    // Styling for the actual icon within the button
    slot[name='icon']::slotted(*) {
      // Add margin to the right to space the icon from the text
      margin-right: 8px;
    }
  }

  // Styles for buttons with icons on the right side
  &-right {
    // Styling for the actual icon within the button
    slot[name='icon']::slotted(*) {
      // Add margin to the left to space the icon from the text
      margin-left: 8px;
    }
  }

  &-align {
    slot[name='icon']::slotted(*) {
      display: flex;
    }
  }
}

.kd-btn--splitLayout {
  span {
    flex: 1;
    justify-content: space-between;
  }
}
