@import '../../../common/scss/global.scss';

:host {
  display: inline-block;
}

.btn {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-family: var(--kyn-font-body);
  font-size: 16px;
  letter-spacing: 0.1px;
  border: none;
  outline: 2px solid transparent;
  border: 2px solid transparent;
  border-radius: 4px;
  height: 48px;
  padding: 0 28px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 150ms ease-out, color 150ms ease-out,
    outline-color 150ms ease-out;

  &[disabled] {
    background: var(--kyn-color-disabled) !important;
    border-color: transparent !important;
    color: var(--kyn-color-disabled-text) !important;
    cursor: not-allowed;
  }

  &:focus {
    outline-color: var(--kyn-color-primary-focus);
  }

  &--sm {
    height: 40px;
  }

  &--md {
    height: 48px;
  }

  &--lg {
    height: 56px;
  }

  &--primary {
    background: var(--kyn-color-primary);
    color: var(--kyn-color-primary-text);

    &:hover {
      background: var(--kyn-color-primary-hover);
    }

    &:active {
      background: var(--kyn-color-primary-active);
      border-color: var(--kyn-color-primary-active);
      outline-color: transparent;
      color: var(--kyn-color-primary-active-text);
    }
  }

  &--secondary {
    background: var(--kyn-color-secondary);
    border-color: var(--kyn-color-primary-hover);
    color: var(--kyn-color-text);

    &:hover {
      background: var(--kyn-color-primary-hover);
      color: var(--kyn-color-primary-text);
    }

    &:focus {
      background: var(--kyn-color-secondary);
      border-color: var(--kyn-color-primary);
      color: var(--kyn-color-primary);
    }

    &:active {
      background: var(--kyn-color-primary-active);
      border-color: var(--kyn-color-primary-active);
      outline-color: transparent;
      color: var(--kyn-color-primary-active-text);
    }
  }
}

::slotted(kyn-icon) {
  margin-left: 8px;
}
