@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
    display: inline-block;
}

::slotted(code) {
    font-family: monospace;
    background-color: var(--kd-color-background-ui-soft);
    line-height: 1.5;
    word-break: break-word;
    border-radius: 4px;
    vertical-align: text-bottom;
    margin: 0 4px;
    padding: 3px 5px;
    font-family: monospace;
    font-size: var(--inline-snippet-font-size, 14px);
}
