@use '../../../common/scss/global.scss';

:host {
    display: inline-block;
}

code {
    font-family: monospace;
    color: var(--kd-color-text-inversed);
    background-color: var(--kd-color-background-ui-strong);
    line-height: 1.5;
    word-break: break-word;
    vertical-align: text-bottom;
    margin: 0 4px;
    padding: 4px 8px;
    font-family: monospace;
    font-size: var(--inline-snippet-font-size, 14px);
    border-radius: 1px;
}
