@use '../../../common/scss/global.scss';
@use '../../../common/scss/form-input.scss';
@use '../../../common/scss/mixins.scss';

@include mixins.picker-base;

input {
    padding: 0 50px 0 16px;
}

.date-picker {
    width: inherit;

    &__enable-time {
        min-width: 256px;
    }

    &__disabled {
        @include mixins.picker-disabled;
    }
}
