@use '../../../common/scss/global.scss';
@use '../../../common/scss/form-input.scss';

:host {
    display: inline-block;
    width: 100%;
}

.date-picker {
    max-width: 175px;

    &.date-time-picker {
        max-width: 252px;
    }

    .input-container {
        position: relative;

        input {
            -webkit-appearance: none;
            appearance: none;
            display: block;
            width: 100%;
            border: 1px solid var(--kd-color-border-ui);
            border-radius: 4px;
            height: 48px;
            padding: 10px 16px;
            min-width: 167px;
        }

        .icon {
            position: absolute;
            right: 15px;
            top: 55%;
            vertical-align: middle;
            transform: translateY(-50%);
            pointer-events: none;
        }
    }

    &__size--sm {
        height: 32px;
        max-width: 175px;

        &.date-time-picker {
            max-width: 252px;
        }
    }

    &__size--lg {
        max-width: 250px;

        &.date-time-picker {
            max-width: 305px;
        }

        &.date-time-picker {
            max-width: 350px;
        }
    }
}
