@use '../../../common/scss/global.scss';
@use '../../../common/scss/form-input.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '../../../common/scss/gradients.scss' as gradient;

:host {
  display: inline-block;
}

textarea {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  resize: vertical;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin: 0;
  padding: 16px;
  outline: 2px solid transparent;

  .ai-connected & {
    &:not([disabled]):hover {
      @include gradient.border-gradient-ai(
        $gradient: gradient.$ai-gradient-default,
        $radius: 4px,
        $width: 1px,
        $surface: var(--kd-color-background-container-ai-level-2)
      );
    }
  }

  &.hide-border {
    padding: 8px;
  }

  &.is-readonly {
    cursor: text;
    border: transparent;
  }
}

.no-resize {
  textarea {
    resize: none;
  }
}
