@use '../../../common/scss/global.scss';
@use '../../../common/scss/form-input.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: inline-block;
}

textarea {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  resize: vertical;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin: 0;
  padding: 16px;
}
