@use '../../../common/scss/global.scss';
@use '../../../common/scss/form-input.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: inline-block;
}

textarea {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  resize: vertical;
  border: 1px solid var(--kd-color-border-ui);
  border-radius: 4px;
  margin: 0;
  padding: 16px;
}

.error-icon {
  position: absolute;
  top: 16px;
  right: 16px;
}

.caption-error-count {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1rem;
  .count {
    @include typography.type-ui-02;
    color: var(--kd-color-text-secondary);
    margin-top: 13px;
  }
}
