@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/foundation/scss/mixins/typography.scss';

.breadcrumbs {
  @include typography.type-ui-01;

  list-style: none;
  padding: 0;
  display: flex;
  color: var(--kd-color-text-primary);
  font-weight: var(--kd-font-weight-medium);

  ::slotted(*) {
    display: inline-flex;
    color: var(--kd-color-text-tertiary);

    &::after {
      content: '\2014'; // Unicode for em dash
      margin: 0px 16px; // Provide margins on both sides of the em dash
      color: var(--kd-color-background-ui-subtle);
    }
  }

  ::slotted(*:last-child) {
    &::after {
      content: none; // Hide the ::after pseudo-element for the last item
    }
  }
}
