@use '../../../common/scss/global.scss';

.breadcrumb-item {
  display: inline;
  color: var(--kd-color-text-primary);
  font-weight: var(--kd-font-weight-medium);

  a {
    text-decoration: none;
    color: var(--kd-color-text-tertiary);
    white-space: nowrap;
    border-radius: 4px;
    outline: 2px solid transparent;
    transition: outline-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &:focus,
    &:active {
      outline-color: var(--kd-color-border-focus);
    }

    &:hover {
      color: var(--kd-color-text-tertiary-bold);
    }
  }
}
