@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

.breadcrumbs {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;

  ::slotted(strong) {
    @include typography.type-ui-02;
    font-weight: 500;
  }

  ::slotted(kyn-link) {
    @include typography.type-ui-02;
  }

  /* add arrow-left icon as pseudo element for mobile only */
  ::slotted(kyn-link:nth-last-child(2)) {
    &::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2329707a' viewBox='0 0 16 16'%3E%3Cpath d='M6.7 12.3L2.9 8.5 15 8.5 15 7.5 2.9 7.5 6.7 3.7 6 3 1 8 6 13z'/%3E%3C/svg%3E");
      width: 16px;
      height: 16px;
      margin-right: 8px;

      @media (min-width: 42rem) {
        content: none;
      }
    }
  }

  ::slotted(kyn-link),
  ::slotted(kyn-overflow-menu) {
    display: flex;
    align-items: center;

    /* add carat-right icon as pseudo element for desktop only */
    &::after {
      @media (min-width: 42rem) {
        content: '';
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik05LjYyNDk1IDdMNS4yNDk5NSAxMS4zNzVMNC42Mzc0NSAxMC43NjI1TDguMzk5OTUgN0w0LjYzNzQ1IDMuMjM3NUw1LjI0OTk1IDIuNjI1TDkuNjI0OTUgN1oiIGZpbGw9IiM4OTg4ODgiLz4NCjwvc3ZnPiA=');
        width: 16px;
        height: 16px;
        margin-top: 1px;
        margin-left: 16px;
      }
    }
  }

  /* hide all breadcrumbs except the previous page breadcrumb on mobile */
  ::slotted(kyn-link:not(:nth-last-child(2))),
  ::slotted(strong),
  ::slotted(kyn-overflow-menu) {
    display: none;

    @media (min-width: 42rem) {
      display: flex;
    }
  }
}
