@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/foundation/scss/mixins/typography.scss';

.breadcrumb-item {
  @include typography.type-ui-01;

  display: inline;
  color: var(--kd-color-text-primary);
  font-weight: var(--kd-font-weight-medium);

  a {
    text-decoration: none;
    color: var(--kd-color-text-tertiary);
    border-radius: 4px;

    &:focus,
    &:active {
      padding: 16px;
      outline: 2px solid transparent;
      outline-color: var(--kd-color-border-focus);
    }
  }
}
