@use '../../../common/scss/global.scss';
@use '../../../common/scss/form-input.scss';

:host {
  display: inline-block;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;

  &.reverse {
    flex-direction: row-reverse;
  }
}

.status-text {
  [disabled] & {
    color: var(--kd-color-text-link-level-disabled);
  }
}

label {
  display: block;
}

input {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 48px;
  height: 24px;
  padding: 0;
  margin: 0;
  border-radius: 12px;
  background: var(--kd-color-background-ui-default-default);

  &:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 4px 0 0 4px;
    transition: background-color 150ms ease-out, transform 200ms ease-out;
    background: var(--kd-color-background-ui-hollow-default);
  }

  &:hover {
    background-color: var(--kd-color-background-button-primary-state-default);

    &:before {
      background-color: var(--kd-color-background-ui-hollow-hover);
    }
  }

  &:active {
    background-color: var(--kd-color-background-button-web-default);

    &:before {
      background-color: var(--kd-color-background-ui-hollow-default);
    }

    &:hover {
      background-color: var(--kd-color-background-button-web-default);

      &:before {
        background-color: var(--kd-color-background-ui-hollow-default);
      }
    }
  }

  &:focus:not(:hover) {
    outline-color: var(--kd-color-border-variants-focus);

    &:before {
      background-color: var(--kd-color-background-ui-hollow-default);
    }
  }

  &:focus:hover {
    outline-color: var(--kd-color-border-variants-focus);

    &:before {
      background-color: var(--kd-color-background-ui-hollow-hover);
    }
  }

  &:checked {
    background-color: var(--kd-color-status-success-dark);

    &:before {
      transform: translateX(24px);
    }

    &:hover {
      background-color: var(--kd-color-background-button-primary-state-default);

      &:before {
        background-color: var(--kd-color-background-ui-hollow-hover);
      }
    }

    &:active {
      background-color: var(--kd-color-background-button-web-default);

      &:before {
        background-color: var(--kd-color-background-ui-hollow-default);
      }
    }
  }

  &[disabled] {
    background-color: var(--kd-color-background-ui-default-disabled);

    &:before {
      background-color: var(--kd-color-background-ui-hollow-default);
    }

    &:hover {
      background-color: var(--kd-color-background-ui-default-disabled);

      &:before {
        background-color: var(--kd-color-background-ui-hollow-default);
      }
    }

    &:active {
      background-color: var(--kd-color-background-ui-default-disabled);

      &:before {
        background-color: var(--kd-color-background-ui-hollow-default);
      }
    }
  }

  &.size--sm {
    width: 32px;
    height: 16px;

    &:before {
      width: 12px;
      height: 12px;
      margin: 2px 0 0 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--kd-color-background-ui-hollow-default);
    }

    &:checked {
      &:before {
        content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI4IiB2aWV3Qm94PSIwIDAgOCA4IiBmaWxsPSIjMDBBRjQxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGQ9Ik02LjI0MDA4IDIuMjQwMDFMMy4yMDAwOCA1LjI4MDAxTDEuNDQwMDggMy41MjAwMUwxLjA4MDA4IDMuODgwMDFMMi44NDAwOCA1LjY0MDAxTDMuMjAwMDggNi4wMDAwMUw2LjYwMDA4IDIuNjAwMDFMNi4yNDAwOCAyLjI0MDAxWiIgLz4KPC9zdmc+IA==');
        background-color: var(--kd-color-background-ui-hollow-default);
        transform: translateX(16px);
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
      }

      &:hover {
        &:before {
          content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI4IiB2aWV3Qm94PSIwIDAgOCA4IiBmaWxsPSIjNDg0Nzg2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGQ9Ik02LjI0MDA4IDIuMjQwMDFMMy4yMDAwOCA1LjI4MDAxTDEuNDQwMDggMy41MjAwMUwxLjA4MDA4IDMuODgwMDFMMi44NDAwOCA1LjY0MDAxTDMuMjAwMDggNi4wMDAwMUw2LjYwMDA4IDIuNjAwMDFMNi4yNDAwOCAyLjI0MDAxWiIgLz4KPC9zdmc+IA==');
        }
      }
    }

    &[disabled] {
      &:checked {
        &:before {
          content: '';
        }
      }
    }
  }
}
