@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

.vertical-stepper-wrapper,
.stepper-responsive {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  gap: 4px;
}

.horizontal-stepper-wrapper {
  display: flex;
  padding: 0;
  //   flex-flow: row nowrap;
  //   justify-content: space-around;
  justify-content: center;
}
