@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}
p {
  margin: 0;
}
.child-wrapper {
  padding-bottom: 20px;
  position: relative;
  min-height: 50px;
  display: flex;
  &-large {
    padding-left: 32px;
  }
  &-small {
    padding-left: 24px;
  }
}
.child-step {
  &-line {
    position: absolute;
    top: 24px;
    border-left-style: solid;
    border-left-width: 1px;
    bottom: 0;
    border-color: var(--kd-color-background-loader-progress-background);
    border-radius: 5px;
    &-large {
      left: 11.5px;
    }
    &-small {
      left: 8px;
    }
  }
  &-progress-line {
    top: 0;
    height: 0;
    left: auto;
    right: 0;
    bottom: 0;
    position: absolute;
    border-left-style: solid;
    border-left-width: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: var(--kd-color-background-loader-progress-active);
    &-completed {
      border-color: var(--kd-color-background-loader-progress-complete);
    }
  }
  &-icon-wrapper {
    width: 8px;
    height: 8px;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    top: 8px;
    &-large {
      left: 8px;
    }
    &-small {
      left: 4.5px;
    }
  }
  &-icon {
    width: 8px;
    height: 8px;
    outline: 1px solid var(--kd-color-icon-interactive-primary);
    border-radius: 50%;
    &-active {
      outline: none;
      background-color: var(--kd-color-background-loader-progress-active);
    }
    &-completed {
      outline: none;
      background-color: var(--kd-color-background-loader-progress-complete);
    }
  }
  &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  &-subtitle {
    color: var(--kd-color-text-level-secondary);
    @include typography.type-ui-02;
  }
}
