@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/elevation.scss';

:host {
  display: inline-block;
}

dialog {
  @include elevation.shadow(3);
  padding: 32px;
  color: inherit;
  background: var(--kd-color-background-container-default);
  border-radius: 8px;
  border: 1px solid var(--kd-color-border-variants-light);
  min-width: 288px;
  max-width: calc(100% - 32px);
  max-height: calc(100% - 32px);
  overflow: hidden;

  &[open] {
    display: flex;
    animation: dialog-in 400ms ease-out;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
  }

  &.size--md {
    width: 400px;
  }

  &.size--lg {
    width: 711px;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@supports (transition-behavior: allow-discrete) {
  dialog {
    transition: opacity 400ms ease-out, transform 400ms ease-out,
      overlay 400ms ease-out allow-discrete,
      display 400ms ease-out allow-discrete;
    opacity: 0;
    transform: scale(0);

    &::backdrop {
      background-color: rgba(0, 0, 0, 0);
      transition: display 400ms allow-discrete, overlay 400ms allow-discrete,
        background-color 400ms;
    }

    &[open] {
      animation: none;
      opacity: 1;
      transform: none;

      &::backdrop {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }
}

@keyframes dialog-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

button {
  appearance: none;
  background: none;
  border: 1px solid transparent;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
  border-radius: 2px;
  outline: 2px solid transparent;
  transition: outline-color 150ms ease-out, color 150ms ease-out;

  &:focus {
    outline: 1px solid var(--kd-color-border-variants-focus);
  }

  &:hover {
    background: var(--kd-color-background-ui-hollow-hover);
  }

  &:active {
    border-radius: 2px;
    border: 1px solid var(--kd-color-border-ui-pressed);
    background: var(--kd-color-background-ui-hollow-hover);
  }
}

.anchor {
  display: inline-block;
  width: 100%;
}

header {
  margin-bottom: 32px;
  margin-right: 32px;
}

.close {
  position: absolute;
  top: 32px;
  right: 32px;
  color: var(--kd-color-icon-primary);

  span {
    display: flex;
  }
}

.label {
  @include typography.type-ui-02;
  color: var(--kd-color-text-level-secondary);
}

h1 {
  @include typography.type-body-01;
  margin: 0;
  order: 1;
}

.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 32px;

  @media (max-width: calc(42rem - 1px)) {
    kyn-button {
      width: 100%;
      flex-grow: 1;
    }
  }
}

.custom-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;
}

.action-button:nth-child(3) {
  margin-left: auto;
}

.body {
  flex-grow: 1;
  overflow-y: auto;
  margin: -4px;
  padding: 4px 16px 4px 4px;
  overscroll-behavior: contain;
}
