@use '../../../common/scss/global.scss';
@use '../../../common/scss/form-input.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
  min-height: 168px;
}
.container {
  @include typography.type-body-02;
  border: 1px solid var(--kd-color-border-forms-default);
  background: var(--kd-color-background-forms-default);
  border-radius: 4px;
  max-width: 544px;
  height: 168px;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 4px;

  textarea {
    border: none;
    flex: 1 1 225px;
    min-width: 225px;
    padding: 3px 0 2px;
    text-indent: 0.5em;
    line-height: 2;
    min-height: 3rem;
    outline: none;
    font-size: 0.9rem;
    resize: none;
    background: transparent;
    white-space: pre;

    &::placeholder {
      @include typography.type-body-02;
      color: var(--kd-color-text-variant-placeholder);
    }
  }
}

.tag-group {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.indiv-tag {
  background: var(--kd-color-bg-variant);
  margin-top: -0;
  padding: 4px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  line-height: 1.2;
  gap: 8px;

  svg {
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
  }
}

.tags--new {
  max-width: 1000px !important;
}
