@use '../../../common/scss/global.scss';
@use '../../../common/scss/form-input.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/elevation.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

.container {
  position: relative;
  @include typography.type-body-02;
  border: 1px solid var(--kd-color-border-forms-default);
  background: var(--kd-color-background-forms-default);
  border-radius: 4px;
  width: 100%;
  max-width: 544px;
  min-height: 168px;
  padding: 8px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 4px;

  &.error-state {
    border-color: var(--kd-color-border-ui-error);
  }

  textarea {
    border: none;
    flex: 1 1 auto;
    min-width: 300px;
    padding: 3px 0 2px;
    text-indent: 0.5em;
    line-height: 2;
    min-height: 3rem;
    outline: none;
    font-size: 0.9rem;
    resize: none;
    background: transparent;

    &::placeholder {
      @include typography.type-body-02;
      color: var(--kd-color-text-variant-placeholder);
    }
  }

  .suggestions {
    @include elevation.shadow(2);
    position: absolute;
    width: max-content;
    background: var(--kd-color-background-forms-default);
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
  }

  .suggestion {
    padding: 8px 16px;
    @include typography.type-body-02;
    cursor: pointer;
    transition: background-color 150ms ease-out;

    &:hover,
    &.highlighted {
      background-color: var(--kd-color-background-ui-hollow-hover);
    }
  }

  .suggestion {
    padding: 8px 16px;
    @include typography.type-body-02;
    cursor: pointer;
    transition: background-color 150ms ease-out;

    &:hover,
    &.highlighted {
      background-color: var(--kd-color-background-ui-hollow-hover);
    }
  }
}

.tag-group {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.indiv-tag {
  background: var(--kd-color-bg-variant);
  margin-top: -0;
  padding: 4px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  line-height: 1.2;
  gap: 8px;

  svg {
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
  }
}

.caption-count-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 544px;
  margin-top: 4px;

  .caption-error {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .validated-count {
    @include typography.type-body-02;
    font-weight: 500;
    margin-top: 8px;
    color: var(--kd-color-text-forms-label-secondary);
    font-size: 0.9rem;
  }
}
