@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

.filter-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  background: var(--kd-color-container-default);
  border-radius: 4px;
  padding: 16px;
}

::slotted(kyn-text-input[type='search']),
::slotted(kyn-search) {
  width: 100%;

  @media (min-width: 42rem) {
    width: auto;
  }
}

.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.tags {
  display: flex;
  align-items: center;
}

.tags ::slotted(*) {
  margin-top: 8px;
}

.tags ::slotted(kyn-button) {
  margin-left: auto;
}
