@use '../../../common/scss/global.scss';

:host {
  display: inline-block;
}

.list-title-container {
  display: flex;
  gap: 8px;
}

// styles for the title slot
::slotted([slot='title']) {
}

// styes for the list item slot
::slotted(li) {
}
