@use '../../../common/scss/global.scss';

:host {
  display: block;
}

.list-title-container {
  display: flex;
  gap: 8px;
}

// styles for the title slot
slot[name='title']::slotted(*) {
}

// styes for the list item slot
::slotted(li) {
}
