@use '../../../common/scss/global.scss';

:host {
  display: inline-block;
}

.overflow-menu {
  position: relative;
}

button {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: inherit;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition: outline-color 0.15s ease-out;

  &.open {
    background: var(--kd-color-background-container-default);
  }

  &:focus {
    outline-color: var(--kd-color-border-variants-focus);
  }

  &.horizontal > span > svg {
    transform: rotate(90deg);
  }
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 208px;
  margin: 8px 0;
  border-radius: 4px;
  background: var(--kd-color-background-container-default);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  z-index: 20;
  transition: transform 150ms ease-out, opacity 150ms ease-out,
    visibility 150ms ease-out;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transform-origin: top left;

  &.open {
    opacity: 1;
    visibility: visible;
    transform: none;
  }

  &.upwards {
    transform-origin: bottom left;
    top: auto;
    bottom: 100%;
  }

  &.fixed {
    position: fixed;
  }

  &.right {
    right: 0;
    transform-origin: top right;

    &.upwards {
      transform-origin: bottom right;
    }
  }
}
