@use '../../../common/scss/global.scss';

:host {
  display: block;
}

.query-builder {
  font-family: var(--kd-font-family-primary);

  &--disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

.query-builder__content {
  padding: 0;
}
