@use '../../../common/scss/global.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

.query-builder {
  &--disabled {
    opacity: 0.8;
    pointer-events: none;
  }
}

.query-builder__content {
  padding: 0;
}

.query-builder__validation-summary {
  @include typography.type-body-02;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 16px;
  margin-left: 16px;
  color: var(--kd-color-text-variant-destructive);
}

.query-builder__validation-header {
  display: flex;
  align-items: center;
}

.query-builder__validation-icon {
  display: flex;
  align-items: center;
  color: var(--kd-color-status-error-dark);

  svg {
    margin-right: 8px;
    display: block;
  }
}

.query-builder__validation-list {
  margin: 0;
  padding: 0 0 0 24px;
  list-style-type: disc;
}

.query-builder__validation-item {
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: 0;
  }

  strong {
    font-weight: var(--kd-font-weight-medium);
  }
}
