@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

.stopwatch-container {
    width: 20vw;
    display: grid;
    gap: 1rem;
    justify-content: center;
}

.stopwatch-time {
    @include typography.type-ui-01;
    border-radius: 50%;
    border: 1px solid;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
}

.stopwatch-controls {
    display: flex;
    margin: auto;
    gap: 1rem;
}

h1 {
    @include typography.type-body-01;
    display: flex;
    justify-content: center;
    margin: 0;
}