@use '../../../common/scss/global.scss';

:host {
  display: block;
}

li {
  background-color: var(--kd-color-background-ui-hollow-default);
  cursor: default;
  padding: 16px;
  transition: background-color 150ms ease-out;

  &[selected] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--kd-color-background-accent-subtle);
  }

  &:hover,
  &[highlighted] {
    background-color: var(--kd-color-background-accent-subtle);
  }

  &[disabled] {
    color: var(--kd-color-text-link-level-disabled);

    &:hover {
      cursor: not-allowed;
    }

    kyn-checkbox {
      &:hover {
        cursor: not-allowed;
      }
    }

    &:hover {
      background-color: var(--kd-color-background-container-default);
    }
  }

  span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

kyn-checkbox {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 10px;
}

.check-icon {
  display: flex;
}
