@use '../../../common/scss/global.scss';
@use '../../../common/scss/mixins.scss';
@use '../../../common/scss/form-input.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/visibility.scss';

:host {
  display: inline-block;
}

.wrapper {
  position: relative;
}

.label-text {
  &.sr-only {
    @include visibility.sr-only;
  }
}

slot[name='icon']::slotted(*) {
  display: block;

  [disabled] & {
    color: var(--kd-color-icon-disabled);
  }
}

.arrow-icon {
  position: absolute;
  top: 55%;
  right: 16px;
  transform: translateY(-50%);

  .open & {
    transform: translateY(-70%) rotate(180deg);
  }
}

.options {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  margin-top: 4px;
  width: 100%;
  min-width: 120px;
  max-height: 280px;
  overflow-y: auto;
  outline: none;
  background: var(--kd-color-background-forms-default);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12),
    0px 4px 12px 0px rgba(0, 0, 0, 0.08);
  outline: 2px solid transparent;
  transition: transform 150ms ease-out, opacity 150ms ease-out,
    outline-color 150ms ease-out, visibility 150ms ease-out;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  z-index: -1;

  &.upwards {
    transform-origin: bottom;
    top: auto;
    bottom: 100%;
  }

  &.open {
    visibility: visible;
    transform: none;
    opacity: 1;
    z-index: 11;
  }

  [searchable] &:focus-visible {
    outline-color: var(--kd-color-border-variants-focus);
  }
}

.error {
  [inline] & {
    margin-left: 16px;
  }
}

.caption {
  [inline] & {
    margin-left: 16px;
  }
}

.assistive-text {
  @include mixins.visually-hidden;
}

.select-all {
  font-weight: var(--kd-font-weight-medium);
}

kyn-tag-group {
  margin-top: 8px;
}

.kd-visibility--sr-only {
  @include visibility.sr-only;
}

.add-option {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 8px 16px;
  height: 48px;
  background-color: var(--kd-color-background-forms-secondary);
  box-sizing: border-box;
}

.add-option-input {
  flex-grow: 1;
  min-width: 0;
  border: 1px solid var(--kd-color-border-ui-default);
  border-radius: 4px;
  padding: 4px 8px;
  background-color: var(--kd-color-background-forms-default);
  box-sizing: border-box;
}

.add-option kyn-button {
  flex-shrink: 0;
  margin-left: auto;
}

.placeholder-text {
  color: var(--kd-color-text-variant-placeholder);
}

.anchor-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
