@use '../../../common/scss/global.scss';
@use '../../../common/scss/menu-item.scss';
@use '../../../common/scss/gradients.scss' as gradient;

:host {
  display: block;
}

.option {
  cursor: default;
  padding: 16px;
  height: 48px;
  transition: background-color 150ms ease-out;
  display: flex;
  gap: 8px;
  align-items: center;
  background: var(--kd-color-background-menu-state-default);

  &.ai-connected:not([disabled]):hover {
    @include gradient.border-gradient-ai(
      $gradient: gradient.$ai-gradient-default,
      $radius: 0,
      $width: 1px,
      $surface: var(--kd-color-background-menu-state-ai-hover)
    );
  }

  &[selected] {
    display: flex;
    align-items: center;
  }

  span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span.check-icon {
    display: flex;
    margin-left: auto;
    padding: 8px 8px 8px 0;
  }

  slot[name='icon']::slotted(span) {
    display: flex;
    padding: 8px 8px 8px 0;
  }
}

kyn-checkbox {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: -4px;
}

.remove-option {
  margin-left: auto;
  margin-top: 0.25rem;
  .clear-icon {
    padding-top: 0.25rem;
  }
}
