@use '../../../common/scss/global.scss';

:host {
  display: block;
}

.option {
  background-color: var(--kd-color-background-ui-hollow-default);
  cursor: default;
  padding: 8px 16px;
  height: 48px;
  transition: background-color 150ms ease-out;
  display: flex;
  gap: 8px;
  align-items: center;

  &[selected] {
    display: flex;
    align-items: center;
    background-color: var(--kd-color-background-accent-subtle);
  }

  &:hover,
  &[highlighted] {
    background-color: var(--kd-color-background-accent-subtle);
  }

  &[disabled] {
    color: var(--kd-color-text-link-level-disabled);

    &:hover {
      cursor: not-allowed;
    }

    kyn-checkbox {
      &:hover {
        cursor: not-allowed;
      }
    }

    &:hover {
      background-color: var(--kd-color-background-container-default);
    }
  }

  span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // span.text {
  //   flex-shrink: 0;
  // }

  span.check-icon {
    display: flex;
    margin-left: auto;
    padding: 0.5rem 0.5rem 0.5rem 0;
    color: var(--kd-color-icon-accent);
  }

  slot[name='icon']::slotted(span) {
    display: flex;
  }
}

kyn-checkbox {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 10px;
}

.remove-option {
  margin-left: auto;
  margin-top: 0.25rem;
  .clear-icon {
    padding-top: 0.25rem;
  }
}
