@use '../../../common/scss/global.scss';

:host {
  display: inline-block;
}

li {
  cursor: default;
  padding: 12px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 150ms ease-out;

  &[selected] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--kd-color-background-accent-subtle);
  }

  &:hover,
  &[highlighted] {
    background-color: var(--kd-color-background-inverse-hover);
  }

  &[multiple] {
    padding: 11.25px 16px;
  }

  &[disabled] {
    color: var(--kd-color-text-disabled);

    &:hover {
      background-color: transparent;
    }
  }
}
