@use '../../../common/scss/global.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/elevation.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

.enhanced-option {
  position: relative;
  display: flex;
  gap: 12px;
  padding: 16px;
  cursor: pointer;
  border: none;
  transition: background-color 150ms ease;
  min-height: 74px;
  background-color: var(--kd-color-background-forms-default);

  &:active:not([disabled]) {
    background-color: var(--kd-color-background-accent-subtle);
  }

  &:hover:not([disabled]) {
    background-color: var(--kd-color-background-ui-hollow-hover);
  }

  &[selected]:not([disabled]) {
    background-color: var(--kd-color-background-accent-subtle);

    &:hover {
      background-color: var(--kd-color-background-ui-hollow-hover);
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .content {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    flex: 1;
    min-width: 0;
  }

  .icon-container {
    flex-shrink: 0;
    align-self: flex-start;
    width: 16px;
    height: 16px;
    margin-top: 2px;

    ::slotted(*) {
      width: 16px;
      height: 16px;
      display: block;
    }

    &:empty {
      display: none;
    }
  }

  .text-content {
    flex: 1;
    min-width: 0;
  }

  .title {
    @include typography.type-body-02;
    color: var(--kd-color-text-level-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .title-content {
      display: flex;
      align-items: center;
      gap: 8px;
      min-width: 0;
    }

    .tag-container {
      flex-shrink: 0;
      margin-bottom: 4px;
    }
  }

  ::slotted(kyn-tag) {
    margin-top: -3px;
    margin-left: 8px;
    vertical-align: middle;
    display: inline-flex;
    pointer-events: none;
  }

  .description-container {
    @include typography.type-ui-03;
    line-height: 16px;
    margin-top: 4px;
    color: var(--kd-color-text-level-primary);

    overflow: hidden;
    display: -webkit-box;

    &:empty {
      display: none;
    }
  }

  .option-type-container {
    @include typography.type-ui-03;
    line-height: 16px;
    color: var(--kd-color-text-level-primary);
    margin-top: 8px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:empty {
      display: none;
    }
  }

  .status-icons {
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    margin-top: 2px;
  }

  .check-icon {
    display: flex;
    align-self: center;
    width: 16px;
    height: 16px;
    color: var(--kd-color-icon-primary);
  }

  .remove-option {
    margin: -4px;
  }

  .clear-icon {
    width: 16px;
    height: 16px;
  }
}

.enhanced-option[multiple] {
  .icon-container,
  .status-icons {
    margin-top: 0;
  }
}

.enhanced-option[multiple] {
  .content {
    align-items: flex-start;
  }

  ::slotted(kyn-checkbox) {
    align-self: flex-start;
    margin-top: 1px;
  }
}

.enhanced-option.compact {
  min-height: 36px;
  padding: 8px 16px;

  .content {
    gap: 8px;
  }

  .title {
    font-size: var(--kyn-font-size-body-02);
    margin-bottom: 0;
  }

  .description {
    font-size: var(--kyn-font-size-caption-01);
  }
}
