@use '../../../common/scss/global.scss';
@use '../../../common/scss/menu-item.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '../../../common/scss/gradients.scss' as gradient;

:host {
  display: block;
}

.enhanced-option {
  position: relative;
  display: flex;
  padding: 16px;
  cursor: pointer;
  border: none;
  transition: background-color 150ms ease-out;
  min-height: 74px;
  border: 1px solid transparent;

  &.ai-connected {
    background: var(--kd-color-background-menu-state-ai-default);
    &:not([disabled]):not([readonly]):hover {
      background: var(--kd-color-background-menu-state-ai-hover);
    }
  }

  kyn-checkbox {
    margin: 0 2px;
  }

  kyn-tag:focus-visible {
    div {
      outline-color: transparent;
    }
  }

  .content {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    flex: 1;
    min-width: 0;
  }

  .icon-container {
    flex-shrink: 0;
    align-self: auto;
    width: 16px;
    height: 16px;
    margin: 3px 4px 0;

    ::slotted(*) {
      width: 16px;
      height: 16px;
      display: block;
    }

    &:empty {
      display: none;
    }
  }

  .text-content {
    flex: 1;
    min-width: 0;
  }

  .title {
    @include typography.type-body-02;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
    .title-content {
      display: flex;
      align-items: center;
      gap: 8px;
      min-width: 0;
    }

    .tag-container {
      flex-shrink: 0;
      margin-bottom: 4px;
    }
  }

  ::slotted(kyn-tag) {
    margin-top: -3px;
    margin-left: 8px;
    vertical-align: middle;
    display: inline-flex;
    pointer-events: none;
    outline-color: transparent;
  }

  .description-container {
    @include typography.type-ui-03;
    line-height: 16px;
    margin-top: 4px;
    overflow: hidden;
    display: -webkit-box;

    &:empty {
      display: none;
    }
  }

  .option-type-container {
    @include typography.type-ui-03;
    line-height: 16px;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;

    &:empty {
      display: none;
    }
  }

  .status-icons {
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    margin-top: 2px;
  }

  .check-icon {
    display: flex;
    align-self: center;
    width: 16px;
    height: 16px;
  }

  .remove-option {
    margin: -4px;
  }

  .clear-icon {
    width: 16px;
    height: 16px;
  }
}

.enhanced-option[multiple] {
  .icon-container,
  .status-icons {
    margin-top: 3px;
  }
}

.enhanced-option[multiple] {
  .content {
    align-items: flex-start;
  }
}
