@use '../../../../common/scss/utility/gridstack-shidoka.scss';

:host {
  display: block;
}

.test {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--kd-color-background-container-soft);
  height: 100%;
  border-radius: 4px;
}

.new-items {
  display: flex;
}
