@use '../../../../common/scss/global.scss';
@use '../../../../common/scss/utility/gridstack-shidoka.scss';

:host {
  display: block;
}

.test {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--kd-color-background-container-soft);
  height: 100%;
  border-radius: 4px;
}

.new-items {
  display: flex;
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  .bg_title {
    color: var(--kd-color-text-title-tertiary);
  }
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.content-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-bottom: 32px;
}
.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.content-items {
  display: flex;
  align-items: center;
  gap: 8px;
}
.content-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.background-image {
  display: flex;
  width: 496px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.star-filled > svg {
  color: var(--kd-color-icon-brand);
}

.widget-content {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.widget-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.widget-row {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.widget-row > .grid-stack-item {
  flex: 1;
}

@media screen and (max-width: 767px) {
  .widget-row {
    flex-direction: column;
  }

  .widget-row > .grid-stack-item {
    width: 100%;
  }
}

.overflowmenu_hidden,
.content_item {
  display: none;
}
.star-filled > svg {
  color: var(--kd-color-icon-brand);
}
.new-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-self: stretch;
}

.visual-customizer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
  .bg_title {
    color: var(--kd-color-text-title-tertiary);
  }
}
.bacground-image {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.image-grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.image-row {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.image-content {
  display: flex;
  height: 240px;
  align-items: flex-end;
  gap: 10px;
  flex: 1 0 0;
}
