@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

.file-uploader-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  // width: 400px;
  // align-items: center;

  .accepted-file-types-container {
    .accepted-file-types-text {
      &.disabled {
        color: var(--kd-color-text-level-disabled);
      }
    }
  }

  .drag-drop-container {
    // width: 300px;
    // height: 200px;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 2px dashed var(--kd-color-border-variants-light);
    border-radius: 16px;
    background-color: var(--kd-color-background-accent-subtle);

    &:hover {
      border-color: var(--kd-color-border-variants-dark);
    }

    &:focus-visible {
      outline: none;
      border-color: var(--kd-color-border-variants-dark);
    }

    &.disabled {
      border-color: var(--kd-color-border-variants-light);
      color: var(--kd-color-text-level-disabled);
      cursor: not-allowed;
    }
  }

  .icon-container {
    width: 64px;
    height: 64px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 24px;
    background-color: var(--kd-color-background-container-surface-tint);
  }

  .or-text {
    &.disabled {
      color: var(--kd-color-text-level-disabled);
    }
  }

  .file-input {
    display: none;
  }
}
