@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

.file-uploader-list-container {
  display: flex;
  flex-direction: column;
}

.file-uploader-list-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include typography.type-body-02;
  height: 32px;
}

.file-uploader-list-container__items {
  max-height: 222px; // 74px * 3
  overflow-y: auto;
  overflow-x: hidden;
}

.shadow-bottom {
  box-shadow: inset 0px -8px 6px -6px
    var(--kd-color-utility-elevation-default-l2---overflow);
}

.shadow-top {
  box-shadow: inset 0px 8px 6px -6px var(--kd-color-utility-elevation-default-l2---overflow);
}

// .file-uploader-list-container__footer {
//   margin-top: 8px;
// }
