@use '../../../common/scss/global.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

.file-uploader-list-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.file-uploader-list-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.file-uploader-list-container__items {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 1px solid var(--kd-color-border-accent-secondary);

  &.expanded {
    max-height: none;
  }
}

.shadow-bottom {
  box-shadow: inset 0px -8px 6px -6px
    var(--kd-color-utility-elevation-default-1);
}

.shadow-top {
  border-top: 1px solid var(--kd-color-border-accent-secondary);
  box-shadow: inset 0px 8px 6px -6px var(--kd-color-utility-elevation-default-1);
}

.expand-btn {
  position: absolute;
  top: -4px;
  right: 16px;

  &.expanded {
    transform: rotate(180deg);
  }
}
