@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

.uploader-status-icon-container {
  display: flex;
}

.file-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.file-details-container {
  p {
    margin: 0;
  }

  .file-name {
    @include typography.type-body-02;
  }

  .file-size {
    @include typography.type-ui-02;
    color: var(--kd-color-text-level-secondary);
  }

  .success {
    color: var(--kd-color-text-link-level-default);
  }

  .error {
    color: var(--kd-color-text-variant-destructive);
  }

  .error-info-container {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

.success-icon {
  svg {
    fill: var(--kd-color-status-success-dark);
  }
}

.error-icon {
  svg {
    fill: var(--kd-color-status-error-dark);
  }
}

.notification-status-body {
  display: flex;
  gap: 16px;
}
