@use '../../../common/scss/global.scss';

:host {
  display: block;
}

.file-uploader-item-container {
  height: 74px;
  padding: 16px 16px 16px 0;
  border-bottom: 1px solid var(--kd-color-border-accent-secondary);
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.actions {
  margin-left: auto;
}
