@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

.file-uploader-list-container {
  display: flex;
  flex-direction: column;
}

.file-uploader-list-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include typography.type-body-02;
}

.file-uploader-list-container__items {
  max-height: 222px; // 74px * 3
  overflow-y: auto;
  overflow-x: hidden;
}

.file-uploader-list-container__footer {
  margin-top: 8px;
}
