@use '../../../common/scss/global.scss';

:host {
  display: block;
}

.file-uploader-status-container {
  padding: 16px;
  border-radius: 8px;
  display: flex;
  gap: 16px;
  align-items: center;

  &.active {
    background-color: var(--kd-color-status-informational-light);
  }

  &.success {
    background-color: var(--kd-color-status-success-light);
  }

  &.error {
    background-color: var(--kd-color-status-error-light);
  }
}
