@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

.file-uploader-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 400px;
  align-items: center;

  .drag-drop-container {
    width: 300px;
    height: 200px;
    border: 2px dashed var(--kd-color-border-variants-light);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      border-color: var(--kd-color-border-variants-dark);
    }
  }

  .file-input {
    // visibility: hidden;
    display: none;
  }
}
