@mixin border-gradient-ai(
  $gradient,
  $radius: 6px,
  $width: 1px,
  $surface: var(--kd-color-background-forms-default)
) {
  border-radius: $radius;
  border: $width solid transparent;
  background: linear-gradient(#{$surface}, #{$surface}) padding-box,
    #{$gradient} border-box;
}

.g-border-ai {
  @include border-gradient-ai($gradient: var(--kd-gradient-border-ai-default));
}
