.interactive {
  border: none;
  outline: 2px solid transparent;
  outline-offset: -2px;
  cursor: pointer;
  transition: background-color 150ms ease-out, color 150ms ease-out,
    outline-color 150ms ease-out;

  &:hover {
    background-color: var(--color-background-hover);
  }

  &:focus {
    outline-color: var(--color-primary-hover);
  }
}

.menu {
  position: relative;

  &__content {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 16px;
    background: var(--color-background);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.08),
      0px -1px 4px rgba(0, 0, 0, 0.08);
    transition: visibility 0.15s, opacity 0.15s ease-in-out,
      transform 0.15s ease-in-out;
    opacity: 0;
    transform: translate3d(0px, -10%, 0px);
    z-index: -1;

    strong {
      font-weight: 500;
    }
  }

  &:focus-within,
  &:hover {
    .menu__content {
      visibility: visible;
      opacity: 1;
      transform: translate3d(0px, 0px, 0px);
      z-index: initial;
    }
  }
}
