@use './global.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/elevation.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host([highlighted]) {
  outline: 1px solid var(--kd-color-border-variants-focus);
}

.menu-item {
  background: var(--kd-color-background-menu-state-default);

  .text,
  .icon-container,
  .icon,
  .check-icon,
  .expand-icon {
    color: var(--kd-color-text-level-primary);
  }

  &:focus,
  &:active:not([disabled]),
  &:focus-within,
  &:focus-visible {
    background: var(--kd-color-background-menu-state-open);

    .text {
      color: var(--kd-color-text-level-light);
    }
  }

  &[selected]:not([disabled]),
  &[highlighted] {
    background: var(--kd-color-background-menu-state-open);

    &:hover,
    &[highlighted] {
      background-color: var(--kd-color-background-menu-state-hover);
    }
  }

  &:hover,
  &[highlighted] {
    background-color: var(--kd-color-background-menu-state-hover);

    .text,
    .icon-container,
    .icon,
    .check-icon,
    .expand-icon {
      color: var(--kd-color-text-level-light);
    }
  }

  &[disabled] {
    color: var(--kd-color-text-link-level-disabled);

    .text {
      color: var(--kd-color-text-link-level-disabled);
    }

    &:hover {
      cursor: not-allowed;
      background-color: var(--kd-color-background-container-default);
    }

    kyn-checkbox:hover {
      cursor: not-allowed;
    }
  }

  &.destructive {
    color: var(--kd-color-text-variant-destructive);
    border-top: 1px solid var(--kd-color-border-level-tertiary);

    &:hover {
      background: var(--kd-color-status-error-light);
    }

    .text {
      color: var(--kd-color-text-variant-destructive);
    }
  }
}
