@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin close-icon-btn($top: 32px, $right: 10px, $size: 20px) {
  position: absolute;
  tab-size: 2;
  top: $top;
  right: $right;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin picker-base {
  :host {
    display: inline-block;
  }

  input {
    display: block;
    width: 100%;
    border: 1px solid var(--kd-color-border-forms-default);
    border-radius: 4px;
    height: 48px;
    -webkit-appearance: none;
    appearance: none;
    // md (default) typography
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    &.size--xs {
      height: 26px;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.32px;
    }

    &.size--sm {
      height: 32px;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.32px;
    }

    &.size--lg {
      height: 56px;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.32px;
    }
  }

  // Icon sizing for xs size variant
  input.size--xs ~ .input-icon,
  input.size--xs ~ .clear-icon {
    svg {
      width: 16px;
      height: 16px;
    }
  }

  // Icon sizing for sm size variant
  input.size--sm ~ .input-icon,
  input.size--sm ~ .clear-icon {
    svg {
      width: 16px;
      height: 16px;
    }
  }
}

@mixin picker-disabled {
  .input-icon {
    cursor: default;
  }

  .error-text,
  .error-text .error-icon,
  .warn-text {
    color: var(--kd-color-text-level-disabled);
  }

  .caption {
    color: var(--kd-color-text-level-disabled);
  }

  .label-text {
    color: var(--kd-color-text-level-disabled);

    .required {
      color: var(--kd-color-text-level-disabled);
    }
  }
}
