@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin close-icon-btn($top: 32px, $right: 10px, $size: 20px) {
  position: absolute;
  tab-size: 2;
  top: $top;
  right: $right;
  display: flex;
  align-items: center;
  justify-content: center;
}
