@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin close-icon-btn($top: 32px, $right: 8px, $size: 20px) {
  tab-size: 2;
  position: absolute;
  top: $top;
  right: $right;
  background: transparent;
  color: var(--kd-color-icon-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid transparent;
  cursor: pointer;

  &:active,
  &:focus {
    background: transparent;
    border: 1px solid transparent;
    gap: 2px;
    outline: 2px solid var(--kd-color-border-variants-focus);
  }

  span {
    display: flex;
    outline: none;

    svg {
      outline: none;
    }
  }
}
