/* import variables/mixins */
@use './variables/index.scss';
@use './mixins/typography.scss';

/* import roboto from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');

/* include everett fonts locally */
@font-face {
  font-family: 'TWK Everett';
  src: url(../../assets/fonts/TWKEverett-Ultralight-web.woff2) format('woff2'),
    url(../../assets/fonts/TWKEverett-Ultralight-web.woff) format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url(../../assets/fonts/TWKEverett-Light-web.woff2) format('woff2'),
    url(../../assets/fonts/TWKEverett-Light-web.woff) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url(../../assets/fonts/TWKEverett-Regular-web.woff2) format('woff2'),
    url(../../assets/fonts/TWKEverett-Regular-web.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url(../../assets/fonts/TWKEverett-Medium-web.woff2) format('woff2'),
    url(../../assets/fonts/TWKEverett-Medium-web.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url(../../assets/fonts/TWKEverett-Bold-web.woff2) format('woff2'),
    url(../../assets/fonts/TWKEverett-Bold-web.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* define any inheritable styles that we want to pierce the shadow dom */
html,
body {
  min-height: 100%;
}

body {
  @include typography.type-body--02;
  background: var(--kyn-color-background);
}
