/* import variables */
@use './variables/index.scss';

/* import roboto from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

/* include everett fonts locally */
@font-face {
  font-family: 'TWK Everett';
  src: url(../../assets/fonts/TWKEverett-Light-web.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url(../../assets/fonts/TWKEverett-Regular-web.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url(../../assets/fonts/TWKEverett-Bold-web.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* define any inheritable styles that we want to pierce the shadow dom */
html,
body {
  min-height: 100%;
}

body {
  font-family: var(--kyn-font-body);
  line-height: var(--kyn-type-body-1-height);
  background: var(--kyn-color-background);
}
