    @use '../../../common/scss/global.scss';
    @use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

    :host {
        display: inline-block;
    }

    @keyframes slide-in {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(0);
        }
    }

    #toaster {
        text-align: left;
        position: fixed;
        width: 440px;
        color: black;
        border: none;
        padding: 4px 32px 8px;
        position: absolute;
        right: 16px;
        top: 16px;
        box-shadow: rgba(61, 60, 60, 0.25) 0px 2px 12px 0px;
        font-family: Arial;
        border-radius: 8px;
        animation: slide-in 0.5s forwards;

        &.success {
            background-color: rgba(21, 190, 114, 0.2);
        }

        &.error {
            background-color: rgba(255, 0, 0, 0.2);
        }

        &.warning {
            background-color: rgba(255, 255, 0, 0.2);
        }

        &.default {
            background-color: rgba(91, 122, 244, 0.2);
        }
    }

    #toaster-title {
        @include typography.type-ui-01;
        margin-bottom: 0;

        kd-icon {
            vertical-align: -2px;
            margin-right: 16px;
        }

        &.default kd-icon svg {
            fill: black;
        }

        &.success kd-icon svg {
            fill: green !important;
        }

        &.warning kd-icon svg {
            fill: yellow;
        }

        &.error kd-icon svg {
            fill: red;
        }
    }

    #toaster-body {
        @include typography.type-ui-02;
        margin-top: 6px;
        padding-top: 0;
        margin-left: 24px;
    }

    #timestamp {
        position: absolute;
        bottom: 8px;
        right: 10px;
        @include typography.type-ui-03;
        color: grey;
    }

    .show-hide-button {
        min-width: 160px;
    }

    .x-out {
        background-color: transparent;
        border: none;
        position: absolute;
        top: 5px;
        right: 5px;
        padding-top: 5px;
        box-shadow: none;
        margin: 0;
        font-size: 12px;
        cursor: pointer;
        font-weight: lighter;
        border-radius: 3px;

        &:hover {
            background-color: white;
            opacity: 0.5;
            color: black;
            opacity: 0.8;
        }
    }

    button:hover {
        box-shadow: none;
        color: white;
        transition: ease-in-out all 0.5s;
    }
