@use '../../../common/scss/global.scss' as *;

:host {
  display: block;
}

.prompt-group {
  display: flex;
  gap: 16px;

  &--horizontal {
    flex-direction: row;
  }

  &--vertical {
    flex-direction: column;
  }
}

::slotted(kyn-prompt) {
  flex: 1;
}
