@import '../../../common/scss/global.scss';

:host {
  display: block;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0 8px;
  padding-bottom: 40px;
  font-family: var(--font-heading);
  background: var(--color-background);
  box-shadow: 0 -1px 0 var(--color-divider-light);
}

.footer-links{
  padding-left: 4px;
  padding-top: 12px;
  padding-bottom: 8px;
}

.footer-cpr {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding-right: 20px;
  left: 0px;
  padding-left: 20px;
  padding-bottom: 12px;
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.logo-link {
  display: flex;
  flex-direction: row-reverse;
  height: 20px;
  padding-bottom: 10px;
}

.copyright {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.1px;
  color: var(--color-text);
}

@media (max-width: 672px) 
{
  .footer {
    padding-bottom: 70px;
  }
  .footer-cpr{
    display:block;
  }
  .logo-link{
    padding-top: 10px;
    float: none;
    display: block;
  }
  .copyright{
    display: block;
    padding-top: 10px;;
  }
}