@import '../../../common/scss/global.scss';

:host {
  display: block;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.1875rem;
}

::slotted(kyn-footer-link) {
  border-right: 1px solid var(--kd-color-border-dark);
}

::slotted(kyn-footer-link:last-child) {
  border-right: none;
}
