@import '../../../common/scss/global.scss';

:host {
  display: inline-block;
}

.footer-link {
  display: inline-block;
  padding: 4px 12px;
  position: relative;
  text-decoration: none;
  color: var(--color-text);

  &::after {
    content: '';
    position: absolute;
    width: calc(100% - 24px);
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 12px;
    top: auto;
    background-color: var(--color-brand);
    transform-origin: bottom left;
    transition: transform 0.15s ease-out;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
}
