@import '../../../common/scss/global.scss';

:host {
  display: block;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
}

::slotted(kyn-footer-link) {
  border-right: 1px solid var(--kd-color-border-primary);
}

::slotted(kyn-footer-link:last-child) {
  border-right: none;
}
