@use '../../../common/scss/global.scss';

:host {
  display: inline-block;
  margin: 4px 0;
}

.footer-link {
  display: inline-block;
  padding: 0 12px;
  position: relative;
  text-decoration: none;
  color: var(--kd-color-text-primary);

  &:hover {
    color: var(--kd-color-text-primary-hover);
  }

  &:active {
    color: var(--kd-color-text-primary-pressed);
  }

  &:focus {
    outline: 1px solid var(--kd-color-border-focus);
    border-radius: 2px;
  }

  &::after {
    content: '';
    position: absolute;
    width: calc(100% - 24px);
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 12px;
    top: auto;
    background-color: var(--kd-color-border-tertiary);
    transform-origin: bottom left;
    transition: transform 0.15s ease-out;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
}
