@use '../../../common/scss/global.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 32px;
  border-radius: 8px;
  margin: 0 var(--kd-page-gutter) 8px;
  background: var(--kd-color-background-container-default);
  // border-top: 1px solid var(--kd-color-border-variants-light);

  @media (min-width: 42rem) {
    flex-direction: row;
    align-items: center;
  }
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 24px;
  margin-bottom: 4px;
}

.logo-container {
  padding: 10px 0;

  @media (min-width: 42rem) {
    margin-left: auto;
  }
}

.logo-link {
  svg {
    display: block;
  }
}

.copyright {
  @include typography.type-ui-04;
  font-weight: var(--kd-font-weight-light);
}
