@use '../../../common/scss/global.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

.error-container {
  align-self: center;
  display: grid;
  place-items: center;

  .error-title {
    margin: 16px 0 8px;

    p {
      @include typography.type-headline-01;
      font-weight: var(--kd-font-weight-bold);
      color: var(--kd-color-text-variant-brand);
      text-align: center;
      margin: 0;
    }
  }

  .error-description {
    margin-bottom: 48px;
    text-align: center;
  }

  .error-action-buttons {
    display: flex;
    gap: 16px;
    justify-content: center;

    @media (max-width: calc(42rem - 0.001px)) {
      flex-wrap: wrap;

      ::slotted(kyn-button) {
        width: 100%;
        flex-grow: 1;
      }
    }
  }
}
