@use '../../../common/scss/global.scss';
@use '../../../common/scss/mixins.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/elevation.scss';

:host {
  display: inline-block;
}

.search {
  display: flex;
  position: relative;
}

kyn-button {
  display: none;
}

kyn-text-input {
  width: 100%;
}

.expandable:not(.expanded) {
  kyn-button {
    display: inline-block;
  }

  kyn-text-input {
    display: none;
  }
}

.suggestions {
  @include elevation.shadow(2);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 4px;
  border-radius: 4px;
  max-height: 280px;
  overflow-y: auto;
  transition: transform 150ms ease-out, opacity 150ms ease-out,
    outline-color 150ms ease-out, visibility 150ms ease-out;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  z-index: -1;

  .focused.has-value &,
  &:focus {
    visibility: visible;
    transform: none;
    opacity: 1;
    z-index: 1;
  }

  .suggestion {
    padding: 16px;
    cursor: pointer;
    transition: background-color 150ms ease-out;
    background-color: var(--kd-color-background-forms-default);

    &:hover,
    &[highlighted] {
      background-color: var(--kd-color-background-ui-hollow-hover);
    }
  }
}

.assistive-text {
  @include mixins.visually-hidden;
}

span[slot='icon'] {
  display: flex;
}
