@use '../../../common/scss/global.scss';
@use '../../../common/scss/mixins.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: inline-block;
}

.tags {
  @include typography.type-ui-03;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  gap: 4px;
  padding: 0px 4px 0px 4px;
  color: var(--kd-color-text-primary);
  min-width: 24px;
}

.tag-close-btn {
  color: inherit;
  background: transparent;
  border: none;
  border-radius: 2px;
  border-color: inherit;
  padding: 0;
  display: flex;
  cursor: pointer;

  &:hover {
    outline-width: 1px;
    outline-style: solid;
    outline-offset: inherit;
  }

  &:focus,
  &:active {
    outline-width: 2px;
    outline-style: solid;
    outline-offset: inherit;
  }

  &[disabled] {
    background-color: var(--kd-color-background-disabled);
    color: var(--kd-color-text-disabled);
    border: none;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.tag {
  &-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 104px;
  }
  &-medium {
    height: 24px;
  }
  &-small {
    height: 20px;
  }
  &-disable {
    cursor: not-allowed;
    background-color: var(--kd-color-background-disabled) !important;
    color: var(--kd-color-text-disabled) !important;
  }
  /* Grey color */
  &-grey {
    background-color: var(--kd-color-background-ui-subtle);
    color: var(--kd-color-text-primary);
    &-close-btn {
      outline-color: var(--kd-color-border-primary);
    }

    &-dark {
      background-color: var(--kd-color-background-ui-strong);
      color: var(--kd-color-text-inversed);
      &-close-btn {
        outline-color: var(--kd-color-border-inverse);
      }
    }
  }
  /* spruce color */
  &-spruce {
    background-color: var(--kd-color-spruce-10);

    &-close-btn {
      outline-color: var(--kd-color-background-primary);
    }

    &-dark {
      background-color: var(--kd-color-background-primary);
      color: var(--kd-color-text-inversed);
      &-close-btn {
        outline-color: var(--kd-color-background-inverse-hover);
      }
    }
  }
  /* failed color */
  &-failed {
    background-color: var(--kd-color-background-error-light);
    &-close-btn{
        outline-color: var(--kd-color-border-error);
    }
    &-dark {
      background-color: var(--kd-color-background-destructive);
      color: var(--kd-color-text-inversed);
      &-close-btn{
        outline-color: var(--kd-color-error-light);
      }
    }
  }
  /* warning color */
  &-warning {
    background-color: var(--kd-color-background-warning-light);
    &-close-btn{
        outline-color: var(--kd-color-background-warning);
    }
    &-dark {
      background-color: var(--kd-color-background-warning);
      &-close-btn{
        outline-color: var(--kd-color-background-warning-light);
      }
    }
  }
  /* passed color */
  &-passed {
    background-color: var(--kd-color-background-success-light);
    &-close-btn{
        outline-color: var(--kd-color-background-success);;
    }
    &-dark {
      background-color: var(--kd-color-background-success);
      color: var(--kd-color-text-inversed);
      &-close-btn{
        outline-color: var(--kd-color-background-success-light);
      }
    }
  }
  /** NOTE: Here onwards color has HEX value as there is no color pallete for Data Viz yet **/
  /* cat01 color */
  &-cat01 {
    background-color: #ace1f8;
    &-close-btn{
        outline-color: #64b5e1;
    }
    &-dark {
      background-color: #64b5e1;
      color: var(--kd-color-text-inversed);
      &-close-btn{
        outline-color: #ace1f8;
      }
    }
  }

  /* cat02 color */
  &-cat02 {
    background-color: #9beeca;
    &-close-btn{
        outline-color: #008d72;
    }
    &-dark {
      background-color: #008d72;
      color: var(--kd-color-text-inversed);
      &-close-btn{
        outline-color: #9beeca;
      }
    }
  }

  /* cat03 color */
  &-cat03 {
    background-color: #ffd46a;
    &-close-btn{
        outline-color: #f26e01;
    }
    &-dark {
      background-color: #f26e01;
      color: var(--kd-color-text-inversed);
      &-close-btn{
        outline-color: #ffd46a;
      }
    }
  }

  /* cat04 color */
  &-cat04 {
    background-color: #f2c4e2;
    &-close-btn{
        outline-color: #c4407e;
    }
    &-dark {
      background-color: #c4407e;
      color: var(--kd-color-text-inversed);
      &-close-btn{
        outline-color: #f2c4e2;
      }
    }
  }

  /* cat05 color */
  &-cat05 {
    background-color: #e2c6ff;
    &-close-btn{
        outline-color: #945cc2;
      }
    &-dark {
      background-color: #945cc2;
      color: var(--kd-color-text-inversed);
      &-close-btn{
        outline-color: #e2c6ff;
      }
    }
  }
}
