@use '../../../common/scss/global.scss';
@use '../../../common/scss/mixins.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: inline-block;
}

.tags {
  @include typography.type-ui-02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  gap: 4px;
  color: var(--kd-color-text-level-primary);
  min-width: 24px;
}

.tag-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 104px;

  &.no-truncation {
    max-width: none;
  }
}

.tag-close-btn {
  color: inherit;
  background: transparent;
  border: none;
  border-radius: 4px;
  border-color: inherit;
  align-items: center;
  display: flex;
  cursor: pointer;
  outline-offset: -3px;
  outline: 1px solid transparent;
  transition: outline 150ms ease-out;

  &-md {
    height: 24px;
    padding: 4px;

    &:hover {
      outline-offset: -3px;
    }

    &:focus,
    &:active {
      outline-offset: -4px;
    }
  }

  &-sm {
    height: 20px;
    padding: 2px;

    &:hover {
      outline-offset: -3px;
    }

    &:focus,
    &:active {
      outline-offset: -4px;
    }
  }

  &:hover {
    outline-width: 1px;
    outline-style: solid;
  }

  &:focus,
  &:active {
    outline-width: 2px;
    outline-style: solid;
  }

  &[disabled] {
    background-color: var(--kd-color-tags-background-disabled);
    color: var(--kd-color-icon-disabled);
    border: none;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.tag {
  &-medium {
    height: 24px;
    padding: 0 4px 0 4px;

    &-filter {
      padding-right: 0px;
    }

    &-label {
      padding: 4px 8px 4px 8px;

      &-filter {
        padding-right: 1px;
      }
    }
  }

  &-small {
    height: 20px;
    padding: 0 2px 0 2px;

    &-filter {
      padding-right: 0px;
    }

    &-label {
      padding: 2px 4px 2px 4px;

      &-filter {
        padding-right: 0px;
      }
    }
  }

  &-disable {
    cursor: not-allowed;
    background-color: var(--kd-color-tags-background-disabled) !important;
    color: var(--kd-color-text-level-disabled) !important;
  }

  /* Grey color */
  &-grey {
    background-color: var(--kd-color-tags-background-gray);

    &-close-btn {
      color: var(--kd-color-icon-primary);

      svg {
        display: block;
      }

      &:hover {
        background-color: var(--kd-color-tags-hover-gray);
      }

      &:focus {
        background-color: var(--kd-color-tags-hover-gray);
        outline-color: var(--kd-color-border-variants-focus);

        &:active {
          outline-color: var(--kd-color-border-ui-pressed);
        }
      }
    }
  }

  /* spruce color */
  &-spruce {
    background-color: var(--kd-color-tags-background-spruce);

    &-close-btn {
      color: var(--kd-color-icon-primary);

      svg {
        display: block;
      }

      &:hover {
        background-color: var(--kd-color-tags-hover-spruce);
      }

      &:focus {
        background-color: var(--kd-color-tags-hover-spruce);
        outline-color: var(--kd-color-border-variants-focus);

        &:active {
          outline-color: var(--kd-color-border-ui-pressed);
        }
      }
    }
  }

  /* interactive color */
  &-interactive {
    background-color: var(--kd-color-tags-background-interactive);

    &-close-btn {
      color: var(--kd-color-icon-primary);

      svg {
        display: block;
      }

      &:hover {
        background-color: var(--kd-color-tags-hover-interactive);
      }

      &:focus {
        background-color: var(--kd-color-tags-hover-interactive);
        outline-color: var(--kd-color-border-variants-focus);

        &:active {
          outline-color: var(--kd-color-border-ui-pressed);
        }
      }
    }
  }

  /* blue color */
  &-blue {
    background-color: var(--kd-color-tags-background-blue);

    &-close-btn {
      color: var(--kd-color-icon-primary);

      svg {
        display: block;
      }

      &:hover {
        background-color: var(--kd-color-tags-hover-blue);
      }

      &:focus {
        background-color: var(--kd-color-tags-hover-blue);
        outline-color: var(--kd-color-border-variants-focus);

        &:active {
          outline-color: var(--kd-color-border-ui-pressed);
        }
      }
    }
  }

  /* error color */
  &-error {
    background-color: var(--kd-color-tags-background-error);

    &-close-btn {
      color: var(--kd-color-icon-primary);

      svg {
        display: block;
      }

      &:hover {
        background-color: var(--kd-color-tags-hover-error);
      }

      &:focus {
        background-color: var(--kd-color-tags-hover-error);
        outline-color: var(--kd-color-border-variants-focus);

        &:active {
          outline-color: var(--kd-color-border-ui-pressed);
        }
      }
    }
  }

  /* warning color */
  &-warning {
    background-color: var(--kd-color-tags-background-warning);

    &-close-btn {
      color: var(--kd-color-icon-primary);

      svg {
        display: block;
      }

      &:hover {
        background-color: var(--kd-color-tags-hover-warning);
      }

      &:focus {
        background-color: var(--kd-color-tags-hover-warning);
        outline-color: var(--kd-color-border-variants-focus);

        &:active {
          outline-color: var(--kd-color-border-ui-pressed);
        }
      }
    }
  }

  /* success color */
  &-success {
    background-color: var(--kd-color-tags-background-success);

    &-close-btn {
      color: var(--kd-color-icon-primary);

      svg {
        display: block;
      }

      &:hover {
        background-color: var(--kd-color-tags-hover-success);
      }

      &:focus {
        background-color: var(--kd-color-tags-hover-success);
        outline-color: var(--kd-color-border-variants-focus);

        &:active {
          outline-color: var(--kd-color-border-ui-pressed);
        }
      }
    }
  }

  /* cat01 color */
  &-cat01 {
    background-color: var(--kd-color-tags-background-cat1);

    &-close-btn {
      color: var(--kd-color-icon-primary);

      svg {
        display: block;
      }

      &:hover {
        background-color: var(--kd-color-tags-hover-cat1);
      }

      &:focus {
        background-color: var(--kd-color-tags-hover-cat1);
        outline-color: var(--kd-color-border-variants-focus);

        &:active {
          outline-color: var(--kd-color-border-ui-pressed);
        }
      }
    }
  }

  /* cat02 color */
  &-cat02 {
    background-color: var(--kd-color-tags-background-cat2);

    &-close-btn {
      color: var(--kd-color-icon-primary);

      svg {
        display: block;
      }

      &:hover {
        background-color: var(--kd-color-tags-hover-cat2);
      }

      &:focus {
        background-color: var(--kd-color-tags-hover-cat2);
        outline-color: var(--kd-color-border-variants-focus);

        &:active {
          outline-color: var(--kd-color-border-ui-pressed);
        }
      }
    }
  }

  /* cat03 color */
  &-cat03 {
    background-color: var(--kd-color-tags-background-cat3);

    &-close-btn {
      color: var(--kd-color-icon-primary);

      svg {
        display: block;
      }

      &:hover {
        background-color: var(--kd-color-tags-hover-cat3);
      }

      &:focus {
        background-color: var(--kd-color-tags-hover-cat3);
        outline-color: var(--kd-color-border-variants-focus);

        &:active {
          outline-color: var(--kd-color-border-ui-pressed);
        }
      }
    }
  }

  /* cat04 color */
  &-cat04 {
    background-color: var(--kd-color-tags-background-cat4);

    &-close-btn {
      color: var(--kd-color-icon-primary);

      svg {
        display: block;
      }

      &:hover {
        background-color: var(--kd-color-tags-hover-cat4);
      }

      &:focus {
        background-color: var(--kd-color-tags-hover-cat4);
        outline-color: var(--kd-color-border-variants-focus);

        &:active {
          outline-color: var(--kd-color-border-ui-pressed);
        }
      }
    }
  }

  /* cat05 color */
  &-cat05 {
    background-color: var(--kd-color-tags-background-cat5);

    &-close-btn {
      color: var(--kd-color-icon-primary);

      svg {
        display: block;
      }

      &:hover {
        background-color: var(--kd-color-tags-hover-cat5);
      }

      &:focus {
        background-color: var(--kd-color-tags-hover-cat5);
        outline-color: var(--kd-color-border-variants-focus);

        &:active {
          outline-color: var(--kd-color-border-ui-pressed);
        }
      }
    }
  }

  /* cat06 color */
  &-cat06 {
    background-color: var(--kd-color-tags-background-cat6);

    &-close-btn {
      color: var(--kd-color-icon-primary);

      svg {
        display: block;
      }

      &:hover {
        background-color: var(--kd-color-tags-hover-cat6);
      }

      &:focus {
        background-color: var(--kd-color-tags-hover-cat6);
        outline-color: var(--kd-color-border-variants-focus);

        &:active {
          outline-color: var(--kd-color-border-ui-pressed);
        }
      }
    }
  }
}
