@use '../../../common/scss/global.scss';
@use '../../../common/scss/mixins.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}
.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.tag-reveal-toggle {
  margin-left: 4px;

  &-md {
    height: 24px;
  }
  &-sm {
    height: 20px;
  }
}
