@use '../../../common/scss/global.scss';
@use '../../../common/scss/mixins.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: inline-block;
}

.tag-reveal-toggle {
  @include typography.type-ui-03;
  margin-top: 5px;
  padding: 0 4px 0 4px;
  background: 0 0;
  border: none;
  color: var(--kd-color-text-link);
  border-radius: 2px;
  cursor: pointer;
  outline: 2px solid transparent;
  min-width: 72px;
  height: 24px;
}
