@use '../../../common/scss/global.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/variables/breakpoints.scss';

:host {
  display: block;
  height: 100%;
}

.meta-container {
  display: flex;
  padding: 16px;
  border-radius: 4px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  background: var(--kd-color-background-opacity-3);
  min-width: 0;
  height: 100%;
  &.no-background {
    background: none;
  }
}
.meta-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 1 auto;
  min-width: 0;
  max-width: 100%;
  min-height: 0;
  height: 100%;
  &.horizontal-align {
    flex-direction: column;
  }

  @media (min-width: breakpoints.$bp-md) {
    &.horizontal-align {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 8px;
      flex: 1 1 auto;
      min-width: 0;
      max-width: 100%;
      min-height: 0;
      height: 100%;
    }
  }
  .meta-label {
    @include typography.type-ui-02;
    font-weight: var(--kd-font-weight-medium);
    &.displayEle {
      display: none;
    }
  }
  .meta-value {
    width: 100%;
    min-width: 0;
    overflow-x: auto;
    &.scrollable {
      flex: 1 1 auto;
      min-height: 0;
      height: 100%;
      overflow-y: auto;
    }

    &:focus-visible {
      outline-color: var(--kd-color-border-variants-focus);
    }
  }
}

.meta-icon {
  display: flex;
  padding-left: 4px;
  align-items: flex-start;
  align-self: stretch;
  gap: 8px;
  &.displayEle {
    display: none;
  }
}

.spacer {
  display: block;
  width: 1px;
  align-items: center;
  align-self: stretch;
  background: var(--kd-color-background-opacity-4);
}
