@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

$progress-bar-status-colors: (
    default: var(--kd-color-background-primary),
    success: var(--kd-color-background-success),
    error: var(--kd-color-background-error)
);

$progress-bar-height: 8px;
$progress-bar-background: var(--kd-color-background-ui-soft);

@mixin progress-bar-color($color) {
    &::-webkit-progress-value {
        background-color: $color;
    }

    &::-moz-progress-bar {
        background-color: $color;
    }

    &::-ms-fill {
        background-color: $color;
    }
}

@mixin animation-speed($duration) {
    &.progress-bar__active {

        &::-webkit-progress-value,
        &::-moz-progress-bar {
            animation: active-slide $duration linear infinite;
        }
    }

    &:indeterminate {
        animation: indeterminate $duration linear infinite;

        &::-webkit-progress-value,
        &::-moz-progress-bar {
            animation: indeterminate $duration linear infinite;
        }
    }
}

.progress-bar {
    &__upper-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: var(--kd-spacing-8);
    }

    &__label {
        margin: 0;
        color: var(--kd-color-text-primary);
        @include typography.type-ui-01;
        font-weight: 400;
    }

    &__status-icon {
        padding-right: 4px;
        line-height: 1;
        animation: fadeInRotate 600ms ease-in-out forwards;

        kd-icon {
            display: block;
        }

        &.success kd-icon {
            color: map-get($progress-bar-status-colors, success);
        }

        &.error kd-icon {
            color: map-get($progress-bar-status-colors, error);
        }
    }

    &__item {
        width: 100%;
        height: $progress-bar-height;
        appearance: none;
        border: none;
        border-radius: 2px;
        overflow: hidden;
        background-color: $progress-bar-background;

        &::-webkit-progress-bar {
            background-color: $progress-bar-background;
            border-radius: 2px;
        }

        @include progress-bar-color(map-get($progress-bar-status-colors, default));

        &::-webkit-progress-value,
        &::-moz-progress-bar {
            border-radius: 0 2px 0 2px;
            transition: width 0.3s ease-in-out;
        }

        &:indeterminate {
            $gradient: linear-gradient(to right,
                    $progress-bar-background 0%,
                    $progress-bar-background 42.5%,
                    map-get($progress-bar-status-colors, default) 42.5%,
                    map-get($progress-bar-status-colors, default) 57.5%,
                    $progress-bar-background 57.5%,
                    $progress-bar-background 100%);

            background-image: $gradient;
            background-size: 300% 100%;
            animation: indeterminate 5s linear infinite;

            &::-webkit-progress-bar {
                background-color: transparent;
            }

            &::-moz-progress-bar {
                background-image: $gradient;
                background-size: 300% 100%;
                animation: indeterminate 5s linear infinite;
            }
        }
    }

    &__success {
        @include progress-bar-color(map-get($progress-bar-status-colors, success));
    }

    &__error {
        @include progress-bar-color(map-get($progress-bar-status-colors, error));
    }

    &__helper-text {
        margin-top: 12px;
        color: var(--kd-color-text-primary);
        @include typography.type-ui-04;
        font-weight: 300;

        &.error {
            color: map-get($progress-bar-status-colors, error);
        }
    }

    &__speed-slow {
        @include animation-speed(8s);
    }

    &__speed-normal {
        @include animation-speed(5s);
    }

    &__speed-fast {
        @include animation-speed(3s);
    }
}

@keyframes indeterminate {
    0% {
        background-position: 100% 0;
    }

    50% {
        background-position: 0% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@keyframes active-slide {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 40px 0;
    }
}

@keyframes fadeInRotate {
    from {
        opacity: 0;
        transform: rotate(-45deg);
    }

    to {
        opacity: 1;
        transform: rotate(0deg);
    }
}
