@use '../../../common/scss/global.scss';
@use '../../../common/scss/form-input.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/visibility.scss';

$progress-bar-height: 4px;
$progress-bar-radius: 4px;

@mixin progress-bar-color($color) {
  background-color: $color;
}

:host {
  display: inline-block;
  width: 100%;
}

::slotted(kyn-tooltip) {
  display: inline-block;
  line-height: 8px;
  margin-left: 0;
  margin-top: 1px;
}

.progress-bar {
  &__upper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 18px;

    &.sr-only {
      @include visibility.sr-only;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    margin: 0;
  }

  &__helper-text {
    margin: 0;
    line-height: 16px;
    height: 16px;
  }

  &__status-icon {
    display: flex;
    align-items: center;
    padding-right: 2px;
    line-height: 1;

    .success-icon {
      svg {
        fill: var(--kd-color-status-success-dark);
      }
    }

    .error-icon {
      svg {
        fill: var(--kd-color-status-error-dark);
      }
    }

    p {
      color: var(--kd-color-text-level-secondary);
      padding: 0;
      margin: 0;
      font-size: 12px;
      display: flex;
      align-items: center;

      span {
        margin: 0 8px;
        font-weight: 400;
        vertical-align: middle;
      }
    }

    span[class$='-icon'] {
      animation: fadeInRotate 600ms ease-in-out forwards;
    }
  }

  &__active {
    animation: active-slide 400ms linear infinite;
  }

  &__container {
    margin: 8px 0;
  }

  &__background {
    height: $progress-bar-height;
    background-color: var(--kd-color-background-loader-bar-secondary);
    border-radius: $progress-bar-radius;
    overflow: hidden;
    position: relative;
  }

  &__main {
    height: 100%;
    background-color: var(--kd-color-background-loader-bar-primary);
    border-radius: 0 $progress-bar-radius $progress-bar-radius 0;
    transition: width 0.3s ease-in-out;

    &.is-indeterminate {
      width: 55px;
      position: absolute;
      left: 0;
      background-color: var(--kd-color-background-loader-bar-primary);
      animation: indeterminate 3s ease-in-out infinite;
    }
  }

  &__success {
    background-color: var(--kd-color-status-success-dark);
  }

  &__error {
    background-color: var(--kd-color-status-error-dark);
  }

  &__active {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.active,
.success {
  color: var(--kd-color-text-level-secondary);
}

.error {
  color: var(--kd-color-text-variant-destructive);
}

@keyframes indeterminate {
  0% {
    left: 0;
  }

  50% {
    left: calc(100% - 55px);
  }

  100% {
    left: 0;
  }
}

@keyframes active-slide {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 40px 0;
  }
}

@keyframes fadeInRotate {
  from {
    opacity: 0;
    transform: rotate(-45deg);
  }

  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}
