:root {
  --kyn-color-brand: #ff462d;
  --kyn-color-brand-text: #fb4425;
  --kyn-color-text-on-brand: #fff;
  --kyn-color-text: #3d3c3c;
  --kyn-color-text-light: #666;
  --kyn-color-text-hover: #2f808c;
  --kyn-color-primary: #29707a;
  --kyn-color-primary-text: #ffffff;
  --kyn-color-primary-hover: #2f808c;
  --kyn-color-primary-focus: #2f808c;
  --kyn-color-primary-active: #163d43;
  --kyn-color-primary-active-text: #f9f9f9;
  --kyn-color-secondary: #f7f7f7;
  --kyn-color-background: #ffffff;
  --kyn-color-background-hover: #f4f4f4;
  --kyn-color-background-focus: #f4f4f4;
  --kyn-color-border: #e2e2e2;
  --kyn-color-divider: #8c8c8c;
  --kyn-color-divider-light: #dcdad8;
  --kyn-color-disabled: rgba(0, 0, 0, 0.1);
  --kyn-color-disabled-text: rgba(100, 110, 117, 0.75);
}
