:root {
  --kyn-font-body: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  --kyn-font-heading: 'TWK Everett', 'Helvetica', 'Arial', sans-serif;

  --kyn-type-head-1-family: var(--kyn-font-heading);
  --kyn-type-head-1-size: 3.375rem;
  --kyn-type-head-1-height: 4rem;
  --kyn-type-head-1-weight: 700;

  --kyn-type-body-1-family: var(--kyn-font-body);
  --kyn-type-body-1-size: 1rem;
  --kyn-type-body-1-height: 1.375rem;
  --kyn-type-body-1-weight: 400;
}
