@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

$transition-duration: 0.3s;
$border-radius: 4px;

:host {
    display: block;
    font-family: var(--kd-font-family);
    position: relative;
    margin-bottom: 0;
}

.code-view__container {
    &.animating-expansion {
        .code-snippet-wrapper {
            transition: max-height $transition-duration ease-in-out;
        }
    }
}

.code-view {
    &__label {
        margin-bottom: var(--kd-spacing-12);

        label {
            @include typography.type-ui-02;
            color: var(--kd-color-text-secondary);
            font-weight: bold;
        }
    }

    &__copy-button,
    &__expand-button {
        position: absolute;
        z-index: 1;
        cursor: pointer;
    }

    &__copy-button {
        width: auto;

        button {
            padding: 4px;
        }

        .copy-text {
            margin-left: 4px;
        }

        &:disabled {
            cursor: not-allowed;
        }

        &.icon-only {
            padding: 8px;
            min-width: unset;
        }
    }

    &__expand-button {
        bottom: 12px;
        right: 13px;
        transition: transform $transition-duration ease-in-out;
    }

    &__container {
        position: relative;
        overflow: hidden;
        border-radius: $border-radius;

        pre {
            padding: 0 16px;
            tab-size: 2;
            white-space: pre;
            min-width: 350px;
            margin: 0;
            overflow-x: auto;

            code {
                display: block;
                white-space: inherit;
                font-family: monospace;
                font-size: 14px;
                line-height: 1.5;
                text-align: left;
                white-space: pre;
                word-spacing: normal;
                word-break: normal;
                word-wrap: normal;
                line-height: 1.5;
            }
        }

        &.single-line {
            max-width: 1082px;
            width: 95%;

            &.copy-button-text-true {
                padding-right: 110px;
            }

            &.copy-button-text-false {
                padding-right: 50px;
            }

            .code-view__copy-button {
                top: 0;
                right: 0;
            }

            pre {
                display: flex;
                align-items: center;
                line-height: 1.5;
                min-height: 40px;
                width: 100%;
                overflow-x: auto;
                overflow-y: hidden;

                &::-webkit-scrollbar {
                    width: auto;
                    height: 8px;
                }

                &::-webkit-scrollbar-track {
                    border-radius: 4px;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 4px;
                }

                scrollbar-width: thin;
                overflow: -moz-scrollbars-horizontal;

                code {
                    padding: 12px 16px 12px 16px;

                }
            }

            pre {
                -ms-overflow-style: -ms-autohiding-scrollbar;
            }

            @supports not (overflow-x: overlay) {
                pre {
                    padding-bottom: 20px;
                }
            }

            &.size--sm {
                max-width: 450px;
            }

            &.size--md {
                width: fit-content;
                max-width: 650px;
            }

            .code-view__copy-button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 6px;
                border-top-right-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
            }
        }

        &.multi-line {
            width: 95%;
            position: relative;

            .code-view__copy-button {
                top: 10px;
                right: 10px;
            }

            .code-snippet-wrapper {
                position: relative;
                overflow: hidden;
                max-height: inherit;
                transition: max-height $transition-duration ease-in-out;
            }

            &.has-overflow {
                .code-snippet-wrapper {
                    pre code {
                        padding-bottom: 20px;
                    }
                }
            }

            pre {
                margin: 0;
                overflow-x: auto;
                overflow-y: auto;
                max-height: inherit;
                padding-right: 110px;
                box-sizing: border-box;
                width: 100%;
                transition: max-height $transition-duration ease-in-out;
            }

            code {
                padding: 16px;
                display: inline-block;
                min-width: 100%;
                box-sizing: border-box;
                white-space: pre-wrap;
                word-wrap: break-word;
                word-break: normal;
                max-width: 75%;
            }

            &::-webkit-scrollbar {
                -webkit-appearance: none;
                width: auto;
                height: 8px;
            }

            &::-webkit-scrollbar-track {
                border-radius: 4px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 4px;
            }

            scrollbar-width: thin;
            overflow: -moz-scrollbars-vertical;

            @mixin size-variant($max-width, $max-height) {
                max-width: $max-width;

                &:not(.expanded-code-view) {
                    .code-snippet-wrapper {
                        max-height: $max-height;
                    }
                }
            }

            &.size--sm {
                @include size-variant(480px, 240px);
            }

            &.size--md {
                @include size-variant(560px, 320px);
            }

            &.size--lg {
                @include size-variant(95%, 400px);
            }

            &.size--auto {
                @include size-variant(95%, 2000px);
            }

            &.expanded-code-view .code-snippet-wrapper {
                max-height: 2000px;
            }
        }

        &.expanded-code-view .code-view__expand-button {
            transform: rotate(180deg);
        }
    }
}

code.language-bash:before {
    content: '$';
    opacity: 0.7;
    display: inline-block;
    padding-right: 15px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (min-width: 768px) {

    .code-view__container.single-line.size--lg,
    .code-view__container.multi-line.size--lg {
        max-width: 75%;
    }
}
