@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
    display: block;
    font-family: var(--kd-font-family);
}

:host(kyn-block-code-view) {
    position: relative;
    margin-bottom: 0;
}

::slotted([slot="inline-example"]) {
    display: inline;
    margin-right: 4px;
    vertical-align: baseline;
}

.code_view__container {
    &.dark-theme-true {
        background-color: var(--kd-color-background-ui-strong);

        pre,
        code {
            background-color: var(--kd-color-background-ui-strong);
        }
    }

    &.dark-theme-false {
        background-color: var(--kd-color-background-ui-soft);

        pre,
        code {
            background-color: var(--kd-color-background-ui-soft);
        }
    }
}

.code-view__label {
    margin-bottom: var(--kd-spacing-12);

    label {
        @include typography.type-ui-02;
        color: var(--kd-color-text-secondary);
        font-weight: bold;
    }
}

.code_view__container {
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    pre {
        padding: 0px 16px;
        tab-size: 4;
        white-space: pre;
        min-width: 350px;
        margin: 0;
        overflow-x: auto;
        white-space: pre;
        tab-size: 2;

        code {
            display: block;
            padding: 10px;
            white-space: inherit;
            font-family: monospace;
            font-size: 14px;
            line-height: 1.5;
        }
    }

    .code-view__copy-button {
        position: absolute;
        bottom: 0;
        right: 0;
        width: auto;
        padding: 10px 8px;
        z-index: 1;
        cursor: pointer;

        .copy-text {
            margin-left: 4px;
        }

        &:disabled {
            cursor: not-allowed;

            .copy-text,
            .copy-icon {
                color: var(--kd-color-background-ui-pressed);
            }
        }

        &.icon-only {
            padding: 8px;
            min-width: unset;
        }
    }

    .code-view__copied {
        bottom: -45px;
        top: auto;
    }

    &.single-line {
        max-width: 1082px;
        width: 95%;

        pre {
            padding: 1px 16px;
            display: flex;
            align-items: center;
            line-height: 1.5;
            min-height: 40px;
            width: 100%;

            code {
                overflow-x: auto;
                padding-left: 0;
                padding-right: 40px;
            }
        }

        .code-view__copy-button {
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6px;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }

        &.size--sm {
            width: fit-content;

            pre code {
                font-size: 12px;
            }
        }

        &.size--md {
            max-width: 650px;
        }

        &.size--lg {
            max-width: 991px;
        }
    }

    &.multi-line {
        padding: 3px 0 6px;

        .code-view__copy-button {
            bottom: 1px;
            right: 1px;
        }

        &.size--auto {
            max-width: 95%;

            pre {
                max-height: 90vh;
            }
        }

        &.size--sm {
            max-width: 480px;

            pre {
                max-height: 240px;

                code {
                    font-size: 12px;
                }
            }
        }

        &.size--md {
            max-width: 560px;

            pre {
                max-height: 320px;
            }
        }

        &.size--lg {
            max-width: 640px;

            pre {
                max-height: 400px;
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
