@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

$transition-duration: 0.3s;
$border-radius: 4px;

:host {
    display: block;
    font-family: var(--kd-font-family);
    position: relative;
    margin-bottom: 0;
}

.code-view {
    &__label {
        margin-bottom: var(--kd-spacing-12);

        label {
            @include typography.type-ui-02;
            color: var(--kd-color-text-secondary);
            font-weight: bold;
        }
    }

    &__copy-button,
    &__expand-button {
        position: absolute;
        z-index: 1;
        cursor: pointer;
    }

    &__copy-button {
        top: 0;
        right: 0;
        width: auto;
        padding: 10px 8px;

        .copy-text {
            margin-left: 4px;
        }

        &:disabled {
            cursor: not-allowed;

            .copy-text,
            .copy-icon {
                color: var(--kd-color-background-ui-pressed);
            }
        }

        &.icon-only {
            padding: 8px;
            min-width: unset;
        }
    }

    &__expand-button {
        bottom: 12px;
        right: 13px;
        transition: transform $transition-duration ease-in-out;
    }

    &__container {
        position: relative;
        overflow: hidden;
        border-radius: $border-radius;

        pre {
            padding: 0 16px;
            tab-size: 2;
            white-space: pre;
            min-width: 350px;
            margin: 0;
            overflow-x: auto;

            code {
                display: block;
                padding: 10px;
                white-space: inherit;
                font-family: monospace;
                font-size: 14px;
                line-height: 1.5;
            }
        }

        &.single-line {
            max-width: 1082px;
            width: 95%;

            pre {
                padding: 1px 16px;
                display: flex;
                align-items: center;
                line-height: 1.5;
                min-height: 40px;
                width: 100%;

                code {
                    overflow-x: auto;
                    padding: 0 50px 0 0;
                }
            }

            &.size--sm,
            &.size--md {
                width: fit-content;
                max-width: 650px;
            }

            &.size--sm pre code {
                font-size: 12px;
            }

            &.size--lg {
                max-width: 991px;
            }

            .code-view__copy-button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 6px;
                border-top-right-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
            }
        }

        &.multi-line {
            padding: 3px 0 6px;

            pre {
                transition: max-height $transition-duration ease-in-out;
                overflow-y: auto;
            }

            @mixin size-variant($max-width, $max-height) {
                max-width: $max-width;

                pre {
                    max-height: $max-height;
                }
            }

            &.size--auto {
                @include size-variant(95%, 90vh);
            }

            &.size--sm {
                @include size-variant(480px, 240px);
            }

            &.size--md {
                @include size-variant(560px, 320px);
            }

            &.size--lg {
                @include size-variant(640px, 400px);
            }

            &.expanded-code-view pre {
                max-height: 2000px;
            }
        }

        &.expanded-code-view .code-view__expand-button {
            transform: rotate(180deg);
        }
    }
}

.command-line>code.language-bash:before {
    content: '$';
    opacity: 0.7;
    display: inline-block;
    padding-right: 15px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
