/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

.code_view__container {
    &.dark-theme-true {

        code[class*="language-"],
        pre[class*="language-"] {
            color: #ccc;
            background-color: var(--kd-color-background-ui-strong);
        }

        :not(pre)>code[class*="language-"],
        pre[class*="language-"] {
            background-color: var(--kd-color-background-ui-strong);
        }
    }

    &.dark-theme-false {

        code[class*="language-"],
        pre[class*="language-"] {
            color: var(--kd-color-text-secondary);
            background-color: var(--kd-color-background-ui-soft);
        }

        :not(pre)>code[class*="language-"],
        pre[class*="language-"] {
            background-color: var(--kd-color-background-ui-soft);
        }

        .token.punctuation {
            color: var(--kd-color-text-secondary);
        }

        .token.selector,
        .token.important,
        .token.atrule,
        .token.keyword,
        .token.builtin {
            color: var(--kd-color-text-destructive);
        }

        .token.boolean,
        .token.number,
        .token.function {
            color: var(--kd-color-text-brand);
        }

        .token.string,
        .token.char,
        .token.attr-value,
        .token.regex,
        .token.variable {
            color: var(--kd-color-text-primary-hover);
        }


        .token.tag,
        .token.attr-name,
        .token.namespace,
        .token.deleted {
            color: var(--kd-color-text-tertiary);
        }

        .token.property,
        .token.class-name,
        .token.constant,
        .token.symbol {
            color: var(--kd-color-text-link);
        }
    }
}


code[class*="language-"],
pre[class*="language-"] {
    font-family: monospace;
    font-size: 16px;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
    margin: 0;
    padding-bottom: 6px;
    overflow: auto;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background-color: var(--kd-color-background-ui-strong);
}

.toolbar-item {
    display: none;
}

/* Inline code */
:not(pre)>code[class*="language-"] {
    padding: 1.6px;
    border-radius: 4.8px;
    white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #999;
}

.token.punctuation {
    color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
    color: #cc99cd;
}

.token.function-name {
    color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
    color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
    color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
    color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
    color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
    color: #67cdcc;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.inserted {
    color: green;
}
