@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

code[class*="language-"],
pre[class*="language-"] {
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    color: var(--kd-color-text-primary);
    background-color: var(--kd-color-background-ui-soft);
    font-family: Roboto Mono, monospace;
    font-size: 14px;
    line-height: 1.5em;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

code[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre[class*="language-"] ::-moz-selection {
    background: #75b3b0;
    color: #000000;
}

code[class*="language-"]::selection,
pre[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"] ::selection {
    background: #75b3b0;
    color: #000000;
}

:not(pre)>code[class*="language-"] {
    white-space: normal;
    border-radius: 0.2em;
    padding: 0.1em;
}

pre[class*="language-"] {
    overflow: auto;
    position: relative;
    margin: 0.5em 0;
    padding: 1.25em 1em;
}

.language-css>code,
.language-sass>code,
.language-scss>code {
    color: #a31a00;
}

[class*="language-"] .namespace {
    opacity: 0.7;
}

.token.atrule {
    color: #4a0e91;
}

.token.attr-name {
    color: var(--kd-color-text-tertiary);
}

.token.attr-value {
    color: #8c4600;
}

.token.attribute {
    color: #8c4600;
}

.token.boolean {
    color: #4a0e91;
}

.token.builtin {
    color: var(--kd-color-text-tertiary);
}

.token.cdata {
    color: var(--kd-color-text-tertiary);
}

.token.char {
    color: var(--kd-color-text-tertiary);
}

.token.class {
    color: var(--kd-color-text-tertiary);
}

.token.class-name {
    color: #0d3366;
}

.token.comment {
    color: #545454;
}

.token.constant {
    color: #4a0e91;
}

.token.deleted {
    color: #870000;
}

.token.doctype {
    color: #545454;
}

.token.entity {
    color: #870000;
}

.token.function {
    color: #4a0e91;
}

.token.hexcode {
    color: #a31a00;
}

.token.id {
    color: #4a0e91;
    font-weight: bold;
}

.token.important {
    color: #4a0e91;
    font-weight: bold;
}

.token.inserted {
    color: var(--kd-color-text-tertiary);
}

.token.keyword {
    color: #4a0e91;
}

.token.number {
    color: #a31a00;
}

.token.operator {
    color: var(--kd-color-text-tertiary);
}

.token.prolog {
    color: #545454;
}

.token.property {
    color: var(--kd-color-text-tertiary);
}

.token.pseudo-class {
    color: #8c4600;
}

.token.pseudo-element {
    color: #8c4600;
}

.token.punctuation {
    color: var(--kd-color-text-tertiary);
}

.token.regex {
    color: #0d3366;
}

.token.selector {
    color: #870000;
}

.token.string {
    color: #8c4600;
}

.token.symbol {
    color: #4a0e91;
}

.token.tag {
    color: #870000;
}

.token.unit {
    color: #a31a00;
}

.token.url {
    color: #870000;
}

.token.variable {
    color: #870000;
}
