/**
 * Shidoka Dark Theme -- syntax highlighting for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Hsu Ka An

base:    #272727
mono-1:  #E0E0E0
mono-2:  #BBBBBB
mono-3:  #999999
mono-4:  #708090
hue-1:   #990055
hue-2:   #DD4A68
hue-3:   #9A6E3A
hue-4:   #EE9900
hue-5:   #F1AD26
hue-6:   #669900
hue-7:   #7FAB14
hue-8:   #39A1CF
hue-9    #0077AA
*/

$default-dark-bg: var(--kd-color-background-ui-strong);
$default-darker-bg: #272727;
$default-dark-font-color: #FFFFFF;


.shidoka-dark-syntax-theme {
    background: $default-dark-bg;

    code[class*="language-"],
    pre[class*="language-"] {
        background: $default-dark-bg;
    }

    pre[class*="language-"]::selection,
    pre[class*="language-"] ::selection,
    code[class*="language-"]::selection,
    code[class*="language-"] ::selection {
        background: $default-dark-bg;
    }
}

.shidoka-darker-syntax-theme {
    background: $default-darker-bg;

    code[class*="language-"],
    pre[class*="language-"] {
        background: $default-darker-bg;
    }

    pre[class*="language-"]::selection,
    pre[class*="language-"] ::selection,
    code[class*="language-"]::selection,
    code[class*="language-"] ::selection {
        background: $default-darker-bg;
    }
}

.shidoka-dark-syntax-theme,
.shidoka-darker-syntax-theme {

    .code-view__copy-button .copy-text,
    .code-view__copy-button .copy-icon,
    .code-view__expand-button .expand-icon {
        fill: $default-dark-font-color;
        color: $default-dark-font-color;
    }

    .code-view__copy-button:hover .copy-text,
    .code-view__copy-button:hover .copy-icon,
    .code-view__expand-button:hover .expand-icon {
        fill: #163d43;
        color: #163d43;
    }

    .code-view__copy-button:disabled:hover .copy-text,
    .code-view__copy-button:disabled:hover .copy-icon {
        fill: $default-dark-font-color;
        color: $default-dark-font-color;
    }

    color: $default-dark-font-color;

    pre code.hljs {
        display: block;
        overflow-x: auto;
        padding: 16px;
    }

    code.hljs {
        padding: 3px 5px;
    }

    .hljs,
    .hljs-variable,
    .hljs-subst,
    .hljs-params,
    .language_ {
        color: $default-dark-font-color;
    }

    .hljs-comment,
    .hljs-doctag,
    .hljs-quote {
        color: #C1BEBE;
    }

    .hljs-keyword,
    .hljs-formula {
        color: #ACE1F8;
    }

    .hljs-section,
    .hljs-name,
    .hljs-selector-tag,
    .hljs-deletion {
        color: #FEDEDA;
    }

    .hljs-literal {
        color: #56b6c2;
    }

    .hljs-string,
    .hljs-selector-class,
    .hljs-meta .hljs-string {
        color: #81E1B5;
    }

    .hljs-regexp,
    .hljs-addition {
        color: #FFD46A;
    }

    .hljs-number {
        color: $default-dark-font-color;
    }

    .hljs-attr,
    .hljs-attribute,
    .hljs-type,
    .hljs-selector-attr,
    .hljs-selector-pseudo {
        color: #FEDEDA;
    }

    .hljs-symbol,
    .hljs-bullet,
    .hljs-link,
    .hljs-meta,
    .hljs-selector-id {
        color: #FFBC48;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-title {
        color: #F3ACD6;
    }

    .hljs-built_in,
    .hljs-title.class_,
    .hljs-class .hljs-title {
        color: #81E1B5
    }

    .hljs-emphasis {
        font-style: italic;
    }

    .hljs-strong {
        font-weight: bold;
    }

    .hljs-link {
        text-decoration: underline;
    }

    /// dark-mode scrollbar styles
    pre {
        &::-webkit-scrollbar-track {
            background: rgba(255, 255, 255, 0.1);
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.5);
        }

        &::-webkit-scrollbar-thumb:hover {
            background: rgba(255, 255, 255, 0.7);
        }

        scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.1);
    }

    &.multi-line .code-snippet-wrapper {
        pre {
            &::-webkit-scrollbar-track {
                background: rgba(255, 255, 255, 0.1);
                border-radius: 4px;
            }

            &::-webkit-scrollbar-thumb {
                background: rgba(255, 255, 255, 0.5);
                border-radius: 4px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: rgba(255, 255, 255, 0.7);
            }

            scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.1);
        }
    }
}
