/**
 * Shidoka Light Theme -- syntax highlighting for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Hsu Ka An
 */

$default-light-bg: #F9F9F9;
$default-light-font-color: #3D3C3C;


.shidoka-light-syntax-theme {
    background: $default-light-bg;

    code[class*="language-"],
    pre[class*="language-"] {
        color: $default-light-font-color;
        background: $default-light-bg;
        font-family: var(--kd-font-family-code-view);

        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;

        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }

    pre[class*="language-"]::-moz-selection,
    pre[class*="language-"] ::-moz-selection,
    code[class*="language-"]::-moz-selection,
    code[class*="language-"] ::-moz-selection {
        text-shadow: none;
        background: inherit;
    }

    pre[class*="language-"]::selection,
    pre[class*="language-"] ::selection,
    code[class*="language-"]::selection,
    code[class*="language-"] ::selection {
        text-shadow: none;
        background: $default-light-bg;
    }

    .code-view__copy-button:disabled .copy-text,
    .code-view__copy-button:disabled .copy-icon {
        fill: $default-light-font-color;
        color: $default-light-font-color;
    }

    @media print {

        code[class*="language-"],
        pre[class*="language-"] {
            text-shadow: none;
        }
    }

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
        color: #A5A0A0;
    }

    .token.punctuation {
        color: #746F6F;
    }

    .token.namespace {
        opacity: .7;
    }

    .token.tag,
    .token.deleted,
    .token.boolean,
    .token.constant,
    .token.symbol,
    .token.number,
    .token.property {
        color: #9B1200;
    }

    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.builtin,
    .token.inserted,
    .token.entity,
    .language-css .token.string,
    .style .token.string {
        color: #008D72;
    }

    .token.url,
    .token.operator {
        color: #813F01;
    }

    .token.atrule,
    .token.attr-value,
    .token.keyword {
        color: #236F96;
    }

    .token.function,
    .token.class-name {
        color: #DC4B89;
    }


    .token.regex,
    .token.important,
    .token.variable {
        color: #BC5802;
    }

    .token.important,
    .token.bold {
        font-weight: bold;
    }

    .token.italic {
        font-style: italic;
    }

    .token.entity {
        cursor: help;
    }


    /// scrollbar styles
    &.single-line .code-snippet-wrapper {
        pre {
            scrollbar-color: light-dark(rgba(0, 0, 0, 0.3) rgba(255, 255, 255, 0.1),
                    rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.1));

            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background: light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3));
                border-radius: 4px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: light-dark(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
            }

            &::-webkit-scrollbar-track {
                background: light-dark(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
                border-radius: 4px;
            }
        }
    }

    &.multi-line .code-snippet-wrapper {
        pre {
            scrollbar-color: light-dark(rgba(0, 0, 0, 0.3) rgba(255, 255, 255, 0.1),
                    rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.1));

            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-track {
                background: light-dark(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
                border-radius: 4px;
            }

            &::-webkit-scrollbar-thumb {
                background: light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3));
                border-radius: 4px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: light-dark(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5));
            }
        }
    }

    ///


    .code-snippet-wrapper pre::selection,
    .code-snippet-wrapper pre *::selection {
        background-color: rgba(0, 0, 0, 0.3);
        color: inherit;
    }

    .code-snippet-wrapper pre::-moz-selection,
    .code-snippet-wrapper pre *::-moz-selection {
        background-color: rgba(0, 0, 0, 0.3);
        color: inherit;
    }

    .shidoka-light-syntax-theme .code-snippet-wrapper pre::selection,
    .shidoka-light-syntax-theme .code-snippet-wrapper pre *::selection {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .shidoka-dark-syntax-theme .code-snippet-wrapper pre::selection,
    .shidoka-dark-syntax-theme .code-snippet-wrapper pre *::selection {
        background-color: rgba(0, 0, 0, 0.4);
    }

    .shidoka-light-syntax-theme .code-snippet-wrapper pre::-moz-selection,
    .shidoka-light-syntax-theme .code-snippet-wrapper pre *::-moz-selection {
        background-color: rgba(0, 0, 0, 0.2);
    }

    .shidoka-dark-syntax-theme .code-snippet-wrapper pre::-moz-selection,
    .shidoka-dark-syntax-theme .code-snippet-wrapper pre *::-moz-selection {
        background-color: rgba(0, 0, 0, 0.4);
    }
}
