@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/visibility.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: inline-block;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms ease-in-out;

  .stopped & {
    opacity: 0;
  }

  .hidden & {
    visibility: hidden;
  }
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  @include typography.type-body-02;
  color: var(--kd-color-text-level-primary);
}

svg {
  display: block;
  width: 16px !important;
}

.status-icon {
  position: absolute;
  left: 0;
  transition: opacity 250ms ease-in-out;
  opacity: 0;
}

.success {
  color: var(--kd-color-status-success-dark);

  .status-success & {
    opacity: 1;
  }
}

.error {
  color: var(--kd-color-status-error-dark);

  .status-error & {
    opacity: 1;
  }
}