@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/visibility.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--kd-color-dark-opacity-50);
  transition: opacity 500ms ease-out;

  &.stopped {
    opacity: 0;
  }

  &.hidden {
    visibility: hidden;
  }
}
