@use '../../../common/scss/global.scss';

:host {
  --skeleton-base-width: 95%;
  --skeleton-base-height: 12px;
  --skeleton-border-radius: 4px;
  --skeleton-background: #eef1f2;
  --skeleton-shimmer-duration: 1.5s;
}

:host {
  display: inline-block;
  width: 100%;
  height: auto;
}

.element-type-default {
  height: 100%;
  width: 100%;
}

.element-type-default:not(.inline) {
  min-height: 128px;
  width: 100%;
}

.element-type-default.inline {
  display: inline-block;
  height: 16px;
  width: 100%;
}

.element-type-default.inline.multi-line {
  height: 16px;
}

:host(.skeleton-item) {
  margin-bottom: 16px;
}

:host(.last-item) {
  margin-bottom: 0;
  margin-right: 0;
}

:host(.inline) {
  display: inline-block;
  width: 100%;
  margin-right: 8px;
}

.skeleton-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}

.element-type-card-logo {
  max-width: 32px;
  height: 32px;
  border-radius: 50px;
  width: var(--skeleton-base-width);
  border-radius: 100px;

  .skeleton {
    border-radius: 100px;
  }
}

.element-type-thumbnail.skeleton {
  height: 128px;
  width: 216px;
}

.element-type-title {
  max-width: 110px;
  height: 16px;
  width: var(--skeleton-base-width);
}

.element-type-tabs.skeleton {
  min-width: 50px;
  height: 12px;
}

.element-type-tag.skeleton {
  width: 100%;
  height: 100%;
}

.element-type-pagination.skeleton {
  width: 150px;
  height: 20px;
}

.element-type-subtitle {
  max-width: 150px;
  height: 16px;
  width: var(--skeleton-base-width);
}

.element-type-body-text {
  max-width: 100px;
  height: 16px;
  width: var(--skeleton-base-width);
}

.element-type-table-cell {
  height: var(--skeleton-base-height);
  min-width: 115px;
  width: var(--skeleton-base-width);
}

.skeleton {
  width: 100%;
  border-radius: var(--skeleton-border-radius);
  background: var(--skeleton-background);
  position: relative;
  overflow: hidden;
  will-change: transform;

  &.element-type-card-logo {
    border-radius: 100px;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%) translate3d(0, 0, 0);
    background-image: linear-gradient(90deg,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.2) 10%,
        rgba(255, 255, 255, 0.7) 50%,
        rgba(255, 255, 255, 0.2) 90%,
        rgba(255, 255, 255, 0) 100%);
    animation: shimmer var(--skeleton-shimmer-duration) cubic-bezier(0.4, 0, 0.2, 1) infinite;
    content: '';
    pointer-events: none;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%) translate3d(0, 0, 0);
  }

  100% {
    transform: translateX(100%) translate3d(0, 0, 0);
  }
}
