@use '../../../common/scss/global.scss';

:host {
  display: block;
  height: 28px;
}

.skeleton-block {
  border-radius: 4px;
  height: 100%;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #edf1f2;
  }
  50% {
    background-color: #d5d9db;
  }
  100% {
    background-color: #edf1f2;
  }
}
