@import '../../../common/scss/global.scss';

:host {
  display: block;
  // position: relative;
}

a {
  display: flex;
  align-items: center;
  height: 38px;
  padding: 0 16px;
  text-decoration: none;
  outline: 2px solid transparent;
  outline-offset: -2px;
  color: var(--color-text);
  transition: background-color 150ms ease-out, color 150ms ease-out,
    outline-color 150ms ease-out;

  &:hover {
    color: var(--color-text-hover);
    background: var(--color-background-hover);
  }

  &:focus {
    outline-color: var(--color-primary-hover);
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

::slotted(kyn-icon) {
  padding: 1px 0;
}

.level {
  &--1 {
    & a {
      font-weight: 500;
    }

    & .text {
      margin-left: 12px;
    }

    & ul {
      display: none;
    }
  }

  &--2 {
    & a {
      padding-left: 44px;
    }

    & ul {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 100%;
      background: var(--color-background);
      box-shadow: var(--shadow-menu);
      white-space: nowrap;
      transition: 0.15s all ease-out;
      transform: translateX(-20px);
      opacity: 0;
    }

    &:focus-within ul,
    &:hover ul {
      visibility: visible;
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.arrow-icon {
  margin-left: auto;

  kyn-icon {
    display: block;
  }
}

.nav-collapsed {
  .text,
  ul,
  .arrow-icon {
    display: none !important;
  }
}

.link-expanded {
  &.level--1 .arrow-icon {
    transform: rotate(180deg);
  }

  ul {
    display: block;
  }
}
