@import '../../../common/scss/global.scss';

:host {
  display: block;
}

nav {
  position: fixed;
  top: 0;
  padding-top: 48px;
  left: 0;
  bottom: 0;
  max-height: 100%;
  width: 256px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-background);
  box-shadow: var(--shadow-menu);
  font-size: 0.875rem;

  &.nav--collapsed {
    width: auto;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

.nav-toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 40px;
  background: var(--color-background-hover);
  border: none;
  color: var(--dx-color-text-on-dark);
  cursor: pointer;

  & kyn-icon {
    transform: rotate(180deg);
  }

  &:hover {
    background-color: var(--color-border);
  }

  &--collapsed {
    & kyn-icon {
      transform: rotate(0deg);
    }
  }
}
