@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

nav {
  @include typography.type-ui-05;
  position: fixed;
  top: 0;
  padding-top: var(--kd-header-height);
  left: 0;
  bottom: 0;
  max-height: 100%;
  width: 256px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--kd-color-background-ui-default);
  box-shadow: var(--kd-shadow-menu);
  z-index: var(--kd-z-side-nav);

  &.nav--collapsed {
    width: auto;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

.nav-toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 40px;
  background: var(--kd-color-background-ui-subtle);
  border: none;
  cursor: pointer;

  & kd-icon {
    transform: rotate(180deg);
  }

  &:hover {
    background-color: var(--kd-color-background-ui-subtle);
  }

  &--collapsed {
    & kd-icon {
      transform: rotate(0deg);
    }
  }
}
