@use '../../../common/scss/global.scss';
@use '../../../common/scss/form-input.scss';

:host {
  display: inline-block;
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

input[type='number'] {
  width: 60px;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Hide native arrow controls */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='range'] {
  -webkit-appearance: none;
  height: 8px;
  border-radius: 4px;
  background: var(--kd-color-background-accent-tertiary);
  outline: none;
  padding: 0;
  margin: 0;
  outline: 2px solid transparent;
  outline-offset: 2px;
  &[disabled] {
    background: var(--kd-color-text-level-disabled) !important;
    cursor: not-allowed;
  }
}

/* For chrome and Safari */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--kd-color-background-button-primary-state-default);
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/* For firefox */
input[type='range']::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: var(--kd-color-background-button-primary-state-default);
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/* For chrome and Safari focused */
input[type='range']:not(:disabled):focus::-webkit-slider-thumb {
  outline: 2px solid var(--kd-color-border-variants-focus);
}

/* For firefox focused */
input[type='range']:not(:disabled):focus::-moz-range-thumb {
  outline: 2px solid var(--kd-color-border-variants-focus);
}

/* For chrome and Safari disabled thumb */
input[type='range']:disabled::-webkit-slider-thumb {
  background: var(--kd-color-text-level-disabled);
  cursor: not-allowed;
}

/* For firefox disabled thumb */
input[type='range']:disabled::-moz-range-thumb:hover {
  background: var(--kd-color-text-level-disabled);
  cursor: not-allowed;
}
