@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/visibility.scss';

:host {
  @include typography.type-body-02;
  display: flex;
  align-items: center;
  gap: 6px;
}

.page-range {
  @media (max-width: calc(42rem - 1px)) {
    @include visibility.sr-only;
  }
}

span[slot='icon'] {
  display: flex;
}
