// pagination-page-size-dropdown.scss
@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  @include typography.type-body-02;
  align-items: center;
  gap: 8px;

  @media (min-width: 42rem) {
    display: flex;
  }
}

:host([mode='pagination']) .dropdown {
  padding: 0;
}

:host([mode='pagination']) .select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

:host([mode='pagination']) input.input-custom {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
  width: auto;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
}
