@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
  @include typography.type-body-02;
  align-items: center;
  display: flex;
}

.mobile {
  @media (min-width: 42rem) {
    display: none;
  }
}

.desktop {
  display: none;
  @media (min-width: 42rem) {
    display: block;
  }
}
