@use '../../../common/scss/global.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/visibility.scss';

:host {
  @include typography.type-body-02;
  display: flex;
  align-items: center;
  gap: 6px;
}

.page-range {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  @media (max-width: calc(42rem - 0.001px)) {
    @include visibility.sr-only;
  }
}

.page-number-input {
  --kyn-number-input-text-align: center;
}

span[slot='icon'] {
  display: flex;
}
