@use '../../../common/scss/global.scss';

:host {
  display: inline-block;
}

.inline-confirm {
  position: relative;
  padding-left: 42px;

  &.open-right {
    padding-left: 0;
    padding-right: 42px;
  }

  --animation-speed-in: 800ms;
  --animation-easing-in: cubic-bezier(0.34, 1.56, 0.64, 1);
  --animation-speed-out: 300ms;
  --animation-easing-out: cubic-bezier(0, 0, 0.58, 1);
}

#confirmation {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
  position: absolute;
  top: 0;
  right: 0;
  transition: opacity var(--animation-speed-out) var(--animation-easing-out),
    visibility var(--animation-speed-out) var(--animation-easing-out);
  visibility: hidden;
  opacity: 0;

  .open-right & {
    right: auto;
    left: 0;
    flex-direction: row;
  }

  .open & {
    visibility: visible;
    opacity: 1;
    transition-duration: var(--animation-speed-in);
    transition-timing-function: var(--animation-easing-in);
  }
}

.cancel-btn {
  z-index: 1;
}

.confirm-btn {
  animation: slide-out var(--animation-speed-out) var(--animation-easing-out);

  .open-right & {
    animation: slide-out-right var(--animation-speed-out)
      var(--animation-easing-out);
  }

  .open-right.open & {
    animation: slide-in-right var(--animation-speed-in)
      var(--animation-easing-in);
  }

  .open & {
    animation: slide-in var(--animation-speed-in) var(--animation-easing-in);
  }
}

.anchor {
  transition: opacity var(--animation-speed-out) var(--animation-easing-out);

  .open & {
    transition-duration: var(--animation-speed-in);
    transition-timing-function: var(--animation-easing-in);
    opacity: 0;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  80% {
    transform: translateX(-1%);
  }
  90% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(1%);
  }
  90% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
