@use '../../../common/scss/global.scss';

:host {
  display: inline-block;
}

.inline-confirm {
  position: relative;
}

.confirmation {
  display: flex;
  gap: 16px;
  position: absolute;
  top: 0;
  right: 0;
  transition: opacity 600ms ease-out, visibility 600ms ease-out;
  visibility: hidden;
  opacity: 0;

  .open-right & {
    right: auto;
    left: 0;
    flex-direction: row-reverse;
  }

  .open & {
    visibility: visible;
    opacity: 1;
  }
}

.confirm-btn {
  transition: transform 600ms ease-out;
  transform: translateX(50%);

  .open-right & {
    transform: translateX(-50%);
  }

  .open & {
    transform: translateX(0);
  }
}

.anchor {
  transition: opacity 600ms ease-out;

  .open & {
    opacity: 0;
  }
}
