@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/spacing.scss';

:host {
  display: inline-block;
}

.floating-btn-wrapper {
  display: flex;
  position: fixed;
  right: var(--kd-page-gutter);
  bottom: var(--kd-spacing-24);
  gap: var(--kd-spacing-8);
}
