@use '../../../common/scss/global.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/elevation.scss';
@use '../../../common/scss/gradients.scss' as gradient;

:host {
  display: block;
}

.ai-launch-button {
  width: 70px;
  height: 70px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  outline: 2px solid transparent;
  background: var(--kd-color-background-container-ai-level-2);
  transition: all 150ms ease-in-out;

  &:hover {
    @include gradient.border-gradient-ai(
      $gradient: gradient.$ai-gradient-default,
      $radius: 50%,
      $width: 2px,
      $surface: var(--kd-color-background-container-ai-level-2)
    );
  }

  &:focus-visible {
    outline-color: var(--kd-color-border-variants-focus);
    outline-offset: -2px;
  }

  &:active {
    background: var(--kd-color-background-container-ai-default);
    border: 4px solid var(--kd-color-border-button-ai-state-pressed);
    outline-color: transparent;
  }

  &.disabled {
    background: var(--kd-color-background-container-ai-disabled);
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none;
    border: 1px solid var(--kd-color-border-ui-disabled);
  }

  @include elevation.shadow(3, true);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 50px;
  width: 48px;
  height: 48px;
}

svg {
  display: block;
  background: transparent;
}
