@use '../../../common/scss/global.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/variables/breakpoints.scss';
@use '../../../common/scss/gradients.scss' as gradient;

@mixin side-accent-bg($side) {
  background-repeat: no-repeat;
  background-image: linear-gradient(
    var(--tab-accent, transparent),
    var(--tab-accent, transparent)
  );
  @if $side == bottom {
    background-position: left bottom;
    background-size: 100% var(--tab-accent-thickness, 0px);
  } @else if $side == left {
    background-position: left top;
    background-size: var(--tab-accent-thickness, 0px) 100%;
  }
}

:host {
  display: block;
  border-radius: 4px 4px 0 0;
  padding-top: 2px;
}

@media (min-width: breakpoints.$bp-md) {
  .tab.vertical {
    border-radius: 0 4px 4px 0;
  }
}

.tab {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  border-radius: 4px 4px 0 0;
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: outline-color 150ms ease-out, background-color 150ms ease-out,
    color 150ms ease-out;
  border: 0;
  border-bottom: 1px solid var(--kd-color-border-accent-secondary);
  --tab-accent: transparent;
  --tab-accent-thickness: 0px;
  @include side-accent-bg(bottom);

  &.size--md {
    height: 48px;
    padding: 12px 14px;
  }
  &.size--sm {
    @include typography.type-ui-03;
    height: 30px;
    padding: 7px 14px;
  }

  &.selected {
    font-weight: var(--kd-font-weight-medium);
    --tab-accent: var(--kd-color-border-button-primary-state-default);
    --tab-accent-thickness: 2px;
    @include side-accent-bg(bottom);
  }

  &:not(.disabled):not(.ai-connected) {
    color: var(--kd-color-text-level-primary);

    &.selected {
      color: var(--kd-color-text-link-level-default);
    }

    &:hover,
    &.selected:hover {
      background: var(--kd-color-background-button-secondary-state-hover);
      color: var(--kd-color-text-level-primary);
      --tab-accent: var(--kd-color-border-button-primary-state-hover);
      --tab-accent-thickness: 2px;
      @include side-accent-bg(bottom);
    }

    &:active,
    &.selected:active {
      background: var(--kd-color-background-button-primary-state-pressed);
      color: var(--kd-color-text-level-light);
      --tab-accent: var(--kd-color-border-button-secondary-state-hover);
      --tab-accent-thickness: 2px;
      @include side-accent-bg(bottom);
    }
  }

  &.ai-connected:not(.disabled) {
    color: var(--kd-color-text-button-ai-default);

    &.selected {
      color: var(--kd-color-text-button-ai-default);
      --tab-accent: var(--kd-color-border-button-ai-state-focused);
    }

    &:hover,
    &.selected:hover {
      @include gradient.gradient-ring(
        4px 4px 0 0,
        1px,
        var(--kd-color-background-button-primary-ai-hover)
      );
      color: var(--kd-color-text-level-primary);
      --tab-accent: linear-gradient(
        to right,
        var(--kd-color-border-button-ai-state-focused),
        var(--kd-color-border-button-ai-state-focused)
      );
      --tab-accent-thickness: 3px;
      @include side-accent-bg(bottom);
    }

    &:active,
    &.selected:active {
      background: var(--kd-color-background-button-primary-ai-pressed);
      color: var(--kd-color-text-button-primary);
      --tab-accent: transparent;
      --tab-accent-thickness: 0;
    }
  }

  @media (min-width: breakpoints.$bp-md) {
    &.vertical {
      border-radius: 0 4px 4px 0;
      white-space: initial;
      text-align: left;
      border-bottom: none;
      margin-left: -1px;
      padding-left: calc(14px + 2px);
      border-left: 1px solid var(--kd-color-border-accent-secondary);
      @include side-accent-bg(left);
    }

    &.vertical.selected {
      --tab-accent: var(--kd-color-border-button-primary-state-default);
      --tab-accent-thickness: 2px;
      @include side-accent-bg(left);
    }

    &.vertical:not(.disabled):not(.ai-connected) {
      &:hover,
      &.selected:hover {
        background: var(--kd-color-background-button-secondary-state-hover);
        color: var(--kd-color-text-level-primary);
        --tab-accent: var(--kd-color-border-button-primary-state-hover);
        --tab-accent-thickness: 2px;
        @include side-accent-bg(left);
      }

      &:active,
      &.selected:active {
        background: var(--kd-color-background-button-primary-ai-pressed);
        color: var(--kd-color-text-button-dark-primary);
        --tab-accent: transparent;
        --tab-accent-thickness: 0;
      }
    }

    &.vertical.ai-connected:not(.disabled) {
      &:hover,
      &.selected:hover {
        @include gradient.gradient-ring(
          0 4px 4px 0,
          1px,
          var(--kd-color-background-button-primary-ai-hover)
        );
        color: var(--kd-color-text-level-primary);
        --tab-accent: linear-gradient(
          to bottom,
          var(--kd-color-border-button-ai-state-focused),
          var(--kd-color-border-button-ai-state-focused)
        );
        --tab-accent-thickness: 3px;
        @include side-accent-bg(left);
      }

      &:active,
      &.selected:active {
        background: var(--kd-color-background-button-primary-ai-pressed);
        color: var(--kd-color-text-button-dark-primary);
        --tab-accent: var(--kd-color-background-button-primary-ai-pressed);
        --tab-accent-thickness: 2px;
        @include side-accent-bg(left);
      }
    }
  }
}

.tab:focus-visible {
  outline-color: transparent;
  --tab-accent: var(--kd-color-border-variants-focus);
  --tab-accent-thickness: 1px;
  @include side-accent-bg(bottom);
}

.tab.ai-connected:focus-visible {
  outline-color: transparent;
  --tab-accent: var(--kd-color-border-button-ai-state-focused);
  --tab-accent-thickness: 1px;
  @include side-accent-bg(bottom);
}

@media (min-width: breakpoints.$bp-md) {
  .tab.vertical:focus-visible {
    --tab-accent: var(--kd-color-border-variants-focus);
    --tab-accent-thickness: 1px;
    @include side-accent-bg(left);
  }
  .tab.vertical.ai-connected:focus-visible {
    --tab-accent: var(--kd-color-border-button-ai-state-focused);
    --tab-accent-thickness: 1px;
    @include side-accent-bg(left);
  }
}
