@use '../../../common/scss/global.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/variables/breakpoints.scss';

:host {
  display: none;
}

:host([visible]) {
  display: block;
}

.tab-panel {
  padding: 24px 12px;

  &.no-padding {
    padding: 16px 0 8px;
  }

  @media (min-width: breakpoints.$bp-md) {
    &.vertical {
      padding: 12px 24px;

      &.no-padding {
        padding: 12px 24px;
      }
    }
  }
}
