@use '../../../common/scss/global.scss';

:host {
  display: none;
}

:host([visible]) {
  display: block;
}

.tab-panel {
  padding: 24px 16px;

  &.vertical {
    padding: 12px 24px;
  }

  &.no-padding {
    padding: 0;
  }
}
