@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/variables/breakpoints.scss';

:host {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: breakpoints.$bp-md) {
    &.vertical {
      flex-direction: row;
    }
  }
}

.tabs {
  display: flex;
  gap: 1px;
  overflow-x: auto;

  @media (min-width: breakpoints.$bp-md) {
    .vertical & {
      flex-direction: column;
    }
  }
}

.panels {
  padding: 24px 0;

  @media (min-width: breakpoints.$bp-md) {
    .vertical & {
      padding: 0 24px;
    }
  }
}

::slotted(kyn-tab) {
  border-bottom: 1px solid var(--kd-color-border-light);
  background: var(--kd-color-background-ui-default);

  .size--sm & {
    @include typography.type-ui-03;
    height: 40px;
  }

  .size--md & {
    height: 48px;
  }

  .size--lg & {
    @include typography.type-headline-08;
    font-weight: 300;
    height: 56px;
  }

  .vertical & {
    border-bottom: none;
    border-left: 1px solid var(--kd-color-border-light);
  }

  .contained & {
    border-bottom: none;
    border-top: 1px solid transparent;
    background: var(--kd-color-background-ui-soft);
  }

  .contained.vertical & {
    border-top: none;
  }
}

::slotted(kyn-tab:hover) {
  color: var(--kd-color-text-link-hover);
  border-color: var(--kd-color-border-tertiary);
}

::slotted(kyn-tab:focus) {
  outline-color: var(--kd-color-border-focus);
}

::slotted(kyn-tab:active) {
  color: var(--kd-color-text-pressed);
  border-color: var(--kd-color-border-tertiary);
}

::slotted(kyn-tab[selected]) {
  color: var(--kd-color-text-link);
  font-weight: 500;
  border-color: var(--kd-color-border-tertiary);
  box-shadow: 0 -1px 0 0 var(--kd-color-border-tertiary) inset;

  .size--lg & {
    font-weight: 400;
  }

  .vertical & {
    box-shadow: 1px 0 0 0 var(--kd-color-border-tertiary) inset;
  }

  .contained & {
    box-shadow: 0 1px 0 0 var(--kd-color-border-tertiary) inset;
  }

  .vertical.contained & {
    box-shadow: 1px 0 0 0 var(--kd-color-border-tertiary) inset;
  }
}
