@use '../../../common/scss/global.scss';
@use '@kyndryl-design-system/shidoka-foundation/scss/variables/breakpoints.scss';

:host {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;

  &.scrollable {
    align-items: stretch;
    height: 100%;
  }

  @media (min-width: breakpoints.$bp-md) {
    &.vertical {
      flex-direction: row;
      align-items: stretch;
      min-height: 100%;
    }
  }
}

.tabs {
  position: relative;
  display: flex;
  gap: 4px;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid var(--kd-color-border-accent-secondary);
    z-index: -1;
  }

  &:not(.vertical) {
    overflow-x: auto;
  }

  @media (min-width: breakpoints.$bp-md) {
    .vertical & {
      flex-direction: column;
      overflow: hidden;
      max-height: 100%;
      width: max-content;
    }

    .vertical &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      border: 0;
      border-left: 1px solid var(--kd-color-border-accent-secondary);
      z-index: -1;
    }
  }
}

.panels {
  flex-grow: 1;

  .scrollable & {
    overflow-y: auto;
    height: 100%;
    transition: outline 150ms ease-out;
    outline: 2px solid transparent;
  }

  &:focus-visible {
    outline-color: var(--kd-color-border-variants-focus);
  }
}
