@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/variables/breakpoints.scss';

:host {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: breakpoints.$bp-md) {
    &.vertical {
      flex-direction: row;
    }
  }
}

.tabs {
  display: flex;
  gap: 1px;
  overflow-x: auto;

  @media (min-width: breakpoints.$bp-md) {
    .vertical & {
      flex-direction: column;
    }
  }
}

.panels {
  padding: 24px 0;

  @media (min-width: breakpoints.$bp-md) {
    .vertical & {
      padding: 0 24px;
    }
  }
}

::slotted(kyn-tab:focus) {
  outline-color: var(--kd-color-border-focus);
}
