:host {
  display: block;
}

div {
  width: inherit;
}

.popover-modal {
  width: 100%;
}

.expansion-container {
  margin-top: 0;
  border: 1px dashed var(--kd-color-utility-variant-border);
  border-radius: 8px;
  opacity: 0.9;
  background: var(--kd-color-background-container-subtle);
  padding: 4px 16px;
  text-align: center;
  border-radius: 4px;
  flex: 1;
  margin-right: 40px;
}

span svg {
  width: 67px;
  height: 67px;
}
