/* import roboto from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* include everett fonts locally */
@font-face {
  font-family: 'TWK Everett';
  src: url(assets/fonts/TWKEverett-Regular-web.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url(assets/fonts/TWKEverett-Bold-web.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* define all of the css variables/tokens */
:root {
  --font-body: 'Roboto', sans-serif;
  --font-heading: 'TWK Everett', sans-serif;

  --color-brand: #ff462d;
  --color-brand-text: #fb4425;
  --color-text: #3d3c3c;
  --color-text-hover: #29707a;
  --color-primary: #2f808c;
  --color-primary-text: #ffffff;
  --color-primary-hover: #3d3c3c;
  --color-primary-focus: #163d43;
  --color-primary-active: #163d43;
  --color-primary-active-text: #f9f9f9;
  --color-secondary: #f7f7f7;
  --color-background: #ffffff;
  --color-background-hover: #f9f9f9;
  --color-border: #e2e2e2;
  --color-disabled: rgba(0, 0, 0, 0.1);
  --color-disabled-text: rgba(100, 110, 117, 0.75);

  --shadow-menu: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* define any inheritable styles that we want to pierce the shadow dom */
body {
  font-family: var(--font-body);
  background: var(--color-background);
}
