@font-face {
  font-family: 'TWK Everett';
  src: url(assets/fonts/TWKEverett-Regular-web.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url(assets/fonts/TWKEverett-Bold-web.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-body: 'Roboto', sans-serif;
  --font-heading: 'TWK Everett', sans-serif;
  --color-brand: #ff462d;
  --color-text: #3d3c3c;
  --color-primary: #2f808c;
  --color-primary-text: #ffffff;
  --color-primary-hover: #3d3c3c;
  --color-primary-focus: #163d43;
  --color-primary-active: #163d43;
  --color-primary-active-text: #f9f9f9;
  --color-secondary: #f7f7f7;
  --color-background: #ffffff;
  --color-border: #e2e2e2;
  --color-disabled: rgba(0, 0, 0, 0.1);
  --color-disabled-text: rgba(100, 110, 117, 0.75);
}

body {
  font-family: var(--font-body);
  background: var(--color-background);
}
