/* import roboto from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');

/* include everett fonts locally */
@font-face {
  font-family: 'TWK Everett';
  src: url(assets/fonts/TWKEverett-Light-web.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url(assets/fonts/TWKEverett-Regular-web.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src: url(assets/fonts/TWKEverett-Bold-web.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* define all of the css variables/tokens */
:root {
  --font-body: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  --font-heading: 'TWK Everett', 'Helvetica', 'Arial', sans-serif;

  --color-brand: #ff462d;
  --color-brand-text: #fb4425;
  --color-text-on-brand: #fff;
  --color-text: #3d3c3c;
  --color-text-light: #666;
  --color-text-hover: #2f808c;
  --color-primary: #29707a;
  --color-primary-text: #ffffff;
  --color-primary-hover: #2f808c;
  --color-primary-focus: #2f808c;
  --color-primary-active: #163d43;
  --color-primary-active-text: #f9f9f9;
  --color-secondary: #f7f7f7;
  --color-background: #ffffff;
  --color-background-hover: #f4f4f4;
  --color-background-focus: #f4f4f4;
  --color-border: #e2e2e2;
  --color-divider: #8c8c8c;
  --color-divider-light: #dcdad8;
  --color-disabled: rgba(0, 0, 0, 0.1);
  --color-disabled-text: rgba(100, 110, 117, 0.75);

  --shadow-menu: 0px 4px 4px rgba(0, 0, 0, 0.25);

  --header-height: 56px;

  --spacing-gutter: 16px;
}

@media screen and (min-width: 42rem) {
  :root {
    --spacing-gutter: 32px;
  }
}

/* define any inheritable styles that we want to pierce the shadow dom */
html,
body {
  min-height: 100%;
}

body {
  font-family: var(--font-body);
  line-height: 1.375rem;
  background: var(--color-background);
}
