@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

:host {
    display: block;
    font-family: var(--kd-font-family);
}

:host(kyn-code-view) {
    position: relative;
    margin-bottom: 0;
}

::slotted([slot="inline-example"]) {
    display: inline;
    margin-right: 0.25em;
    vertical-align: baseline;
}

.code-view__title {
    margin-bottom: var(--kd-spacing-06);
    @include typography.type-ui-05;
    color: var(--kd-color-text-secondary);
}

.code_view__container {
    background-color: var(--kd-color-background-ui-soft);
    position: relative;
    overflow: hidden;

    pre {
        margin: 0;
        overflow-x: auto;
        color: var(--kd-color-text-primary);
        background-color: var(--kd-color-background-ui-soft);
    }

    code {
        font-family: var(--kd-font-family-mono);
        font-size: 14px;
        line-height: 1.5;
    }

    .code-view__copy-button {
        z-index: 1;
        cursor: pointer;

        .copy-text {
            margin-left: 4px;
        }

        &:disabled {
            cursor: not-allowed;

            .copy-text,
            .copy-icon {
                color: var(--kd-color-background-ui-pressed);
            }
        }

        &.icon-only {
            padding: 8px;
            min-width: unset;
        }
    }

    &.snippetType--inline {
        display: inline-flex;
        align-items: center;
        width: auto;
        border-radius: 4px;
        vertical-align: baseline;
        margin: 0 0.25em;
        padding: 0.1em 0.4em;
        line-height: normal;

        pre {
            padding: 0;
            margin: 0;
            background: none;
        }

        code {
            font-size: 0.875em;
            line-height: inherit;
            white-space: pre-wrap;
            word-break: break-word;
        }
    }

    &.snippetType--block {
        border-radius: 4px;

        pre {
            padding: 0px 16px 5px;
            tab-size: 4;
            white-space: pre;

            code {
                display: block;
                white-space: pre;
                padding: 10px;
            }
        }

        .code-view__copy-button {
            position: absolute;
            bottom: 0;
            right: 0;
            width: auto;
            padding: 10px 8px;
        }

        .code-view__copied {
            bottom: -45px;
            top: auto;
        }

        &.single-line {
            width: fit-content;

            pre {
                padding: 1px 100px 1px 16px;
                display: flex;
                align-items: center;
                line-height: 1.5;
                max-width: calc(100% - 100px);
                min-height: 40px;
                width: fit-content;
            }

            .code-view__copy-button {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: auto;
                padding: 6px;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
            }

            &.size--sm pre code {
                font-size: 12px;
            }
        }

        &.multi-line {
            &.size--auto {
                max-width: 95%;

                pre {
                    max-height: 90vh;
                }
            }

            &.size--sm {
                max-width: 480px;

                pre {
                    max-height: 240px;

                    code {
                        font-size: 12px;
                    }
                }
            }

            &.size--md {
                max-width: 560px;

                pre {
                    max-height: 320px;
                }
            }

            &.size--lg {
                max-width: 640px;

                pre {
                    max-height: 400px;
                }
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .code_view__container.snippetType--inline {
        display: inline-block;
        margin: 0.25em 0;
    }
}
