@use '../../common/scss/global.scss';
@use '../../common/scss/mixins.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/visibility.scss';

.aiInfo-card {
  &-container {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
  }

  &-title-text {
    @include typography.type-ui-04;
    color: var(--kd-color-text-title-ai-tertiary);
  }

  &-sub-text {
    @include typography.type-ui-02;
    color: var(--kd-color-text-level-primary);
  }
  &-leftIcon {
    color: var(--kd-color-icon-primary);
    slot[name='leftIcon']::slotted(*) {
      display: flex;
    }
  }
  &-rightIcon {
    color: var(--kd-color-icon-primary);
    slot[name='rightIcon']::slotted(*) {
      display: flex;
    }
  }
}
