@use '../../common/scss/global.scss';
@use '../../common/scss/mixins.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';

.vital-card {
  &-title-label {
    @include typography.type-body-02;
    color: var(--kd-color-text-secondary);
    margin-bottom: 8px;
  }
  &-title {
    @include typography.type-headline-07;
    color: var(--kd-color-text-primary);
    margin-top: 0px;
    margin-bottom: 4px;
  }
  &-category-text {
    @include typography.type-ui-02;
    color: var(--kd-color-text-secondary);
    margin-top: 4px;
    margin-bottom: 0px;
  }
  &-subcategory-text {
    @include typography.type-ui-03;
    color: var(--kd-color-darkstone-50);
    margin-top: 0;
    margin-bottom: 4px;
  }
  &-btn {
    @include typography.type-body-02;
    display: flex;
    align-items: center;
    background-color: var(--kd-color-transparent);
    color: var(--kd-color-text-tertiary);
    border: none;
    min-width: initial;
    cursor: pointer;
    height: 48px;
    padding-left: 0px;
    padding-right: 3px;
    &:hover {
      background-color: var(--kd-color-background-accent-subtle);
    }
    &:active {
      color: var(--kd-color-text-tertiary-bold);
    }
    &:focus {
      outline-color: var(--kd-color-border-focus);
    }
    &-icon {
      margin-left: 8px;
    }
  }
  &-label-mobile {
    @include typography.type-body-02;
    color: var(--kd-color-text-secondary);
    margin-bottom: 0px;
  }
  &-mobile-title {
    @include typography.type-body-02;
    color: var(--kd-color-text-primary);
    margin: 0;
  }
  &-mobile-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-mobile-wrapper-subdiv {
    display: flex;
    align-items: center;
  }
  &-cat-subcat-text {
    margin-left: 10px;
  }
}
