:host {
  display: flex;
  align-items: center;
}

.actions-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

kyn-button {
  margin: 4px;
}

.vertical-overflow-menu {
  display: none;
}

@media (max-width: 767px) {
  .actions-container {
    display: none;
  }

  .vertical-overflow-menu {
    display: flex;
    margin-left: 15px;
  }
}
