@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  @include typography.type-ui-03;
  text-transform: uppercase;
  font-weight: var(--kd-font-weight-medium);
  padding: 0;
}
