@use '../../../common/scss/global.scss';
@use '../../../common/scss/mixins.scss';
@use '~@kyndryl-design-system/foundation/scss/mixins/typography.scss';

:host {
  display: block;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  @include typography.type-ui-03;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0;
  margin-bottom: 8px;

  fieldset[disabled] & {
    color: var(--kd-color-text-disabled);
  }
}

.required {
  color: var(--kd-color-text-error);

  [disabled] & {
    color: var(--kd-color-text-disabled);
  }
}

.error {
  @include typography.type-ui-03;
  display: flex;
  align-items: center;
  color: var(--kd-color-text-error);
  margin-top: 8px;

  kd-icon {
    margin-right: 8px;
  }

  [disabled] & {
    color: var(--kd-color-text-disabled);
  }
}
