@use '../../../common/scss/global.scss';
@use '../../../common/scss/mixins.scss';
@use '../../../common/scss/form-input.scss';

:host {
  display: block;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

.horizontal {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 12px;
}

.error {
  order: 1;
  span {
    display: flex;
  }
}
