@use '../../../common/scss/global.scss';
@use '../../../common/scss/form-input.scss';

:host {
  display: block;
}

label {
  display: inline-flex;
  gap: 10px;

  &[disabled] {
    color: var(--kd-color-text-level-primary);
  }
}

span {
  order: 1;
}

input {
  order: 0;
  -webkit-appearance: none;
  appearance: none;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: 2px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--kd-color-border-forms-default);
  border-radius: 50%;
  background: var(--kd-color-background-ui-hollow-default);
  outline: 2px solid transparent;
  transition: background-color 150ms ease-out, border-color 150ms ease-out,
    outline-color 150ms ease-out;

  &::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--kd-color-background-container-default);
    transition: 150ms transform ease-out;
    transform: scale(0);
  }

  &[checked] {
    border-color: var(--kd-color-background-button-secondary-state-default);
    border-width: 3px;

    &::before {
      transform: scale(1);
      background: var(--kd-color-background-button-secondary-state-default);
    }

    &:hover {
      border-color: var(--kd-color-background-ui-default-secondary);
      background: var(--kd-color-background-ui-hollow-default);
      outline-color: transparent;

      &::before {
        background: var(--kd-color-background-ui-default-secondary);
      }
    }

    &:focus {
      border-color: var(--kd-color-background-button-secondary-state-default) !important;
      outline-color: var(--kd-color-background-ui-default-focus);

      &::before {
        background: var(--kd-color-background-button-secondary-state-default) !important;
      }
    }

    &:active {
      &::before {
        background: var(--kd-color-background-button-primary-default);
      }
    }
  }

  &:hover {
    border-color: var(--kd-color-border-ui-hover);
    background-color: var(--kd-color-background-ui-hollow-hover);
    outline: transparent;
  }

  &:not([disabled]):active {
    border-color: var(--kd-color-border-ui-hover);
    background-color: var(--kd-color-background-ui-hollow-pressed);
    outline-color: transparent;
  }

  &:focus {
    outline-color: var(--kd-color-border-variants-focus);
    outline-offset: 2px;

    &:not([checked]) {
      &::before {
        background: var(--kd-color-background-container-default);
      }
    }
  }

  &:active {
    background-color: var(--kd-color-background-ui-default-pressedi);
    border-color: var(--kd-color-background-ui-hollow-pressed);
  }

  &[invalid] {
    border-color: var(--kd-color-status-error-dark);

    &::before {
      background: var(--kd-color-status-error-dark);
    }
  }

  &[disabled] {
    border-color: var(--kd-color-text-link-level-disabled);
    outline-color: transparent;
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      background: transparent;
      border-color: var(--kd-color-border-ui-disabled);
    }

    &::before {
      background: var(--kd-color-background-ui-default-disabled);
    }

    &[invalid] {
      border-color: var(--kd-color-border-ui-disabled);
    }
  }

  &[disabled][checked],
  &[disabled]:active,
  &[disabled]:hover {
    border-color: var(--kd-color-border-ui-disabled);
    background: var(--kd-color-background-container-default);

    &::before {
      background: var(--kd-color-background-ui-default-disabled);
    }
  }
}
