@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/elevation.scss';

:host {
    display: inline-block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#modal {
    @include elevation.shadow(3);
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    animation: fadeIn 0.3s ease-in;
}

#modal-inner {
    text-align: left;
    width: 95%;
    height: 90vh;
    min-height: 240px;
    color: black;
    border: none;
    margin: 8px auto;
    padding: 24px 32px 8px;
    box-shadow: rgba(61, 60, 60, 0.25) 0px 2px 12px 0px;
    background-color: white;
    font-family: Arial;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow-y: auto;
    transform: translateX(-50%) translateY(-53%);

    &.auto {
        max-width: 95%;
        max-height: 90vh;
    }

    &.sm {
        max-width: 400px;
        max-height: 352px;

        #modal-body {
            max-height: 43%;
        }
    }

    &.md {
        max-width: 560px;
        max-height: 448px;
    }

    &.lg {
        max-width: 720px;
        max-height: 512px;
    }
}

#modal-title {
    @include typography.type-headline-05;
    margin-bottom: 0;
}

#modal-subheader {
    margin-top: 5.6px;
    @include typography.type-ui-01;
}

#modal-body {
    @include typography.type-ui-02;
    margin-top: 20px;
    padding-top: 0;
    line-height: 1.6;
    width: 95%;
    min-height: 96px;
    padding-bottom: 10%;
    max-height: 48%;
    overflow-y: auto;

    ::slotted(*) {
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        color: inherit;
        margin: 0;
        padding: 0;
    }
}

#timestamp {
    position: absolute;
    bottom: 20px;
    right: 28px;
    font-size: 12.8px;
    color: grey;
}

.show-hide-button {
    min-width: 160px;
}

#modal-footer {
    position: absolute;
    bottom: 24px;
    left: 24px;
    width: 100%;
    padding-top: 16px;
    top: auto;
    background-color: white;

    .hide-on-modal {
        margin-right: 16px;
    }
}

.x-out {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 10.4px 12px 8px;
    box-shadow: none;
    margin: 0;
    font-size: 12px;
    cursor: pointer;
    font-weight: lighter;
    border-radius: 3px;
    transition: all ease-in-out 400ms;
}

.x-out:hover {
    background-color: lightgray;
    opacity: 0.2;
    color: black;
    opacity: 0.8;
}
