@use '../../../common/scss/global.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/typography.scss';
@use '~@kyndryl-design-system/shidoka-foundation/scss/mixins/elevation.scss';

:host {
    display: inline-block;
}

dialog {
    @include elevation.shadow(3);
    padding: 32px 45px;
    color: inherit;
    background: var(--kd-color-background-ui-default);
    border-radius: 8px;
    border: 1px solid var(--kd-color-border-light);
    min-width: 288px;
    max-width: calc(100% - 32px);
    max-height: calc(100% - 32px);
    overflow: hidden;

    &[open] {
        display: flex;
        animation: dialog-in 400ms ease-out;
    }

    &::backdrop {
        background: rgba(60, 61, 60, 0.4);
    }

    &.size--sm {
        width: 384px;
    }

    &.size--md {
        width: 800px;
    }

    &.size--lg {
        width: 900px;
    }

    &.size--auto {
        width: 95%;
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--kd-color-background-ui-default);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dialog-footer {
    position: sticky;
    bottom: 0px;
    z-index: 1;
    margin-top: 32px;
    background-color: var(--kd-color-background-accent-subtle);
    padding: 24px 32px 24px 32px;
    border-top: 1px solid var(--kd-color-border-light);
}

#modal-title {
    @include typography.type-headline-05;
    margin-bottom: 0;
}

#modal-subheader {
    display: block;
    margin: 10px 0 20px;
    @include typography.type-ui-01;
}

.body {
    @include typography.type-ui-02;
    padding-top: 0;
    line-height: 1.6;
    width: 95%;
    min-height: 96px;
    padding-bottom: 10%;
    max-height: 48%;
    overflow-y: auto;

    ::slotted(*) {
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        color: inherit;
        margin: 0;
        padding: 0;
    }

    &.modal-body-sm {
        max-height: 15rem;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px 45px;
    top: auto;
    background-color: white;

    .action-button {
        width: 100px;

        &:nth-of-type(2) {
            margin-left: 25px;
        }
    }

    .hide-on-modal {
        margin-right: 26px;
    }
}

.close {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 10.4px 12px 8px;
    box-shadow: none;
    margin: 0;
    font-size: 12px;
    cursor: pointer;
    font-weight: lighter;
    border-radius: 3px;
    transition: all ease-in-out 400ms;
}

.close:hover {
    background-color: lightgray;
    opacity: 0.2;
    color: black;
    opacity: 0.8;
}

@supports (transition-behavior: allow-discrete) {
    dialog {
        transition: opacity 400ms ease-out, transform 400ms ease-out,
            overlay 400ms ease-out allow-discrete,
            display 400ms ease-out allow-discrete;
        opacity: 0;
        transform: scale(0);

        &::backdrop {
            background-color: rgba(0, 0, 0, 0);
            transition: display 400ms allow-discrete, overlay 400ms allow-discrete,
                background-color 400ms;
        }

        &[open] {
            animation: none;
            opacity: 1;
            transform: scale(1);

            &::backdrop {
                background-color: rgba(0, 0, 0, 0.4);
            }
        }
    }
}

@keyframes dialog-in {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
