@import '../../common/scss/global.scss';
@import '../../common/scss/header-interactive.scss';

:host {
  display: inline-block;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  font-size: 0.875rem;
  text-decoration: none;
  color: var(--color-text);
  white-space: nowrap;
}

slot {
  display: flex;
  position: absolute;
}

.menu__content {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  right: auto;
  left: 0;
}

kyn-icon {
  margin-left: 4px;
}
